<input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
<input type="hidden" name="start_stage1" value = "">
<div class="form-group">
    <label class="text-danger">{{ _('Discard / delete all testing data (Option is "No" by default)') }}</label>
    <input type="checkbox" name="discard_testing_data" class="js-switch"/>
    <span class="form-text m-b-none text-warning">{{ _('Change the switch if you want to start with a clean repository') }}</span>
</div>
<hr>
{% if form_data.form_pkey == None %}
<div class="form-group">
    <label>{{ _('Which variable will be used to control duplicate submissions?') }}</label>
    <input id="form_pkey" name="form_pkey" type="text" class="form-control">
    <span style="color: #026AA8" class="form-text m-b-none">{{ _('This will become the Primary Key of the repository. If you have more than one variable then use an ODK Calculate to join them.') }}</span>
</div>
{% else %}
    <input id="form_pkey" name="form_pkey" value="{{ form_data.form_pkey }}" type="hidden" class="form-control">
{% endif %}
<div class="form-actions">
    <button class="btn btn-primary" type="submit">
        {{ _('Create repository') }}
    </button>
</div>