<div class="col-sm-12">
    <h2>{{ _('Edit user') }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("manage_users",userid=userid) }}">{{ _('FormShare users') }}</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>{{ _('Editing') }} "{{ userData.user_name }}"</strong>
        </li>
    </ol>
</div>