<div class="col-sm-12">
    <h2>{{ _('User list') }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <strong>{{ _('FormShare users') }}</strong>
        </li>
    </ol>
</div>