{% block user_form %}
    <form class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
        {{ form.secure_form(request) }}
        {% block user_form_code %}
            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('User name') }}</label>
                <div class="col-sm-10"><input maxlength="120" type="text" class="form-control" name="user_id" value="{{ userData.user_id }}"> <span class="form-text m-b-none">{{ _('The user name must be unique and cannot be changed afterwards') }}</span> </div>
            </div>
        {% endblock user_form_code %}
        <div class="hr-line-dashed"></div>
        <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Full name') }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_name" value="{{ userData.user_name }}">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Email') }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_email" value="{{ userData.user_email }}">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        {% block user_form_passwords %}
            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Password') }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="user_password">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Password confirmation') }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="user_password2">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        {% endblock user_form_passwords %}

        {% block user_form_roles %}
            {% if use_roles %}
                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Roles') }}</label>
                    <div class="col-sm-10">
                        <select name="roles" multiple="multiple" id="user_roles" style="width: 100%">
                            {% for a_role in available_roles %}
                                {% if not a_role.role_internal %}
                                    <option value="{{ a_role.role_id }}" {% if a_role.role_id in user_roles %} selected {% endif %}>{{ a_role.role_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            {% endif %}
        {% endblock user_form_roles %}

        {% block user_form_tenant %}
            {% if use_tenants %}
                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Tenant') }}</label>
                    <div class="col-sm-10">
                        <select name="user_tenant" id="user_tenant" style="width: 25%">
                            {% for a_tenant in tenants %}
                                <option value="{{ a_tenant.tenant_id }}" {% if userData.user_tenant == a_tenant.tenant_id %} selected {% endif %}>{{ a_tenant.tenant_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            {% endif %}
        {% endblock user_form_tenant %}

        <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Is super user') }}</label>
            <div class="col-sm-10"><input type="checkbox" name="user_super" class="js-switch" {% if userData|length > 0 %} {% if userData.user_super == 1 %}checked{% endif %}{% endif %} /></div>
        </div>
        <div class="hr-line-dashed"></div>
        {% block user_form_controls_extra %}

        {% endblock user_form_controls_extra %}
        {% block user_form_actions %}
            <div class="form-group row">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary btn-sm" type="submit">{{ _('Add user') }}</button>
                </div>
            </div>
        {% endblock user_form_actions %}
    </form>
{% endblock user_form %}