<div class="col-sm-12">
    <h2>Projects</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("dashboard") }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("projects",userid=activeUser.id) }}">Projects</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>Project XXX</strong>
        </li>
    </ol>
</div>