<div class="col-sm-12">
    <h2>Add new project</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">{{ _('Projects') }}</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>{{ _('Add') }}</strong>
        </li>
    </ol>
</div>