<div class="col-sm-12">
    <h2>Projects</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("dashboard", userid=activeUser.login) }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>Projects</strong>
        </li>
    </ol>
</div>