<div  class="ibox">
    <div class="ibox-title">
        {% block project_map_title %}
        <h5>{{ _('Map') }}</h5>
        <div class="ibox-tools">
            {% block project_map_tools %}
                <a class="collapse-link" style="margin-right: 10px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            {% endblock project_map_tools %}
        </div>
        {% endblock project_map_title %}
    </div>
    <div class="ibox-content">
        {% block project_map_content %}
            <div id="mapbox">
                {% if submissions > 0 and withgps > 0 %}
                    <div id="projmap" style="height: 300px"></div>
                {% else %}
                    {% if forms|length > 0 %}
                        {% if submissions == 0 %}
                            {{ _('Nothing to show. Waiting for submissions') }}
                        {% else %}
                            {{ _('Nothing to show. Waiting for submissions with GPS data') }}
                        {% endif %}
                    {% else %}
                        {{ _('Nothing to show. This project has no forms') }}
                    {% endif %}
                {% endif %}
            </div>
        {% endblock project_map_content %}
    </div>
</div>