{% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
    {% if selected_timezone == 'formshare' %}
        {% set timezone = system_timezone %}
    {% else %}
        {% if selected_timezone == 'user' %}
            {% set timezone = user_timezone.user_timezone %}
        {% else %}
            {% set timezone = project.project_timezone %}
        {% endif %}
    {% endif %}
{% else %}
    {% set timezone = None %}
{% endif %}
<hr>
<div class="row m-b-sm m-t-sm">
    <div class="col-md-4">
        {% block project_item_details %}
            <a href="{{ request.route_url('project_details', userid=project.owner, projcode=project.project_code) }}">{{ project.project_name }}</a> {% if project.project_case == 1 %}<span class="badge badge-info" title="{{ _('This project has a case/longitudinal workflow') }}">{{ _('Case') }}</span>{% endif %} {% if selected_timezone == 'project' and timezone != 'UTC'  %}<span class="badge badge-default" title=" {{ request.h.get_timezone_desc(request,timezone) }} ">UTC{{ request.h.get_timezone_offset(request,timezone) }}</span>{% endif %}
            <br/>
            <small title="{{ request.h.readble_date_with_time(project.project_cdate, request.locale_name, timezone) }}">{{ _('Created') }} {{ request.h.humanize_date(project.project_cdate, request.locale_name) }} {% if project.user_id != project.owner %} by <a href="{{ request.route_url('dashboard',userid=project.owner) }}">{{ project.owner }}</a> {% endif %}</small>
        {% endblock project_item_details %}
    </div>
    <div class="col-md-4">
        {% block project_item_submissions %}
            {% if project.total_submissions > 0 %}
                {{ project.total_submissions }} {{ request.h.pluralize(_('submission'),project.total_submissions,request.locale_name) }} {{ _('within') }} {{ project.total_forms }} {{ request.h.pluralize(_('form'),project.total_forms,request.locale_name) }}<br/>
                <small>{{ _('Last submission by') }} <a style="color: #0a6aa1">{{ project.last_submission_by_details.coll_name }}</a> in form <a href="{{ request.route_url('form_details',userid=project.owner,projcode=project.project_code,formid=project.last_submission_form) }}" style="color: #337ab7;">"{{ project.last_submission_form_details.form_name }}"</a> <span title="{{ request.h.readble_date_with_time(project.last_submission, request.locale_name, timezone) }}">{{ request.h.humanize_date(project.last_submission, request.locale_name) }}</span></small>
            {% else %}
                {{ _('Without submissions') }}{% if project.project_case == 1 %} <span>{{ _(' and without cases') }}</span>{% endif %}
            {% endif %}
        {% endblock project_item_submissions %}
    </div>
    <div class="col-md-4">
        {% block project_item_actions %}
            {% if project.project_active == 0 %}
                <a urn="{{ request.route_url('project_setactive',userid=project.owner,projcode=project.project_code,_query={'next':request.url}) }}" class="btn btn-white btn-sm set_active"><i class="fas fa-star" style="color: #1c84c6"></i> {{ _('Set as active') }} </a>
            {% endif %}
            {% if project.access_type < 4 %}
                <a href="{{ request.route_url('project_edit',userid=project.owner,projcode=project.project_code) }}" class="btn btn-white btn-sm"><i class="fas fa-pencil-alt text-warning"></i> {{ _('Edit') }} </a>
            {% endif %}
            {% if project.access_type == 1 %}
                <a urn="{{ request.route_url('project_delete',userid=project.owner,projcode=project.project_code,_query={'next':request.url}) }}" class="btn btn-white btn-sm delete_project"><i class="fas fa-trash text-danger"></i> {{ _('Delete') }} </a>
            {% endif %}
        {% endblock project_item_actions %}
    </div>
</div>
