<div class="ibox">
    <div class="ibox-title">
        {% block project_tab_title %}
        <h5>{{ _('Projects') }}</h5>
        <div class="ibox-tools">
            {% block project_tab_tools %}
                {% if activeUser != None %}
                    <a href="{{ request.route_url('projects_add',userid=activeUser.login,_query={'next':request.url}) }}" class="btn btn-primary btn-xs" style="margin-right: 20px">{{ _('Create new project') }}</a>
                {% endif %}
                <a class="fullscreen-link">
                    <i class="fas fa-expand" style="margin-right: 10px"></i>
                </a>
            {% endblock project_tab_tools %}
        </div>
        {% end project_tab_title %}
    </div>
    <div class="ibox-content">
        {% block project_tab_content %}
            {% include 'dashboard/projects/snippets/project_tab_content.jinja2' %}
        {% endblock project_tab_content %}
    </div>
</div>