<div class="row">
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ projectData.project_name }}</h5>
                    <div class="ibox-tools">
                        {% if projectData.access_type != 4 %}
                            <a href="{{ request.route_url('project_edit',userid=projectData.owner,projcode=projectData.project_code,_query={'next':request.url}) }}" style="margin-right: 10px">
                                <i class="fa fa-pencil text-warning" title="Edit"></i>
                            </a>
                        {% endif %}
                        <a class="collapse-link" style="margin-right: 10px">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% if projectData.project_image != None %}
                        {% if request.h.is_valid_url(projectData.project_image) %}
                            <img src="{{ projectData.project_image }}" class="img-fluid">
                        {% else %}
                            {% if projectData.project_image != None %}
                                <img style="max-width: 30%" src="{{ request.route_url('project_stored_file', userid=userid, projcode=projectData.project_code, filename=projectData.project_image) }}" class="img-fluid">
                            {% endif %}
                        {% endif %}
                        <hr>
                    {% endif %}

                    {% if projectData.project_abstract != None %}
                        <textarea id="abstract_hidden" style="display:none;">{{ projectData.project_abstract }}</textarea>
                        <div class="scroll_content">
                            <small id="project_abstract">

                            </small>
                        </div>
                    {% else %}
                        <small id="project_abstract">{{ _('Without abstract') }}</small> {% if projectData.access_type != 4 %} <a href="{{ request.route_url('project_edit',userid=projectData.owner,projcode=projectData.project_code,_query={'next':request.url}) }}"><i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i></a> {% endif %}
                    {% endif %}
                    <hr>
                    {% if projectData.project_public == 1 %}
                        <p class="small font-bold">
                            <span><i class="fa fa-circle text-info"></i> {{ _('Open access') }}</span>
                        </p>
                    {% else %}
                        <p class="small font-bold">
                            <span><i class="fa fa-circle text-danger"></i> {{ _('Private') }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
            {% include 'dashboard/projects/snippets/project_map.jinja2' %}
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Enumerators</h5>
                    <div class="ibox-tools">
                        <a style="margin-right: 10px">
                            <i class="fa fa-plus-square text-success" title="Add new enumerator"></i>
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="tag-list" style="padding: 0">
                                <li><a class="text-danger" href=""> Carlos Quiros</a></li>
                                <li><a href=""> Eduardo Quiros</a></li>
                                <li><a href=""> Katie Tavenner</a></li>
                                <li><a href=""> Flor Campos</a></li>
                                <li><a href=""> Elizabeth Tavenner</a></li>
                                <li><a href=""> Erick Lopez</a></li>
                                <li><a href=""> Macho Ramirez</a></li>
                                <li><a href=""> Begni Calderon</a></li>
                            </ul>
                        </div>
                    </div>
                    <small>Enumerators in <span class="text-danger">red</span> are inactive</small>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Enumerator groups</h5>
                    <div class="ibox-tools">
                        <a style="margin-right: 10px">
                            <i class="fa fa-plus-square text-success" title="Add new group"></i>
                        </a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="tag-list" style="padding: 0">
                                <li><a href=""> Zender</a></li>
                                <li><a href=""> Lorem ipsum</a></li>
                                <li><a href=""> Passages</a></li>
                                <li><a href=""> Variations</a></li>
                                <li><a href=""> Zender</a></li>
                                <li><a href=""> Lorem ipsum</a></li>
                                <li><a href=""> Passages</a></li>
                                <li><a href=""> Variations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Project files</h5>
                    <div class="ibox-tools">
                        <a style="margin-right: 10px">
                            <i class="fa fa-plus-square text-success" title="Add new file"></i>
                        </a>
                        <a class="collapse-link" style="margin-right: 10px">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <small>Click/Tab and hold to remove files</small>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href=""><i class="fa fa-file-pdf-o"></i> Proposal.pdf</a></li>
                                <li><a href=""><i class="fa fa-file-excel-o"></i> Report.xls</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-t-md" style="margin-bottom: 20px">
                {% if projectData.access_type != 4 %}<a href="{{ request.route_url('project_edit',userid=projectData.owner,projcode=projectData.project_code,_query={'next':request.url}) }}" class="btn btn-xs btn-warning">Edit project</a>{% endif %} {% if projectData.access_type == 1 or projectData.access_type == 2 %} <a id="delete_project" style="color: white" class="btn btn-xs btn-danger">Remove project</a> {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>Project details</h2>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right"><dt>Created by:</dt> </div>
                                <div class="col-sm-8 text-sm-left"><dd class="mb-1">Alex Smith</dd> </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right"><dt>Forms:</dt> </div>
                                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  162</dd></div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right"><dt>Created:</dt> </div>
                                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  10.07.2014 23:36:57</dd></div>
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Last Updated:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">16.08.2014 12:15:57</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Last Submission:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">16.08.2014 12:15:57</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>{{ _('Collaborators:') }}</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="project-people mb-1">
                                        <a href=""><img alt="image" class="rounded-circle" src="img/a3.jpg"></a>
                                        <a href=""><img alt="image" class="rounded-circle" src="img/a1.jpg"></a>
                                        <a href=""><img alt="image" class="rounded-circle" src="img/a2.jpg"></a>
                                        <a href=""><img alt="image" class="rounded-circle" src="img/a4.jpg"></a>
                                        <a href=""><img alt="image" class="rounded-circle" src="img/a5.jpg"></a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            {% include 'dashboard/projects/snippets/project_forms.jinja2' %}
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Activity</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link" style="margin-right: 10px">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="fullscreen-link">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="activity-stream">
                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a5.jpg" />
                                                        <span>Karen Miggel</span>
                                                        <span class="date">Today at 01:32:40 am</span>
                                                    </a>
                                                </div>
                                                Add new note to the <a href="#">Martex</a>  project.
                                            </div>
                                        </div>

                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-commenting-o"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a4.jpg" />
                                                        <span>John Mikkens</span>
                                                        <span class="date">Yesterday at 10:00:20 am</span>
                                                    </a>
                                                </div>
                                                Commented on <a href="#">Ariana</a> profile.
                                            </div>
                                        </div>
                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a2.jpg" />
                                                        <img src="img/a3.jpg" />
                                                        <img src="img/a4.jpg" />
                                                        <span>Mike Johnson, Monica Smith and Karen Dortmund</span>
                                                        <span class="date">Yesterday at 02:13:20 am</span>
                                                    </a>
                                                </div>
                                                Changed status of third stage in the <a href="#">Vertex</a> project.
                                            </div>
                                        </div>
                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a6.jpg" />
                                                        <span>Jessica Smith</span>
                                                        <span class="date">Yesterday at 08:14:41 am</span>
                                                    </a>
                                                </div>
                                                Add new files to own file sharing place.
                                            </div>
                                        </div>
                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-send bg-primary"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a7.jpg" />
                                                        <img src="img/a1.jpg" />
                                                        <span>Martha Farter and Mike Rodgers</span>
                                                        <span class="date">Yesterday at 04:18:13 am</span>
                                                    </a>
                                                </div>
                                                Sent email to all users participating in new project.
                                            </div>
                                        </div>
                                        <div class="stream">
                                            <div class="stream-badge">
                                                <i class="fa fa-tag bg-warning"></i>
                                            </div>
                                            <div class="stream-panel">
                                                <div class="stream-info">
                                                    <a href="#">
                                                        <img src="img/a7.jpg" />
                                                        <span>Mark Mickens</span>
                                                        <span class="date">Yesterday at 06:00:30 am</span>
                                                    </a>
                                                </div>
                                                Has been taged in the latest comments about the new project.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>