<div  class="ibox">
    <div class="ibox-title">
        <h5>{{ _('Map') }}</h5>
        <div class="ibox-tools">
            <a class="collapse-link" style="margin-right: 10px">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="fullscreen-link">
                <i class="fa fa-expand"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div id="mapbox">
            {% if submissions > 0 and withgps > 0 %}
                <div id="projmap" style="height: 300px"></div>
            {% else %}
                {% if forms|length > 0 %}
                    {% if submissions == 0 %}
                        Nothing to show. Waiting for submissions
                    {% else %}
                        Nothing to show. Waiting for submissions with GPS data
                    {% endif %}
                {% else %}
                     Nothing to show. This project has not forms
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>