<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
{#        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> {{ _('Refresh') }}</button>#}
    </div>
    {% if not withoutSearch %}
{#        <div class="col-md-11">#}
{#            <div class="input-group"><input type="text" placeholder="{{ _('Search within my projects') }}" class="form-control-sm form-control"> <span class="input-group-btn">#}
{#                                                <button type="button" class="btn btn-sm btn-primary"> {{ _('Go!') }}</button> </span></div>#}
{#        </div>#}
    {% endif %}
</div>
<div id="ajax_user_projects">

</div>
