<div style="border-bottom: 0px;" class="feed-element">
    <a href="{{ request.route_url('form_details',userid=userid,projcode=projectData.project_code,formid=form.form_id) }}" class="float-left">
        <img alt="image" class="rounded-circle" src="{{request.url_for_static('ODK.png')}}">
    </a>
    <div class="media-body ">
        <div class="row">
            <div class="col-md-12">
                <span class="float-right">{{ _('Uploaded on') }} {{ request.h.readble_date(form.form_cdate) }}</span>
                <strong><a href="{{ request.route_url('form_details',userid=userid,projcode=projectData.project_code,formid=form.form_id) }}">{{ form.form_name }}</a></strong> {% if form.form_schema != None %} <span class="badge badge-primary">{{ _('With repository') }}</span>{% else %}<span class="badge badge-warning" title="{{ _('Data is not stored in a database') }}">{{ _('In testing') }}</span>{% endif %} {% if form.form_accsub ==0 %}<span class="label label-warning">{{ _('Inactive') }}</span>{% else %}<span class="label label-primary">{{ _('Active') }}</span>{% endif %}<br>
                <span class="text-muted">Last submussion: Yesterday 1:21 pm - 11.06.2014 by <a class="text-info">Eduardo</a></span>
                {% if form.form_target > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-warning" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
                70 {% if form.form_target > 0 %}of {{ form.form_target }} {% endif %} submissions: <strong><a class="text-success">70 in database</a>. <a class="text-danger">5 in error logs</a></strong>
                <div class="actions">
                    {% if form.form_schema == None %}
                        <a href="" class="btn btn-xs btn-white"><i style="color: #1c84c6" class="fas fa-database"></i> {{ _('Create repository') }} </a>
                    {% else %}
                        <a href="" class="btn btn-xs btn-white"><i style="color: #1c84c6" class="fas fa-code-branch"></i> {{ _('Upload new version') }} </a>
                    {% endif %}
                    {% if projectData.access_type == 1 or form.pubby.user_id == activeUser.id %}
                        <a urn="{{ request.route_url('delete_form', userid=projectData.owner, projcode=projectData.project_code, formid=form.form_id) }}" class="btn btn-xs btn-white remove_form"><i style="color: red" class="far fa-trash-alt"></i> {{ _('Delete') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if form.haschildren == "False" %}
<hr class="hr-line-solid">
{% endif %}