<div class="ibox">
    <div class="ibox-title">
        {% block project_forms_title %}
            <h5>{{ _('Forms') }}</h5>
            <div class="ibox-tools">
                {% block project_forms_tools %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock project_forms_tools %}
            </div>
        {% endblock project_forms_title %}
    </div>
    <div class="ibox-content">
        {% block project_forms_content %}
            <div {% if scroll_content %}class="scroll_content" {% endif %}>
                <div class="row">
                    {% block project_forms_content_heading %}
                        <div class="col-md-8">
                            {{ _('Total') }}: {{ forms|length }}
                            {% if forms|length > 0 %}
                                <br/>{{ _('Active') }}: {{ activeforms }}. {{ _('Inactive') }}: {{ inactiveforms }}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if forms|length > 0 %}
                                {% if projectData.access_type < 4 %}
                                    {% if projectData.project_case == 0 %}
                                        <button id="add_form" data-toggle="modal" data-target="#upload_form" type="button" class="btn btn-block btn-outline btn-primary">{{ _('Add new form') }}</button>
                                    {% else %}
                                        {% if projectData.total_case_creators == 0 or (projectData.total_case_creators > 0 and projectData.total_case_creators_with_repository > 0) %}
                                            {% if projectData.has_case_lookup_table or forms|length == 0 %}
                                                <button id="add_form" data-toggle="modal" data-target="#upload_form" type="button" class="btn btn-block btn-outline btn-primary">{{ _('Add new form') }}</button>
                                            {% else %}
                                                 <button type="button" class="btn btn-block btn-outline btn-default" title="{{ _('Create the case lookup table before adding new forms') }}">{{ _('Add new form (Inactive)') }}</button>
                                            {% endif %}
                                            {% if projectData.total_case_creators > 0 and projectData.total_case_creators_with_repository > 0 %}
                                                <button id="create_case_table" type="button" onclick="location.href='{{ request.route_url('project_case_lookup_table', userid=projectDetails.owner, projcode=projectDetails.project_code) }}';" class="btn btn-block btn-outline btn-warning">{% if projectData.has_case_lookup_table %}{{ _('View/edit case lookup table') }}{% else %}{{ _('Create the case lookup table') }}{% endif %}</button>
                                            {% endif %}
                                        {% else %}
                                            <button type="button" class="btn btn-block btn-outline btn-default" title="{{ _('You cannot add new forms while you have a case creator form in testing stage.') }}">{{ _('Add new form (Inactive)') }}</button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock project_forms_content_heading %}
                </div>
                <hr>
                {% block project_forms_content_list %}
                    <div class="feed-activity-list">
                        {% if forms|length > 0 %}
                            {% for form in forms %}
                                {% if form.form_type == 1 %}
                                    {% include 'dashboard/projects/snippets/project_form_odk_item.jinja2' %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% include 'dashboard/projects/snippets/no_forms.jinja2' %}
                        {% endif %}
                    </div>
                {% endblock project_forms_content_list %}
            </div>
        {% endblock project_forms_content %}
    </div>
</div>