<!DOCTYPE html>
<html {% block htmlattributes %}lang="{{ request.locale_name }}" {% endblock htmlattributes %}>
{% block html %}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="description" content="FormShare Dashboard">
                <meta name="author" content="QLands Technology Consultants">
            {% endblock meta %}

            {% block title %}
                <title>FormShare | {% block titlesection %}{{ _('Dashboard') }}{% endblock titlesection %}</title>
            {% endblock title %}
            {% block links %}
                <link rel="shortcut icon" href="{{ request.url_for_static('fs-ico.png') }}" />
            {% endblock  links%}
            {% block css %}

            {% endblock css %}

            {% block topScripts %}

            {% endblock topScripts %}

            {% if rtl %}
                {% cssresource request,'formshare','rtl' %}
            {% endif %}
        {% endblock head %}
    </head>

    {% block body_tag %}
        <body {% block bodyattributes %}{% endblock bodyattributes %} class="{% if rtl %}rtls{% endif %} {% block bodyclass %}{% endblock bodyclass %}">
        {% block body %}
            {# Here goes the body #}
        {% endblock body %}
        {% block busy_screen %}
            <div align="center" id="busy" class='busy_overlay' style="display: none;">
                <div id='busydiv'>
                    <img alt="image" src="{{ request.url_for_static('busy.gif') }}" style="height: 200px; width: 200px"/>
                </div>
            </div>
        {% endblock busy_screen %}
        {% block busy_script %}
            <script>
                $( ".require_busy" ).submit(function( event ) {
                    $("#busy").show();
                });
                {#$('.require_busy').onsubmit = function() {#}
                {#    $("#busy").show();#}

            </script>
        {% endblock busy_script %}
        </body>
    {% endblock body_tag %}
{% endblock html %}
</html>
