{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Alchemy project</span></h1>
        {% block title %}
            <p class="lead">Welcome to <span class="font-normal">PCA Example</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>
        {% endblock title %}
        {% block extra %}
            {% snippet 'snippets/my_snippet.jinja2',value='Value for the snippet is 1' %}
        {% endblock extra %}
    </div>
{% endblock content %}
