<div class="ibox">
    <div class="ibox-title">
        {% block case_fields_title %}
            <h5>{{ _('Case lookup table definition') }}</h5>
        {% endblock case_fields_title %}
    </div>
    <div class="ibox-content">
        {% block case_fields_content %}
            {% include 'dashboard/projects/forms/case/snippets/case_fields_tab_content.jinja2' %}
        {% endblock case_fields_content %}
    </div>
</div>