<hr>
<div class="row m-b-sm m-t-sm">
    <div class="col-md-4">
        {% block case_field_item_details %}
            {{ a_field.name }}-{{ afield.desc }} {% if afield.checked == 1 %}<span class="badge badge-info" title="{{ _('Currently in use by the lookup table') }}">{{ _('In use') }}</span>{% endif %}
        {% endblock case_field_item_details %}
    </div>
    <div class="col-md-4">
        {% block case_field_item_as %}
            {{ a_field.field_as }}
        {% endblock case_field_item_as %}
    </div>
    <div class="col-md-4">
        {% block case_field_item_actions %}
            {% if a_field.editable == 1 %}
                {% if a_field.checked %}
                    <a class="btn btn-danger btn-sm unselect"><i class="far fa-square" style="color: #1c84c6"></i> {{ _('Unselect field') }}</a>
                {% else %}
                    <a class="btn btn-primary btn-sm select"><i class="far fa-check-square" style="color: #1c84c6"></i> {{ _('Select field') }}</a>
                {% endif %}
                {% if a_field.checked %}
                    <a class="btn btn-white btn-sm"><i class="fas fa-pencil-alt text-warning"></i> {{ _('Edit alias') }} </a>
                {% endif %}
            {% endif %}
        {% endblock case_field_item_actions %}
    </div>
</div>
