version: '3'
services:
  fsmysql_20221203:
    image: mysql:8.0.23
    command: --default-authentication-plugin=mysql_native_password
    container_name: fs_mysql_20221203
    cap_add:
      - SYS_NICE
    environment:
      MYSQL_ROOT_PASSWORD: my_secure_password
    volumes:
      - /opt/formshare/mysql:/var/lib/mysql
    networks:
      fsnet:
        ipv4_address: 172.28.1.5

  fses20221203n01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.2
    container_name: fses20221203n01
    environment:
      - network.host=172.28.1.1
      - node.name=fses20221203n01
      - cluster.name=fs-es-cluster
      - discovery.seed_hosts=fses20221203n02
      - cluster.initial_master_nodes=fses20221203n01,fses20221203n02
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /opt/formshare/elasticsearch/esdata:/usr/share/elasticsearch/data
    networks:
      fsnet:
        ipv4_address: 172.28.1.1

  fses20221203n02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.2
    container_name: fses20221203n02
    environment:
      - network.host=172.28.1.2
      - node.name=fses20221203n02
      - cluster.name=fs-es-cluster
      - discovery.seed_hosts=fses20221203n01
      - cluster.initial_master_nodes=fses20221203n01,fses20221203n02
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /opt/formshare/elasticsearch/esdata2:/usr/share/elasticsearch/data
    networks:
      fsnet:
        ipv4_address: 172.28.1.2

  formshare_20221203:
    image: qlands/formshare2:20221203
    container_name: formshare_20221203
    environment:
      MYSQL_HOST_NAME: 172.28.1.5
      MYSQL_USER_NAME: root
      MYSQL_USER_PASSWORD: my_secure_password
      FORMSHARE_ADMIN_USER: admin
      FORMSHARE_ADMIN_EMAIL: admin@myserver.com
      FORMSHARE_ADMIN_PASSWORD: my_secure_password
      ELASTIC_SEARCH_HOST: 172.28.1.1
      ELASTIC_SEARCH_PORT: 9200
      FORMSHARE_HOST: 172.28.1.4
      FORMSHARE_PORT: 5900
      FORWARDED_ALLOW_IP: 172.28.1.4
      WAIT_HOSTS_TIMEOUT: 360
      WAIT_HOSTS: 172.28.1.5:3306, 172.28.1.1:9200
    volumes:
      - /opt/formshare/repository:/opt/formshare_repository
      - /opt/formshare/log:/opt/formshare_log
      - /opt/formshare/celery:/opt/formshare_celery
      - /opt/formshare/config:/opt/formshare_config
      - /opt/formshare/plugins:/opt/formshare_plugins
      - /opt/formshare/formshare_odata_webapps:/opt/formshare_odata_webapps
      - /opt/formshare/mosquitto:/etc/mosquitto/conf.d/
    ports:
      - 5900:5900
      - 9001:9001
    networks:
      fsnet: 
        ipv4_address: 172.28.1.4
networks:
  fsnet:
     ipam:
        driver: default
        config:
          - subnet: 172.28.0.0/16