# Root password for MySQL. Must be changed.
MYSQL_PASSWORD=my_secure_password

# Email address of FormShare admin user. Must be changed.
FORMSHARE_ADMIN_EMAIL=admin@myserver.com

# Password of FormShare admin user. Must be changed.
FORMSHARE_ADMIN_PASSWORD=my_secure_password

# Username of FormShare admin user. Optional to change.
FORMSHARE_ADMIN_USER=admin
