<li>
    <div class="dropdown-messages-box">
        <a href="profile.html" class="pull-left">
            <img alt="image" class="img-circle" src="img/a7.jpg">
        </a>
        <div class="media-body">
            <small class="pull-right">46h ago</small>
            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
        </div>
    </div>
</li>
<li class="divider"></li>
<li>
    <div class="text-center link-block">
        <a href="mailbox.html">
            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
        </a>
    </div>
</li>