# .coveragerc to control coverage.py
[run]
concurrency = multiprocessing
branch = True
source = formshare
# omit = bad_file.py

[paths]
source =
    formshare/
    */site-packages/

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    except