# .coveragerc to control coverage.py
[run]
source = formshare
omit = */tests*,*/utilities*

[paths]
source =
    formshare/
    */site-packages/

[report]
omit = */tests*,*/utilities*
show_missing = True
exclude_lines =
    pragma: no cover
    except