alabaster==0.7.12
alembic==1.4.2
amqp==2.5.2
appdirs==1.4.4
arrow==0.15.6
attrs==19.3.0
Babel==2.8.0
backports.csv==1.0.7
beautifulsoup4==4.9.1
billiard==3.6.3.0
binaryornot==0.4.4
black==19.10b0
boto==2.49.0
celery==4.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.0
CherryPy==18.6.0
click==7.1.2
cookiecutter==1.7.2
coverage==5.1
cryptography==3.4.6
decorator==4.4.2
docutils==0.16
-e git+https://github.com/qlands/elasticfeeds.git@62d8c57b3e775b5c1a71b00d873dfb6204905d13#egg=elasticfeeds
elasticsearch==7.7.1
feedparser==5.2.1
fluent-logger==0.9.6
FormEncode==1.3.1
future==0.18.2
gevent==20.5.2
greenlet==0.4.15
gunicorn==20.0.4
hupper==1.10.2
idna==2.9
imagesize==1.2.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==0.15.1
kombu==4.6.8
linecache2==1.0.0
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
more-itertools==8.3.0
msgpack==0.6.2
mysql-connector-python==8.0.20
mysqlclient==1.4.6
nltk==3.5
nose==1.3.7
numpy==1.18.4
ofs==0.4.3
packaging==20.4
paginate==0.5.6
Pairtree==0.8.1
pandas==1.0.4
PasteDeploy==2.1.0
pathspec==0.8.0
Pattern==3.6
pdfminer.six==20200517
Pillow==7.1.2
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
portend==2.6
poyo==0.5.0
protobuf==3.12.2
py==1.8.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.9.7
Pygments==2.6.1
pyparsing==2.4.7
pyramid==1.10.4
pyramid-authstack==1.0.1
pyramid-debugtoolbar==4.6.1
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-session-redis==1.5.2
pyramid_session_multi==0.3.1
pyramid-tm==2.4
pytest==5.4.2
pytest-cov==2.9.0
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python-slugify==4.0.0
pytz==2020.1
PyUtilib==5.8.0
pyxform==1.3.3
qrcode==6.1
redis==3.5.2
regex==2020.5.14
repoze.lru==0.7
requests==2.23.0
rutter==0.2
scipy==1.4.1
simplekml==1.3.5
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.0.1
Sphinx==3.0.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.17
tempora==3.0.0
text-unidecode==1.3
timeago==1.0.14
toml==0.10.1
tqdm==4.46.0
traceback2==1.4.0
transaction==3.0.0
translationstring==1.3
typed-ast==1.4.1
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.25.9
validators==0.15.0
venusian==3.0.0
vine==1.3.0
waitress==1.4.3
wcwidth==0.1.9
WebHelpers2==2.0
WebOb==1.8.6
WebTest==2.0.35
xlrd==1.2.0
zc.lockfile==2.0
zope.deprecation==4.4.0
zope.event==4.4
zope.interface==5.1.0
zope.sqlalchemy==1.3