alabaster==0.7.12
alembic==1.7.7
amqp==5.1.1
appdirs==1.4.4
arrow==1.2.2
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
backports.csv==1.0.7
beautifulsoup4==4.11.1
billiard==3.6.4.0
binaryornot==0.4.4
black==22.3.0
boto==2.49.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cheroot==8.6.0
CherryPy==18.6.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cookiecutter==1.7.3
coverage==6.3.2
cryptography==37.0.1
decorator==5.1.1
Deprecated==1.2.13
docutils==0.17.1
-e git+https://github.com/qlands/elasticfeeds.git@stable-1.8#egg=elasticfeeds
elasticsearch==7.17.3
emoji==1.7.0
feedparser==6.0.8
FormEncode==2.0.1
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
hupper==1.10.3
idna==3.3
imagesize==1.3.0
importlib-resources==5.7.1
iniconfig==1.1.1
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.7.0
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.1.0
kombu==5.2.4
linecache2==1.0.0
lxml==4.8.0
Mako==1.2.0
MarkupSafe==2.1.1
more-itertools==8.12.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
mysqlclient==2.1.0
nltk==3.7
nose==1.3.7
numpy==1.22.3
ofs==0.4.3
packaging==21.3
paginate==0.5.6
paho-mqtt==1.6.1
Pairtree==0.8.1
pandas==1.4.2
PasteDeploy==2.1.1
pathspec==0.9.0
Pattern==3.6
pdfminer.six==20220319
Pillow==9.1.0
plaster==1.0
plaster-pastedeploy==0.7
platformdirs==2.5.2
pluggy==1.0.0
portend==3.1.0
poyo==0.5.0
prompt-toolkit==3.0.29
protobuf==3.20.1
py==1.11.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.14.1
Pygments==2.12.0
pyparsing==3.0.8
pyramid==2.0
pyramid-authstack==1.0.1
pyramid-debugtoolbar==4.9
pyramid-jinja2==2.10
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-session-multi==0.3.2
pyramid-session-redis==1.6.3
pyramid-tm==2.5
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
python-docx==0.8.11
python-editor==1.0.4
python-slugify==6.1.2
pytz==2022.1
PyUtilib==6.0.0
pyxform==1.7.0
qrcode==7.3.1
redis==4.2.2
regex==2022.4.24
repoze.lru==0.7
requests==2.27.1
rutter==0.4
scipy==1.8.0
sgmllib3k==1.0.0
simplekml==1.3.6
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.36
tempora==5.0.1
text-unidecode==1.3
timeago==1.0.15
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
traceback2==1.4.0
transaction==3.0.1
translationstring==1.4
typed-ast==1.5.3
typing_extensions==4.2.0
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.26.9
validators==0.18.2
venusian==3.0.0
vine==5.0.0
waitress==2.1.1
wcwidth==0.2.5
WebHelpers2==2.0
WebOb==1.8.7
WebTest==3.0.0
wrapt==1.14.0
xlrd==1.2.0
zc.lockfile==2.0
zipp==3.8.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.interface==5.4.0
zope.sqlalchemy==1.6