<div class="footer {% if fixed %}fixed{% endif %}">
    {% block smallmessage %}
        <div class="pull-right">
            10GB of <strong>250GB</strong> Free.
        </div>
    {% endblock smallmessage %}
    <div>
        {% block copyright %}
            <strong>{{ _("Copyright") }}</strong> QLands Technology Consultants &copy; 2017
        {% endblock copyright %}
    </div>
</div>