{% jsresource request,'dashboard','toastr' %}
<script>
    $(document).ready(function() {
        setTimeout(function() {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: {{ timeout }}
            };
            {% if type == 'info' %}
                toastr.info('{{ message }}','{{ title }}');
            {% endif %}
            {% if type == 'success' %}
                toastr.success('{{ message }}','{{ title }}');
            {% endif %}
            {% if type == 'error' %}
                toastr.error('{{ message }}','{{ title }}');
            {% endif %}
            {% if type == 'warning' %}
                toastr.warning('{{ message }}','{{ title }}');
            {% endif %}
        }, 1300);
    });
</script>