{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Edit assistant") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/assistants/snippets/brdcrbs_assistedit.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="ibox">
        <div class="ibox-title">
            {% block assistant_edit_title %}
                <h5>{{ _('Current information') }}</h5>
                <div class="ibox-tools">
                    {% block assistant_edit_tools %}
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    {% endblock assistant_edit_tools %}
                </div>
            {% endblock assistant_edit_title %}
        </div>
        <div class="ibox-content">
            {% block assistant_edit_content %}
                {% block form_errors %}
                    {{ form.display_errors(errors) }}
                {% endblock form_errors %}
                {% include 'dashboard/projects/assistants/snippets/assistant_form_edit.jinja2' %}
            {% endblock assistant_edit_content %}
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            var elem2 = document.querySelector('.js-switch2');
            var switchery2 = new Switchery(elem2, { color: '#1AB394' });
        });
    </script>
{% endblock scripts %}