{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Edit user") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/users/snippets/brdcrbs_useredit.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="ibox">
        <div class="ibox-title">
            {% block user_edit_title %}
                <h5>{{ _('Current information') }}</h5>
                <div class="ibox-tools">
                    {% block user_edit_tools %}
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    {% endblock user_edit_tools %}
                </div>
            {% endblock user_edit_title %}
        </div>
        <div class="ibox-content">
            {% block user_edit_content %}
                {% block form_errors %}
                    {% if action == "modify" %}
                        {{ form.display_errors(errors) }}
                    {% endif %}
                {% endblock form_errors %}
                {% include 'dashboard/users/snippets/user_form_edit.jinja2' %}
            {% endblock user_edit_content %}
        </div>
    </div>
    {% block change_password_section %}
        <div class="ibox">
            <div class="ibox-title">
                {% block user_password_title %}
                    <h5>{{ _('Change password') }}</h5>
                    <div class="ibox-tools">
                        {% block user_password_tools %}
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        {% endblock user_password_tools %}
                    </div>
                {% endblock user_password_title %}
            </div>
            <div class="ibox-content">
                {% block user_password_content %}
                    {% block password_errors %}
                        {% if action == "changepass" %}
                            {{ form.display_errors(errors) }}
                        {% endif %}
                    {% endblock password_errors %}
                    {% include 'dashboard/users/snippets/user_password_form.jinja2' %}
                {% endblock user_password_content %}
            </div>
        </div>
    {% endblock change_password_section %}
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        const genRanHex = size => [...Array(size)].map(() => Math.floor(Math.random() * 16).toString(16)).join('');

        $(document).ready(function() {
            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            let elem2 = document.querySelector('.js-switch2');
            let switchery2 = new Switchery(elem2, { color: '#1AB394' });

            $('#genkey').click(function () {
                $('#user_apikey').val(uuidv4());
            });

            $('#gensecret').click(function () {
                $('#user_apisecret').val(genRanHex(32));
            });

        });
    </script>
{% endblock scripts %}