{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("FormShare users") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','select2' %}
    <style>
        @media (max-width: 767px) {
            .action-buttons {
                margin-top: 10px;
            }
        }
    </style>
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','select2' %}
    {% jsresource request,'formshare','md5' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/users/snippets/brdcrbs_userlist.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row">
        <div class="col-lg-12">
            {{ form.display_errors(errors) }}
            <div class="ibox">
                <div class="ibox-content">
                    {% block user_list_heading %}
{#                        <span class="text-muted small float-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>#}
                        <h2>{{ _('FormShare users') }}</h2>
                        {{ _('As an administrator you can add and edit FormShare users') }}<br/>
                        <div style="margin-top: 10px" class="row">
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-3">
                                <button onclick="location.href='{{ request.route_url('add_user',userid=userid) }}';" class="btn btn-block btn-primary"> <i class="fa fa-plus"></i> {{ _('Add user') }}</button>
                            </div>
                        </div>


                    {% endblock user_list_heading %}
                </div>
            </div>
            {% block user_list_search %}
                <div class="ibox-content text-left">
                    <h2>{{ _('Search for an user') }}</h2>
                    <small>{{ _('You can search by username, full name or email address') }}</small>


                        <div class="row">
                            <div class="col-md-9">
                                <select name="user" id="user" style="width: 100%; !important;" class="js-example-data-ajax form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <button id="edit_user" class="btn btn-block btn-warning action-buttons"> <i class="fas fa-user-edit"></i> {{ _('Edit user') }}</button>
                            </div>
                        </div>

                </div>
            {% endblock user_list_search %}
        </div>
    </div>
    
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {

            $('#edit_user').click(function () {
                let selected_user = $('#user').find(":selected").val();
                if (selected_user)
                {
                    let loc = '{{ request.route_url('modify_user',userid=userid,manageuser='~TOCHANGE~') }}';
                    loc = loc.replace("~TOCHANGE~",selected_user);
                    location.href=loc;
                }

            });

            function formatUser (user) {
                if (!user.id) {
                    return user.text;
                }
                let baseUrl = "{{ request.route_url('gravatar') }}";
                let $state = $(
                    '<span><img src="' + baseUrl + '?name=' + user.text + '&size=45" class="img-flag" /> ' + user.text + '</span>'
                );
                return $state;
            }

            $(".js-example-data-ajax").select2({
                templateResult: formatUser,
                ajax: {
                    url: "{{ request.route_url('api_select2_users',userid=userid) }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page,
                            include_me: "True",
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 10) < data.total
                            }
                        };
                    },
                    cache: true
                }
            });

        });
    </script>
{% endblock scripts %}