{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ formDetails.form_name }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
    {% cssresource request,'formshare','select2' %}
    {% if formDetails.form_geopoint != None %}
        {% cssresource request,'formshare','leaflet' %}
    {% endif %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
    {% jsresource request,'formshare','taphold' %}
    {% jsresource request,'formshare','select2' %}
    {% if formDetails.form_geopoint != None %}
        {% jsresource request,'formshare','leaflet' %}
    {% endif %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/snippets/brdcrbs_frmdtls.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    {{ form.display_errors(errors) }}
    <div class="row">
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                {% include 'dashboard/projects/forms/snippets/info_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/links_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/files_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/assistants_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/groups_tab.jinja2' %}
                <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-warning">Edit form</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>Form details</h2>
                                </div>

                            </div>
                        </div>
                        {% include 'dashboard/projects/forms/snippets/form_details.jinja2' %}
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                {% if formDetails.form_geopoint != None %}
                                    {% include 'dashboard/projects/forms/snippets/form_map.jinja2' %}
                                {% endif %}
                                {% include 'dashboard/projects/forms/snippets/form_activity.jinja2' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'dashboard/projects/forms/snippets/upload_file.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/add_assistant.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/edit_assistant.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/add_group.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/edit_group.jinja2' %}
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>

        function setSwitchery(switchElement, checkedBool) {
            if((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
                switchElement.setPosition(true);
                switchElement.handleOnchange(true);
            }
        }
        {% if formDetails.form_geopoint != None %}
            $(document).ready(function() {

            var mymap = L.map('projmap').setView([51.505, -0.09], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoicWxhbmRzIiwiYSI6ImNqZHB1ZDh4YzEwZHEyeG1rcjc0NmFsNzIifQ.i3YebmNDByns1c1ixZE0bA'
            }).addTo(mymap);

            var element = document.getElementById('mapbox');
            var full_screen = false;
            var normal_height = $("#projmap").height();
            new ResizeSensor(element, function() {
                var window_width = $(window).width();
                var element_width =  element.clientWidth;
                if ((element_width / window_width) >= 0.80)
                {
                    $("#projmap").height($(window).height()-80);
                    mymap.invalidateSize();
                    //console.log('Changed to ' + element.clientWidth);
                    full_screen = true;
                }
                else
                {
                    if (full_screen)
                    {
                        $("#projmap").height(normal_height);
                        mymap.invalidateSize();
                        //console.log('Back to ' + normal_height);
                        //console.log('Changed to ' + element.clientWidth);
                        full_screen = false;
                    }
                }
            });
        {% endif %}

            $(".collaborator-list").select2({
                dropdownParent: $('#member_form')
            });

            $(".group-list").select2({
                dropdownParent: $('#group_form')
            });

            var elem = document.querySelector('.js-switch');
            var overwrite_switch = new Switchery(elem, { color: '#1AB394' });

            $('.remove_form').click(function () {
                var action_url = $( this ).attr('urn');
                swal({
                        title: "{{ _('Are you sure?') }}",
                        text: "{{ _('All the data in this form will be deleted!') }}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, delete this form!') }}",
                        cancelButtonText: "{{ _('Oops!, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });

            $( "#add_file" ).click(function() {
                $( "#clear_button").click();
            });

            $( "#uploadbutton" ).click(function() {
                $( "#filetoupload" ).click();
                $("#file_label").text('{{ _('File(s)') }}')
                $("#file_info").hide();
            });

            jQuery("#filetoupload").change(function () {
                var fileInput = document.getElementById('filetoupload');
                var fileNames = [];
                for (var i = 0; i < fileInput.files.length; i++) {
                    fileNames.push(fileInput.files[i].name);
                }
                //var filename = fileInput.files[0].name;
                var file_object = $("#form_file");
                file_object.val(fileNames.join(' , '));
                file_object.show();
                $("#clear_section").show();
                $("#uploadbutton").hide();
                $("#linkbutton").hide();
                $("#overwrite_section").show();
            });
            $( "#clear_button" ).click(function() {
                $("#filetoupload").val("");
                var file_object = $("#form_file");
                file_object.val("");
                file_object.hide();
                $("#clear_section").hide();
                $("#uploadbutton").show();
                $("#linkbutton").show();
                $("#file_label").text('{{ _('Type') }}');
                $("#file_info").hide();
                $("#overwrite_section").hide();

                setSwitchery(overwrite_switch, false);

                $("#file_name").val("");
            });
            $( "#linkbutton" ).click(function() {
                var file_object = $("#form_file");
                file_object.attr("placeholder", "http://example.com/files/my_file.csv").blur();
                file_object.show();
                $("#clear_section").show();
                $("#uploadbutton").hide();
                $("#linkbutton").hide();
                $("#file_label").text('{{ _('Link') }}');
                $("#file_info").show();
                $("#overwrite_section").hide();
            });

            $(".file-item").on("taphold", function()
                {
                    var action_url = $( this ).attr('urn');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });

            var assistant_item = $(".assistant-item");

            assistant_item.click(function() {
                var assistant_name = $( this ).attr('data-assistant-name');
                var assistant_role = $( this ).attr('data-assistant-role');
                var action_url = $( this ).attr('urn');
                $("#edit_assistant_form").prop('action',action_url)
                $("#rolewho").text("{{ _('Changing the role of') }} " + assistant_name);

                var role_submmit = $( "#role_submmit" );
                var role_clean = $( "#role_clean" );
                var role_both = $( "#role_both" );
                if (assistant_role === "1")
                    role_submmit.prop( "checked", true );
                if (assistant_role === "2")
                    role_clean.prop( "checked", true );
                if (assistant_role === "3")
                    role_both.prop( "checked", true );

            });

            assistant_item.on("taphold", function()
                {
                    var action_url = $( this ).attr('data-assistant-remove-url');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });

            var group_item = $(".group-item");

            group_item.click(function() {
                var group_name = $( this ).attr('data-group-name');
                var group_role = $( this ).attr('data-group-role');
                var action_url = $( this ).attr('urn');
                $("#edit_group_form").prop('action',action_url)
                $("#grprolewho").text("{{ _('Changing the role of') }} " + group_name);

                var role_submmit = $( "#grp_role_submmit" );
                var role_clean = $( "#grp_role_clean" );
                var role_both = $( "#grp_role_both" );
                if (group_role === "1")
                    role_submmit.prop( "checked", true );
                if (group_role === "2")
                    role_clean.prop( "checked", true );
                if (group_role === "3")
                    role_both.prop( "checked", true );

            });

            group_item.on("taphold", function()
                {
                    var action_url = $( this ).attr('data-group-remove-url');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });


        });
    </script>


{% endblock scripts %}