{% extends 'dashboard/page.jinja2' %}

{% block titlesection %}{{ _("Project XXX") }}{% endblock titlesection %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/snippets/brdcrbs_frmdtls.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Form description</h5>
                        <div class="ibox-tools">
                            <a style="margin-right: 10px">
                                <i class="fa fa-pencil text-warning" title="Edit"></i>
                            </a>
                            <a class="collapse-link" style="margin-right: 10px">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <img src="{{request.url_for_static('static/qr.png')}}" class="img-fluid">
                        <p class="small">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                        </p>
                        <p class="small font-bold">
                            <span class="badge badge-primary">With repository</span> <span class="label label-warning">Inactive</span>
                        </p>
                        <div class="actions">
                            <a href=""  class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            <a href=""  class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Form links</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <small>Click/Tab and hold to copy</small>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href=""><i class="fa fa-rss"></i> OData endpoint</a></li>
                                    <li><a href=""><i class="fa fa-download"></i> Download data in XLS form</a></li>
                                    <li><a href=""><i class="fa fa-pencil"></i> Clean data</a></li>
                                    <li><a href=""><i class="fa fa-bug"></i> Clean error logs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Form files</h5>
                        <div class="ibox-tools">
                            <a style="margin-right: 10px">
                                <i class="fa fa-plus-square text-success" title="Add new file"></i>
                            </a>
                            <a class="collapse-link" style="margin-right: 10px">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <small>Click/Tab and hold to remove</small>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href=""><i class="fa fa-file-pdf-o"></i> Proposal.pdf</a></li>
                                    <li><a href=""><i class="fa fa-file-excel-o"></i> Report.xls</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Assigned collaborator groups</h5>
                        <div class="ibox-tools">
                            <a style="margin-right: 10px">
                                <i class="fa fa-plus-square text-success" title="Assign new"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <small>Click/Tab and hold to remove</small>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href=""> Carlos Quiros</a></li>
                                    <li><a href=""> Eduardo Quiros</a></li>
                                    <li><a href=""> Katie Tavenner</a></li>
                                    <li><a href=""> Flor Campos</a></li>
                                    <li><a href=""> Elizabeth Tavenner</a></li>
                                    <li><a href=""> Erick Lopez</a></li>
                                    <li><a href=""> Macho Ramirez</a></li>
                                    <li><a href=""> Begni Calderon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Assigned collaborators</h5>
                        <div class="ibox-tools">
                            <a style="margin-right: 10px">
                                <i class="fa fa-plus-square text-success" title="Assign new"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <small>Click/Tab and hold to remove</small>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href=""> Carlos Quiros</a></li>
                                    <li><a href=""> Eduardo Quiros</a></li>
                                    <li><a href=""> Katie Tavenner</a></li>
                                    <li><a href=""> Flor Campos</a></li>
                                    <li><a class="text-danger" href=""> Elizabeth Tavenner</a></li>
                                    <li><a href=""> Erick Lopez</a></li>
                                    <li><a href=""> Macho Ramirez</a></li>
                                    <li><a href=""> Begni Calderon</a></li>
                                </ul>
                            </div>
                        </div>
                        <small>Collaborators in <span class="text-danger">red</span> are inactive</small>
                    </div>
                </div>

                <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-warning">Edit form</a> <a href="#" class="btn btn-xs btn-danger">Remove form</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>Form details</h2>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right"><dt>Created by:</dt> </div>
                                    <div class="col-sm-8 text-sm-left"><dd class="mb-1">Alex Smith</dd> </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right"><dt>Created:</dt> </div>
                                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  10.07.2014 23:36:57</dd></div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right"><dt>Last updated:</dt> </div>
                                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  10.07.2014 23:36:57</dd></div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right"><dt>Collaborators:</dt> </div>
                                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> 3 <a>[Manage]</a></dd></div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right"><dt>Collaborator groups:</dt> </div>
                                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> 1 <a>[Manage]</a></dd></div>
                                </dl>
                            </div>
                            <div class="col-lg-6" id="cluster_info">
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Last Submission:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">16.08.2014 12:15:57</dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>Number of submissions:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">10</dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>In database:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">7 <a>[Clean data]</a></dd>
                                    </div>
                                </dl>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>In error log:</dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1">3 <a>[Manage errors]</a></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Map</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" style="margin-right: 10px">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="fullscreen-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">


                                    </div>
                                </div>
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Analysis</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" style="margin-right: 10px">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="fullscreen-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-md-10">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn-group btn-block">
                                                    <button data-toggle="dropdown" style="margin-bottom: 10px" class="btn btn-block btn-primary dropdown-toggle">Add</button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#" class="font-bold">Another action</a></li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li><a class="dropdown-item"  href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Analysis 1</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link" style="margin-right: 10px">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="fullscreen-link">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="scroll_content">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <h5>Activity</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" style="margin-right: 10px">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="fullscreen-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="activity-stream">
                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-pencil"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a5.jpg" />
                                                            <span>Karen Miggel</span>
                                                            <span class="date">Today at 01:32:40 am</span>
                                                        </a>
                                                    </div>
                                                    Add new note to the <a href="#">Martex</a>  project.
                                                </div>
                                            </div>

                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-commenting-o"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a4.jpg" />
                                                            <span>John Mikkens</span>
                                                            <span class="date">Yesterday at 10:00:20 am</span>
                                                        </a>
                                                    </div>
                                                    Commented on <a href="#">Ariana</a> profile.
                                                </div>
                                            </div>
                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a2.jpg" />
                                                            <img src="img/a3.jpg" />
                                                            <img src="img/a4.jpg" />
                                                            <span>Mike Johnson, Monica Smith and Karen Dortmund</span>
                                                            <span class="date">Yesterday at 02:13:20 am</span>
                                                        </a>
                                                    </div>
                                                    Changed status of third stage in the <a href="#">Vertex</a> project.
                                                </div>
                                            </div>
                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a6.jpg" />
                                                            <span>Jessica Smith</span>
                                                            <span class="date">Yesterday at 08:14:41 am</span>
                                                        </a>
                                                    </div>
                                                    Add new files to own file sharing place.
                                                </div>
                                            </div>
                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-send bg-primary"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a7.jpg" />
                                                            <img src="img/a1.jpg" />
                                                            <span>Martha Farter and Mike Rodgers</span>
                                                            <span class="date">Yesterday at 04:18:13 am</span>
                                                        </a>
                                                    </div>
                                                    Sent email to all users participating in new project.
                                                </div>
                                            </div>
                                            <div class="stream">
                                                <div class="stream-badge">
                                                    <i class="fa fa-tag bg-warning"></i>
                                                </div>
                                                <div class="stream-panel">
                                                    <div class="stream-info">
                                                        <a href="#">
                                                            <img src="img/a7.jpg" />
                                                            <span>Mark Mickens</span>
                                                            <span class="date">Yesterday at 06:00:30 am</span>
                                                        </a>
                                                    </div>
                                                    Has been taged in the latest comments about the new project.
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}