{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ formDetails.form_name }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
    {% cssresource request,'formshare','select2' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
    {% jsresource request,'formshare','taphold' %}
    {% jsresource request,'formshare','select2' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/snippets/brdcrbs_frmdtls.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    {{ form.display_errors(errors) }}
    <div class="row">
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                {% include 'dashboard/projects/forms/snippets/info_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/links_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/files_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/assistants_tab.jinja2' %}
                {% include 'dashboard/projects/forms/snippets/groups_tab.jinja2' %}
                <div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-warning">Edit form</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>Form details</h2>
                                </div>

                            </div>
                        </div>
                        {% include 'dashboard/projects/forms/snippets/form_details.jinja2' %}
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Map</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" style="margin-right: 10px">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="fullscreen-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">


                                    </div>
                                </div>
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Analysis</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link" style="margin-right: 10px">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="fullscreen-link">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-md-10">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn-group btn-block">
                                                    <button data-toggle="dropdown" style="margin-bottom: 10px" class="btn btn-block btn-primary dropdown-toggle">Add</button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#" class="font-bold">Another action</a></li>
                                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li><a class="dropdown-item"  href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Analysis 1</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link" style="margin-right: 10px">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                    <a class="fullscreen-link">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="scroll_content">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include 'dashboard/projects/forms/snippets/form_activity.jinja2' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'dashboard/projects/forms/snippets/upload_file.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/add_assistant.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/edit_assistant.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/add_group.jinja2' %}
    {% include 'dashboard/projects/forms/snippets/edit_group.jinja2' %}
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>

        function setSwitchery(switchElement, checkedBool) {
            if((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
                switchElement.setPosition(true);
                switchElement.handleOnchange(true);
            }
        }

        $(document).ready(function() {

            $(".collaborator-list").select2({
                dropdownParent: $('#member_form')
            });

            $(".group-list").select2({
                dropdownParent: $('#group_form')
            });

            var elem = document.querySelector('.js-switch');
            var overwrite_switch = new Switchery(elem, { color: '#1AB394' });

            $('.remove_form').click(function () {
                var action_url = $( this ).attr('urn');
                swal({
                        title: "{{ _('Are you sure?') }}",
                        text: "{{ _('All the data in this form will be deleted!') }}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, delete this form!') }}",
                        cancelButtonText: "{{ _('Oops!, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });

            $( "#add_file" ).click(function() {
                $( "#clear_button").click();
            });

            $( "#uploadbutton" ).click(function() {
                $( "#filetoupload" ).click();
                $("#file_label").text('{{ _('File(s)') }}')
                $("#file_info").hide();
            });

            jQuery("#filetoupload").change(function () {
                var fileInput = document.getElementById('filetoupload');
                var fileNames = [];
                for (var i = 0; i < fileInput.files.length; i++) {
                    fileNames.push(fileInput.files[i].name);
                }
                //var filename = fileInput.files[0].name;
                var file_object = $("#form_file");
                file_object.val(fileNames.join(' , '));
                file_object.show();
                $("#clear_section").show();
                $("#uploadbutton").hide();
                $("#linkbutton").hide();
                $("#overwrite_section").show();
            });
            $( "#clear_button" ).click(function() {
                $("#filetoupload").val("");
                var file_object = $("#form_file");
                file_object.val("");
                file_object.hide();
                $("#clear_section").hide();
                $("#uploadbutton").show();
                $("#linkbutton").show();
                $("#file_label").text('{{ _('Type') }}');
                $("#file_info").hide();
                $("#overwrite_section").hide();

                setSwitchery(overwrite_switch, false);

                $("#file_name").val("");
            });
            $( "#linkbutton" ).click(function() {
                var file_object = $("#form_file");
                file_object.attr("placeholder", "http://example.com/files/my_file.csv").blur();
                file_object.show();
                $("#clear_section").show();
                $("#uploadbutton").hide();
                $("#linkbutton").hide();
                $("#file_label").text('{{ _('Link') }}');
                $("#file_info").show();
                $("#overwrite_section").hide();
            });

            $(".file-item").on("taphold", function()
                {
                    var action_url = $( this ).attr('urn');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });

            var assistant_item = $(".assistant-item");

            assistant_item.click(function() {
                var assistant_name = $( this ).attr('data-assistant-name');
                var assistant_role = $( this ).attr('data-assistant-role');
                var action_url = $( this ).attr('urn');
                $("#edit_assistant_form").prop('action',action_url)
                $("#rolewho").text("{{ _('Changing the role of') }} " + assistant_name);

                var role_submmit = $( "#role_submmit" );
                var role_clean = $( "#role_clean" );
                var role_both = $( "#role_both" );
                if (assistant_role === "1")
                    role_submmit.prop( "checked", true );
                if (assistant_role === "2")
                    role_clean.prop( "checked", true );
                if (assistant_role === "3")
                    role_both.prop( "checked", true );

            });

            assistant_item.on("taphold", function()
                {
                    var action_url = $( this ).attr('data-assistant-remove-url');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });

            var group_item = $(".group-item");

            group_item.click(function() {
                var group_name = $( this ).attr('data-group-name');
                var group_role = $( this ).attr('data-group-role');
                var action_url = $( this ).attr('urn');
                $("#edit_group_form").prop('action',action_url)
                $("#grprolewho").text("{{ _('Changing the role of') }} " + group_name);

                var role_submmit = $( "#grp_role_submmit" );
                var role_clean = $( "#grp_role_clean" );
                var role_both = $( "#grp_role_both" );
                if (group_role === "1")
                    role_submmit.prop( "checked", true );
                if (group_role === "2")
                    role_clean.prop( "checked", true );
                if (group_role === "3")
                    role_both.prop( "checked", true );

            });

            group_item.on("taphold", function()
                {
                    var action_url = $( this ).attr('data-group-remove-url');
                    swal({
                            title: "{{ _('Are you sure?') }}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{{ _('Yes, remove it!') }}",
                            cancelButtonText: "{{ _('Oops!, cancel!') }}",
                            closeOnConfirm: true,
                            closeOnCancel: true },
                        function (isConfirm) {
                            if (isConfirm) {
                                var form = document.createElement('form');
                                form.setAttribute('method', 'post');
                                form.setAttribute('action', action_url);
                                form.style.display = 'hidden';

                                var i = document.createElement("input"); //input element, text
                                i.setAttribute('type',"text");
                                i.setAttribute('name',"csrf_token");
                                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                                form.appendChild(i);

                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                });


        });
    </script>


{% endblock scripts %}