{% extends 'dashboard/snippets/breadcrumbs.jinja2' %}

{% block breadcrumb_title %}
    <h2>{{ _("FormShare - Project list") }}</h2>
{% endblock breadcrumb_title %}

{% block breadcrumbitems %}
    <li>
        <a href="{{ request.route_url('dashboard') }}">{{ _("Home") }}</a>
    </li>
    <li class="active">
        <strong><a href="{{ request.route_url('projects') }}">{{ _("Projects") }}</a></strong>
    </li>
{% endblock breadcrumbitems %}

