<span class="label">{{ assistant_count }}</span>
<div class="row">
    {% block assistant_item_data %}
        {% block assistant_item_desc %}
            <div class="col-md-3">
                <div class="text-center">
                    {{ assistant.coll_name }} ({{ assistant.coll_id }}) {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}<span class="badge badge-default" title=" {{ request.h.get_timezone_desc(request,assistant.coll_timezone) }} ">UTC{{ request.h.get_timezone_offset(request,assistant.coll_timezone) }}</span>{% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    {{ assistant.coll_email }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="text-center">
                    {{ assistant.coll_telephone }}
                </div>
            </div>
        {% endblock assistant_item_desc %}
        {% block assistant_item_badges %}
            <div class="col-md-1">
                <div class="text-center">
                    {% if assistant.coll_active == 1 %}
                        <span class="badge badge-primary">{{ _('Active') }}</span>
                    {% else %}
                        <span class="badge badge-danger">{{ _('Inactive') }}</span>
                    {% endif %}
                    {% if assistant.coll_prjshare == 1 %}
                        <span class="badge badge-dark">{{ _('Shared') }}</span>
                    {% endif %}
                </div>
            </div>
        {% endblock assistant_item_badges %}
        {% block assistant_item_actions %}
            <div class="col-md-3">
                {% if projectDetails.access_type < 4 %}
                    <div class="text-center">
                        <a href="{{ request.route_url('assistant_edit',userid=projectDetails.owner,projcode=projectDetails.project_code,assistid=assistant.coll_id) }}#password_section" class="btn btn-white btn-sm action-buttons"><i class="fas fa-key"></i> {{ _('Change password') }} </a>
                        <a href="{{ request.route_url('assistant_edit',userid=projectDetails.owner,projcode=projectDetails.project_code,assistid=assistant.coll_id) }}" class="btn btn-white btn-sm action-buttons"><i class="fas fa-pencil-alt text-warning"></i> {{ _('Edit') }} </a>
                        <a urn="{{ request.route_url('assistant_delete',userid=projectDetails.owner,projcode=projectDetails.project_code,assistid=assistant.coll_id) }}" class="btn btn-white btn-sm remove_assistant action-buttons"><i class="fas fa-trash text-danger"></i> {{ _('Delete') }} </a>
                    </div>
                {% endif %}
            </div>
        {% endblock assistant_item_actions %}
    {% endblock assistant_item_data %}
</div>
<hr>