{% extends 'dashboard/projects/assistants/snippets/assistant_form.jinja2' %}

{% block assistant_form_code %}
    <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('User ID') }}</label>
        <div class="col-sm-10"><input readonly type="text" class="form-control" name="coll_id" value="{{ assistantData.coll_id }}"></div>
    </div>
{% endblock assistant_form_code %}

{% block assistant_form_controls_extra %}
    <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('API Key') }}</label>
        <div class="input-group col-sm-10">
            <input type="text" readonly class="form-control" id="coll_apikey" name="coll_apikey" value="{{ assistantData.coll_apikey }}">
            <span class="input-group-append">
                <button type="button" id="genkey" class="btn btn-default" title="{{ _('Generate new key') }}"><i class="fas fa-sync-alt"></i></button>
            </span>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Active') }}</label>
        <div class="col-sm-10"><input type="checkbox" name="coll_active" class="js-switch2" {% if assistantData|length > 0 %} {% if assistantData.coll_active == 1 %}checked{% endif %}{% else %}checked{% endif %} /></div>
    </div>
    <div class="hr-line-dashed"></div>
{% endblock assistant_form_controls_extra %}

{% block assistant_form_passwords %}

{% endblock assistant_form_passwords %}

{% block assistant_form_actions %}
    <div class="form-group row">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-warning btn-sm" type="submit">{{ _('Modify assistant') }}</button>
        </div>
    </div>
{% endblock assistant_form_actions %}