{% block email_body %}
    {% block email_hello %}
        {{ _('Hello from FormShare') }}
        https://formshare.org
    {% endblock email_hello %}
    {% block email_message %}
        {{ _('You have received this email because you requested us on') }} {{ recovery_date }} {{ _('to reset your password') }}.

        {{ _('Your password reset token is') }}: {{ reset_token }}

        {{ _('Go to this URL') }} {{ reset_url }} {{ _('to reset your password') }}.

        {{ _('If you did not request us to reset your password then someone or something is trying to get into our account. Please change your password immediately!') }}
    {% endblock email_message %}
    {% block email_goodbye %}
        {{ _('Regards') }},
        {{ _('The FormShare team') }}
    {% endblock email_goodbye %}
{% endblock email_body %}