{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}Import data{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','select2' %}
    {% cssresource request,'formshare','switchery' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','select2' %}
    {% jsresource request,'formshare','switchery' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/dictionary/snippets/brdcrbs_dictionary.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>Tables in "{{ formDetails.form_name }}"</h2>
                                </div>

                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                {% include 'dashboard/projects/forms/dictionary/snippets/table_item.jinja2' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {

            $(".assistants").select2({
                placeholder: "Select an assistant",
                allowClear: true
            });

            $(document).ready(function() {
                var elem = document.querySelector('.js-switch');
                var switchery = new Switchery(elem, { color: '#ff0000' });
            });

            $('.custom-file-input').on('change', function() {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });

            $('#update_form_btn').click(function () {
                $("#file").val("");
                $('.custom-file-input').next('.custom-file-label').addClass("selected").html("{{ _('Choose file...') }}");
            });

        });
    </script>


{% endblock scripts %}