<div class="ibox">
    <div class="ibox-title">
        {% block about_tab_title %}
            <h5>{{ _('About') }} {{ userDetails.user_name  }}</h5>
            <div class="ibox-tools">
                {% block about_tab_tools %}
                    {% if viewingSelfAccount %}
                        <a href="{{ request.route_url('profile_edit',userid=activeUser.login) }}" style="margin-right: 10px">
                            <i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i>
                        </a>
                    {% endif %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fas fa-expand"></i>
                    </a>
                {% endblock about_tab_tools %}
            </div>
        {% endblock about_tab_title %}
    </div>
    <div class="ibox-content">
        {% block about_tab_content %}
            {% if userDetails.user_about != None %}
                <textarea id="bio_hidden" style="display:none;">{{ userDetails.user_about }}</textarea>
                <div class="scroll_content">
                    <small id="profile_bio">

                    </small>
                </div>
            {% else %}
                <small id="profile_bio">{{ _('Without bio') }}</small> {% if viewingSelfAccount %} <a href="{{ request.route_url('profile_edit',userid=activeUser.login) }}"><i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i></a> {% endif %}
            {% endif %}
        {% endblock about_tab_content %}
    </div>
</div>