<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        {% block profile_image %}
            <div class="profile-image">
                <img src="{{ request.h.getGravatarUrl(userDetails.user_email,128) }}" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
        {% endblock profile_image %}
        {% block profile_info %}
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ userDetails.user_name }} {% if viewingSelfAccount and request.registry.settings['auth.allow_edit_profile_name'] == 'true' %} <a href="{{ request.route_url('profile_edit',userid=activeUser.login) }}"><i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i></a> {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
        {% endblock profile_info %}
    </div>
    {% block profile_user_stats %}
        <div class="col-md-3">
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Joined:</dt> </div>
                <div class="col-sm-8 text-sm-left"><dd class="mb-1">  {{ request.h.humanize_date(userDetails.user_cdate) }}</dd> </div>
            </dl>
            {% if viewingSelfAccount %}
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>API key:</dt> </div>
                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ userDetails.user_apikey }} <button class="btn btn-xs btn-default clipboard" data-clipboard-text="{{ userDetails.user_apikey }}"><i class="far fa-clipboard" title="{{ _('Copy to clipboard') }}"></i></button></dd></div>
                </dl>
            {% endif %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Collaborators:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  16</dd></div>
            </dl>
        </div>
    {% endblock profile_user_stats %}
    {% block profile_project_stats %}
        <div class="col-md-3">
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Projects:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  6</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Last project:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  3 months ago</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>Forms:</dt> </div>
                <div class="col-sm-8 text-sm-left"><dd class="mb-1">  11</dd> </div>
            </dl>
        </div>
    {% endblock profile_project_stats %}
</div>
