<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        {% block profile_image %}
            <div class="profile-image">
                <img src="{{ request.h.get_gravatar_url(userDetails.user_email,128) }}" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
        {% endblock profile_image %}
        {% block profile_info %}
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ userDetails.user_name }} {% if viewingSelfAccount and request.registry.settings['auth.allow_edit_profile_name'] == 'true' %} <a href="{{ request.route_url('profile_edit',userid=activeUser.login) }}"><i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i></a> {% endif %}
                        </h2>
                        {% if edit_profile %}
                            <small>{{ _('Use') }} <a target="_blank" href="https://en.gravatar.com/">Gravatar</a> {{ _('to change your profile image') }}.</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock profile_info %}
    </div>
    {% block profile_user_stats %}
        <div class="col-md-3">
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Joined') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"><dd class="mb-1">  {{ request.h.humanize_date(userDetails.user_cdate, request.locale_name) }}</dd> </div>
            </dl>
            {% if viewingSelfAccount %}
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>{{ _('API key') }}:</dt> </div>
                    <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ userDetails.user_apikey }} <button class="btn btn-xs btn-default clipboard" data-clipboard-text="{{ userDetails.user_apikey }}"><i class="far fa-clipboard" title="{{ _('Copy to clipboard') }}"></i></button></dd></div>
                </dl>
            {% endif %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Collaborators') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ userDetails.user_stats.collaborators|length }}</dd></div>
            </dl>
        </div>
    {% endblock profile_user_stats %}
    {% block profile_project_stats %}
        <div class="col-md-3">
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Projects') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ userDetails.user_stats.num_projects }}</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Last project') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {% if userDetails.user_stats.last_project != None  %}{{ request.h.humanize_date(userDetails.user_stats.last_project, request.locale_name) }}{% else %}{{ _('without projects') }}{% endif %}</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Forms') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"><dd class="mb-1">  {{ userDetails.user_stats.num_forms }}</dd> </div>
            </dl>
        </div>
    {% endblock profile_project_stats %}
</div>
