<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

        <div class="profile-image">
            <img src="img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        Alex Smith {% if viewingSelfAccount %} <a style="margin-right: 10px"><i class="fas fa-pencil-alt text-warning" title="{{ _('Edit') }}"></i></a> {% endif %}
                    </h2>
                    <h4>Founder of Groupeq</h4>
                    <small>
                        There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form Ipsum available.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>Joined:</dt> </div>
            <div class="col-sm-8 text-sm-left"><dd class="mb-1">  3 years ago</dd> </div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>Projects:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  6</dd></div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>Last project:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  3 months ago</dd></div>
        </dl>
    </div>
    <div class="col-md-3">
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>Forms:</dt> </div>
            <div class="col-sm-8 text-sm-left"><dd class="mb-1">  11</dd> </div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>Collaborators:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  16</dd></div>
        </dl>
    </div>
</div>