<div class="ibox">
    <div class="ibox-title">
        {% block social_tab_title %}
            <h5>{{ _('Social links') }}</h5>
            <div class="ibox-tools">
                {% block social_tab_tools %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fas fa-expand"></i>
                    </a>
                {% endblock social_tab_tools %}
            </div>
        {% endblock social_tab_title %}
    </div>
    <div class="ibox-content">
        {% block social_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    {% if viewingSelfAccount %}
                        <small>Click / Tap and hold to remove</small>
                    {% endif %}
                    <ul class="tag-list" style="padding: 0">
                        {% block profile_social_list %}
                            {% if activeUser != None %}
                                <li><a href="mailto:{{ userDetails.user_email }}"><i class="far fa-envelope"></i> Email</a></li>
                            {% else %}
                                <li><a href="{{ request.route_url('login') }}"><i class="far fa-envelope"></i> Email</a></li>
                            {% endif %}
                        {% endblock profile_social_list %}
                    </ul>
                </div>
            </div>
        {% endblock social_tab_content %}
    </div>
</div>