<div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
        <i class="fa fa-briefcase"></i>
    </div>

    <div class="vertical-timeline-content">
        <h5>Meeting</h5>
        <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
        </p>
        <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
    </div>
</div>