{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Edit Profile") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','bsmarkdown' %}
    {% cssresource request,'formshare','select2' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','markdown' %}
    {% jsresource request,'formshare','select2' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/profile/snippets/brdcrbs_profile_edit.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    {% block profile_edit_head %}
        {% set edit_profile = True %}
        {% include 'dashboard/profile/snippets/profile_head.jinja2' %}
    {% endblock profile_edit_head %}
    {% block profile_edit_content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        {{ form.display_errors(errors) }}
                        {% block profile_edit_form %}
                            <form class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
                                {{ form.secure_form(request) }}
                                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Name') }}</label>
                                    <div class="col-sm-10"><input {% if request.registry.settings['auth.allow_edit_profile_name'] == 'false' %}readonly{% endif %} type="text" class="form-control" name="user_name" value="{{ userDetails.user_name }}"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Bio data') }}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="user_about" data-provide="markdown" rows="10">{% if userDetails.user_about != None %}{{ userDetails.user_about }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('API Key') }}</label>
                                    <div class="input-group col-sm-10">
                                        <input type="text" readonly class="form-control" id="user_apikey" name="user_apikey" value="{{ userDetails.user_apikey }}">
                                        <span class="input-group-append">
                                            <button type="button" id="genkey" class="btn btn-default" title="{{ _('Generate new key') }}"><i class="fas fa-sync-alt"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Timezone') }}</label>
                                        <div class="col-sm-10">
                                            <select style="width: 100%" id="user_timezone" name="user_timezone" data-module="autocomplete" data-module-dropdown-class="lang-dropdown" data-module-container-class="lang-container">
                                                {% for a_timezone in timezones %}
                                                    <option value="{{ a_timezone.timezone_code }}" {% if a_timezone.timezone_code == userDetails.user_timezone %} selected {% endif %} >{{ a_timezone.timezone_name }} (UTC{{ a_timezone.timezone_utc_offset }})</option>
                                                {% endfor %}
                                            </select>
                                            <span class="form-text m-b-none">{{ _("This should be your current timezone. As a reference, FormShare's timezone is ") }} {{ system_timezone_name }} {% if system_timezone != "UTC" %}(UTC{{ system_timezone_offset }}){% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                {% endif %}
                                {% block profile_edit_controls_extra %}

                                {% endblock profile_edit_controls_extra %}
                                <div class="form-group row">
                                    {% block profile_edit_actions %}
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary btn-sm" name="editprofile" type="submit">{{ _('Save changes') }}</button>
                                        </div>
                                    {% endblock profile_edit_actions %}
                                </div>
                            </form>
                        {% endblock profile_edit_form %}
                    </div>
                </div>
                {% if request.registry.settings['auth.allow_user_change_password'] == 'true' %}
                    <div class="ibox">
                        <div class="ibox-content">
                            {% block profile_change_password_form %}
                                <form class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
                                    {{ form.secure_form(request) }}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Old password') }}</label>
                                                <div class="col-sm-10"><input type="password" class="form-control" name="old_pass" value=""></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('New password') }}</label>
                                                <div class="col-sm-10"><input type="password" class="form-control" name="new_pass" value=""></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Confirmation') }}</label>
                                                <div class="col-sm-10"><input type="password" class="form-control" name="conf_pass" value=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        {% block profile_password_actions %}
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-primary btn-sm" name="changepass" type="submit">{{ _('Change password') }}</button>
                                            </div>
                                        {% endblock profile_password_actions %}
                                    </div>
                                </form>
                            {% endblock profile_change_password_form %}
                        </div>
                    </div>
                {% endif %}
                {% block profile_edit_section_extra %}

                {% endblock profile_edit_section_extra %}
            </div>
        </div>
    {% endblock profile_edit_content %}
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $(document).ready(function() {
            {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
                $("#user_timezone").select2();
            {% endif %}

            $('#genkey').click(function () {
                $('#user_apikey').val(uuidv4());
            });

        });
    </script>
{% endblock scripts %}