{% extends 'dashboard/page.jinja2' %}

{% block titlesection %}{{ _("Profile") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','bsmarkdown' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','markdown' %}
    {% jsresource request,'formshare','clipboard' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/profile/snippets/brdcrbs_profile.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    {% block profile_head %}
        {% include 'dashboard/profile/snippets/profile_head.jinja2' %}
    {% endblock profile_head %}

    {% block profile_details %}
        {% include 'dashboard/profile/snippets/profile_details.jinja2' %}
    {% endblock profile_details %}

{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('.scroll_content2').slimscroll();
            new ClipboardJS('.clipboard');

            {% if userDetails.user_about != None %}
                var val = $("#bio_hidden").val();
                document.getElementById('profile_bio').innerHTML = markdown.toHTML(val);
                $('.scroll_content').slimscroll();
            {% endif %}
        });
    </script>
{% endblock scripts %}