{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Creating repository') }} {% endblock titlesection %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/repository/snippets/brdcrbs_repository.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <div  class="ibox">
                <div class="ibox-title">
                    <h5>{{ _('Repository creator') }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" style="margin-right: 10px">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            {% if method == "get" %}
                                <h2>{{ _('Lets begin') }}</h2>
                                <form id="repform" class="dataset-form form-horizontal add-member-form" role="form" method="post" action="{{ request.url }}">
                                    {% include 'dashboard/projects/repository/snippets/pkey_form.jinja2' %}
                                </form>
                            {% else %}
                                {{ form.display_errors(errors) }}
                                {% if stage == 1 or stage == 2%}
                                    <form id="repform" class="dataset-form form-horizontal add-member-form" role="form" method="post" action="{{ request.url }}">
                                        {% if stage == 1 %}
                                            {% include 'dashboard/projects/repository/snippets/pkey_form.jinja2' %}
                                        {% endif %}
                                        {% if stage == 2 %}
                                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                            <input type="hidden" name="start_stage2">
                                            <input type="hidden" name="languages_string", value="{{ languages_string }}">
                                            <input type="hidden" name="form_pkey", value="{{ primary_key }}">
                                            <div class="form-group">
                                                <label>{{ _('Primary language') }}</label>
                                                <select style="width: 300px !important;" id="form_deflang" name="form_deflang" class="form-control">
                                                    {% for language in languages %}
                                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span style="color: #f8ac59" class="form-text m-b-none text-warning">{{ _('Please note that FormShare will store the descriptions of variables and choices in the primary language.') }}</span>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <b>{{ _('Language codes') }}</b><br/>
                                            <span>{{ _('You must give a code to each language. Use the ')}}<a target="_blank" href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes"> {{ _('ISO 639-1') }}</a> {{ _('as reference.') }}</span>
                                            <br/>
                                            <br/>
                                            {% for language in languages %}
                                                <div class="form-group">
                                                    <label>{{ _('For') }} {{ language.name }}</label>
                                                    <input class="form-control" style="width: 100px !important;" type="text" name="LNG-{{ language.name }}" value="{{ language.code }}">
                                                </div>
                                            {% endfor %}
                                            <div class="form-actions">
                                                <button class="btn btn-primary" type="submit">
                                                    {{ _('Create repository') }}
                                                </button>
                                            </div>
                                        {% endif %}
                                    </form>
                                {% endif %}
                                {% if stage == -1 %}
                                    {% if result_code == 1 or result_code == 2 or result_code == 16 or result_code == 18 or result_code == 19 or result_code == 20 %}
                                        <h2>{{ _('Oops! Something went wrong!') }}</h2>
                                        {{ _('The process returned an unexpected error. An email has been sent to the technical team.') }}
                                    {% endif %}
                                    {% if result_code == 9 %}
                                        <h2>{{ _('Your ODK have duplicated options') }}</h2>
                                        {{ _('You need to fix the below errors in CSV files, upload the new version and continue the process.') }}
                                        <UL>
                                            {% for aList in list_array %}
                                                <LI><span style="color: red">{{ _('CSV with duplicated options') }}:</span> {{ aList.name }}
                                                    <UL>
                                                        <LI>{{ _('Duplicated options') }}:
                                                            <UL>
                                                                {% for aValue in aList['values'] %}
                                                                    <LI>{{ aValue }}</LI>
                                                                {% endfor %}
                                                            </UL>
                                                        </LI>
                                                        {% if aList['references']|length > 0 %}
                                                            <LI>{{ _('Used by the following variables') }}:
                                                                <UL>
                                                                    {% for aRef in aList['references'] %}
                                                                        <LI><b>{{ aRef.variable }}</b> -- {{ _('Choice used') }}: {{ aRef.option }}</LI>
                                                                    {% endfor %}
                                                                </UL>
                                                            </LI>
                                                        {% endif %}
                                                    </UL>
                                                </LI>
                                            {% endfor %}
                                        </UL>
                                    {% endif %}
                                    {% if result_code == 11 %}
                                        <h2>{{ _('One of your resource XML files is missing') }}</h2>
                                        {{ _('The file') }} {{ file_with_error }} {{ _(' was not attached.') }}<br/>
                                        {{ _('Attach the file and start the process again.') }}
                                    {% endif %}
                                    {% if result_code == 12 %}
                                        <h2>{{ _('One of your resource XML files cannot be used') }}</h2>
                                        {{ _('The file') }} {{ file_with_error }} {{ _('cannot be parsed') }}<br/>
                                        {{ _('You need to fix the problem before continuing the process.') }}
                                    {% endif %}
                                    {% if result_code == 13 %}
                                        <h2>{{ _('One of your resource CSV files is missing') }}</h2>
                                        {{ _('The file ') }} <span style="color: red">"{{ file_with_error }}"</span> {{ _('was not attached.') }}<br/>
                                        {{ _('Attach the file and start the process again.') }}
                                    {% endif %}
                                    {% if result_code == 14 %}
                                        <h2>{{ _('One of your resource CSV files cannot be used') }}</h2>
                                        {{ _('The file') }} {{ file_with_error }} {{ _('has invalid characters') }}<br/>
                                        {{ _('You need to fix the problem before continuing the process.') }}
                                    {% endif %}
                                    {% if result_code == 15 %}
                                        <h2>{{ _('One of your resource CSV files cannot be used') }}</h2>
                                        {{ _('The file') }} {{ file_with_error }} {{ _('cannot be read or you are mixing select options in CSV with options in the choices sheet.') }}<br/>
                                        {{ _('You need to fix the problem before continuing the process.') }}<br/>
                                        {{ _('Please check the CSV file and whether your are mixing select options in the choices sheet with options in a CSV for a single list_name and move all the select options to the CSV') }}

                                    {% endif %}
                                    {% if result_code == 21 %}
                                        <h2>{{ _('Your ODK have duplicated list names in the choices sheet') }}</h2>
                                        {{ _('You need to fix the below errors in the ODK form, upload the new version and continue the process.') }}
                                        <UL>
                                            {% for a_choice in duplicated_choices %}
                                                <LI>{{ _('List name') }}: "{{ a_choice.name }}"
                                                    <UL>
                                                        <LI>{{ _('Duplicated list names') }}
                                                            <UL>
                                                                {% for a_duplicate in a_choice['duplicates'] %}
                                                                    <LI>{{ a_duplicate }}</LI>
                                                                {% endfor %}
                                                            </UL>
                                                        </LI>
                                                    </UL>
                                                </LI>
                                            {% endfor %}
                                        </UL>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('#repform').submit(function() {
                $(this).find("button[type='submit']").prop('disabled',true);
            });
        });
        </script>
{% endblock scripts %}