{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ formDetails.form_name }}{% endblock titlesection %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/snippets/brdcrbs_frmdtls.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    {% if resCode > 1  and resCode != 14 and resCode != 15 %}
        {% if error_summary|length > 0 %}
            <div class="error-explanation alert alert-error">
                <p>{{ _('The form contains invalid entries:') }}</p>
                <ul>
                    {% for key, error in error_summary.items() %}
                        <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
    {% if resCode != 0  %}
        {% if resCode > 1 or get == true  %}
            {% if stage == 1 %}
                <h2>We need some extra information</h2>
            {% endif %}
            {% if stage == 2 %}
                <h2>Your ODK seems to have different languages.</h2>
                Please give us some extra information about them.
            {% endif %}
            {% if stage == 3 %}
                {% if hasTablesToSeparate %}
                    <h2>Your ODK needs normalization.</h2>
                    When you create a repository your data will be stored in different tables in a database. This database is constructed based on the ODK XLSX file and depending on how big the ODK is, one or more tables might contain several columns. Usually, these many columns cut across several topics or themes, "normalization" means that <b>we need your help</b> in separating one or more "big tables" into smaller sections by topic or theme. <b>Each section must have less than 60 columns.</b>
                {% else %}
                    <h2 style="color: green">Your ODK has been normalized.</h2>
                    You can continue the process
                {% endif %}

            {% endif %}
            {% if stage == 4 %}
                {% if request.method == 'POST' %}
                    <h2>Your ODK have duplicated options.</h2>
                    You need to fix the below errors in the XLSX form, upload the new version and continue the process.
                {% else %}
                    <h2>Your had duplicated options in your ODK.</h2>
                    If you uploaded a new version continue the process by clicking on the "Create repository" button.
                {% endif %}
            {% endif %}
            {% if stage == 5 %}
                {% if request.method == 'POST' %}
                    <h2>You miss some CSVs or ZIPs support files.</h2>
                    You need to add all support CSV or ZIP files before continuing with the process.
                {% else %}
                    <h2>Your <b>had</b> some missing CSVs or ZIPs.</h2>
                    If you attached them then continue the process by clicking on the "Create repository" button.
                {% endif %}
            {% endif %}
            {% if stage == 6 %}
                {% if resCode == 14 %}
                    {% if request.method == 'POST' %}
                        <h2>Some of your CSVs have invalid characters.</h2>
                        {% for key, error in error_summary.items() %}
                            <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                        {% endfor %}
                    {% else %}
                        <h2>Your <b>had</b> some CSVs with invalid characters</h2>
                        If you corrected them then continue the process by clicking on the "Create repository" button.
                    {% endif %}
                {% endif %}
                {% if resCode == 15 %}
                    {% if request.method == 'POST' %}
                        <h2>An option in the XLSX has invalid characters.</h2>
                        {% for key, error in error_summary.items() %}
                            <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                        {% endfor %}
                        You need to correct the XLSX form, upload the new version and continue the process.
                    {% else %}
                        <h2>Your <b>had</b> some CSVs with invalid characters</h2>
                        If you corrected them then continue the process by clicking on the "Create repository" button.
                    {% endif %}
                {% endif %}
            {% endif %}
            <hr>
            <form class="dataset-form form-horizontal add-member-form" method='post'>
                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                <input type="hidden" name="stage" value="{{ stage }}">
                {% if stage == 1 %}
                    <div class="row-fluid">
                        <div class="control-group control-medium">
                            <label class="control-label" for="primarykey">
                                {{ _('Primary key') }}
                            </label>
                            <span>
                            {{ _('Which variable will be used as primary key') }}
                        </span>

                            <div class="controls">
                                <input id="primarykey" type="text" name="primarykey" placeholder="{{ _('Primary key') }}" value="" class="control-medium">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if stage == 2 %}
                    <input id="primarykey" type="hidden" name="primarykey" value="{{ primaryKey }}">
                    <div class="row-fluid">
                        <div class="control-group control-medium">
                            <label class="control-label" for="member">
                                {{ _('Default language') }}
                            </label>
                            <span>{{ _('Which language will be the default') }}</span>
                            <div class="controls">
                                <select id="deflanguage" name="deflanguage" data-module="autocomplete" data-module-dropdown-class="lang-dropdown" data-module-container-class="lang-container">
                                    {% for language in languages %}
                                        <option value="{{ language.name }}" {% if language.name == deflanguage %} selected {% endif %}>{{ language.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group control-medium">
                            <label class="control-label" for="member">
                                {{ _('Language codes') }}
                            </label>
                            <span>{{ _('Give a code to each language. Use the ISO 639-1 codes ')}}<a target="_blank" href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes"> {{ _('HERE') }}</a> {{ _('as reference.') }}</span>
                            <div class="controls">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>{{ _('Language') }}</th>
                                        <th>{{ _('Code') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for language in languages %}
                                            <tr>
                                                <td>{{ language.name }}:</td>
                                                <td><input type="text" name="LNG-{{ language.name }}" value="{{ language.code }}"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="yesno" class="row-fluid">
                        <div class="control-group control-medium">
                            <label class="control-label" for="primarykey">
                                {{ _('Yes value') }}
                            </label>
                            <span>{{ _('What is "Yes" is the default language') }}</span>
                            <div class="controls" style="margin-left: 0px">
                                <input id="yesvalue" type="text" name="yesvalue" value="{{ yesvalue }}" class="control-medium" style="width: 100px !important;">
                            </div>
                        </div>
                        <div class="control-group" style="margin-left: 0px">
                            <label class="control-label" for="primarykey">
                                {{ _('No value') }}
                            </label>
                            <span>{{ _('What is "No" is the default language') }}</span>
                            <div class="controls">
                                <input id="novalue" type="text" name="novalue" value="{{ novalue }}" class="control-medium" style="width: 100px !important;">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if stage == 3 %}
                    Tables involved:
                    {% for table in sepTables %}
                        {% if table.separate == true %}
                            <a style="color: red;" href="">{{ table.name }} (needs separation)</a>
                        {% else %}
                            <a href="">{{ table.name }} (normalized)</a>
                        {% endif %}
                    {% endfor %}
                    <input id="primarykey" type="hidden" name="primarykey" value="{{ primaryKey }}">
                    <input id="defaultLanguage" type="hidden" name="defaultLanguage" value="{{ defaultLanguage }}">
                    <input id="otherLanguages" type="hidden" name="otherLanguages" value="{{ otherLanguages }}">
                    <input id="yesNoStrings" type="hidden" name="yesNoStrings" value="{{ yesNoStrings }}">
                {% endif %}
                {% if stage == 4 %}
                    <input id="primarykey" type="hidden" name="primarykey" value="{{ primaryKey }}">
                    <input id="defaultLanguage" type="hidden" name="defaultLanguage" value="{{ defaultLanguage }}">
                    <input id="otherLanguages" type="hidden" name="otherLanguages" value="{{ otherLanguages }}">
                    <input id="yesNoStrings" type="hidden" name="yesNoStrings" value="{{ yesNoStrings }}">
                    <UL>
                        {% for aList in listArray %}
                            <LI><span style="color: red">Repository table with duplicated options:</span> {{ aList.name }}
                                <UL>
                                    <LI>Duplicated options
                                        <UL>
                                            {% for aValue in aList['values'] %}
                                                <LI>{{ aValue }}</LI>
                                            {% endfor %}
                                        </UL>
                                    </LI>
                                    <LI>Used by the following variables
                                        <UL>
                                            {% for aRef in aList['references'] %}
                                                <LI><b>{{ aRef.variable }}</b> -- List used: {{ aRef.option }}</LI>
                                            {% endfor %}
                                        </UL>
                                    </LI>
                                </UL>
                            </LI>
                        {% endfor %}
                    </UL>

                {% endif %}
                {% if stage == 5 %}
                    <input id="primarykey" type="hidden" name="primarykey" value="{{ primaryKey }}">
                    <input id="defaultLanguage" type="hidden" name="defaultLanguage" value="{{ defaultLanguage }}">
                    <input id="otherLanguages" type="hidden" name="otherLanguages" value="{{ otherLanguages }}">
                    <input id="yesNoStrings" type="hidden" name="yesNoStrings" value="{{ yesNoStrings }}">
                {% endif %}
                {% if stage == 6 %}
                    <input id="primarykey" type="hidden" name="primarykey" value="{{ primaryKey }}">
                    <input id="defaultLanguage" type="hidden" name="defaultLanguage" value="{{ defaultLanguage }}">
                    <input id="otherLanguages" type="hidden" name="otherLanguages" value="{{ otherLanguages }}">
                    <input id="yesNoStrings" type="hidden" name="yesNoStrings" value="{{ yesNoStrings }}">
                {% endif %}
                <div class="form-actions">
                    <button class="btn btn-primary" onClick="this.disabled=true; this.innerText='Creating the repository. This might take few minutes. Do not close this window';" type="submit" name="start" {% if hasTablesToSeparate == true %}disabled{% endif %}>
                        {{ _('Create repository') }}
                    </button>
                </div>
            </form>
        {% else %}
            <h2 style="color: red">Ups! There has been an error while creating the repository</h2>
                We need to check your ODK. Please send the XLSX to support_for_cabi@qlands.com and we will get back to you as soon as possible with an explanation and a solution. In your email please use the below error code and message if any.<br/>We are sorry for the inconvenience.
                <h3>Error code: {{ resCode }}</h3>
                {% for key, error in error_summary.items() %}
                        <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                {% endfor %}
        {% endif %}
    {% else %}
        <h2 style="color: green">The repository has been created</h2>
        You can close this page
    {% endif %}
{% block mainsection %}