{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Merge new version') }} {% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
    {% if survey_columns|length > 0 or choices_columns|length > 0 %}
        {% cssresource request,'formshare','select2' %}
    {% endif %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
    {% if survey_columns|length > 0 or choices_columns|length > 0 %}
        {% jsresource request,'formshare','select2' %}
    {% endif %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/repository/snippets/brdcrbs_merge.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <div  class="ibox">
                <div class="ibox-title">
                    <h5>{{ _('Merge form') }} "{{ formData.name }}" {{ _('into the repository of form') }} "{{ oldformData.name }}"</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" style="margin-right: 10px">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            {% block merge_form_notes %}
                                <h3>{{ _("Important notes:") }}</h3>
                                <ul>
                                    <li>{{ _('FormShare will perform more checks on')}} "{{ formData.name }}" {{ _('and report whether or not is possible to merge it into the repository of') }} "{{ oldformData.name }}".<br/>{{ _('The following changes cannot be merged:') }}
                                        <ol>
                                            <li>{{ _('The primary key changes in any way.') }}</li>
                                            <li>{{ _('Changes in the structure of repeats. For example: In') }} "{{ oldformData.name }}" {{ _('you have repeat B inside repeat A but in ')}} "{{ formData.name }}" {{ _('you have repeat A and repeat C but repeat B is now inside C.') }}</li>
                                            <li>{{ _('Change a string variable into integer.') }}</li>
                                            <li>{{ _('Change a variable from select one into select multiple and the other way around.') }}</li>
                                            <li>{{ _('Change a variable from categorical into continuous and the other way around.') }}</li>
                                            <li>{{ _('Change the description of an option. For example: In')}} "{{ oldformData.name }}" {{ _('you have "1-Male" but in') }} "{{ formData.name }}" {{_('you have "1-Man". In this case FormShare will ask you if such a change should be ignored because this could be a typo fix between versions, however') }} <span style="color: red">{{ _('YOU ASSUME THE RISK.') }}</span></li>
                                        </ol>
                                    </li>
                                    <li>{{ _('The merge will only apply incremental changes thus you will not lose data. If for example you removed a variable in')}} "{{ formData.name }}" {{_('such variable will always exist in the repository of') }} "{{ oldformData.name }}"</li>
                                    <li>{{ _('FormShare will apply the merge in a secure backup before any changes are made to the repository of') }} "{{ oldformData.name }}".</li>
                                    <li style="color: red">{{ _('Any form using such repository will not accept changes until the merge is committed or rolled-back.') }}</li>
                                </ul>
                            {% endblock merge_form_notes %}
                        </div>
                        <div class="col-md-12">
                            <hr>
                            {{ form.display_errors(errors,true) }}
                            {% for error in merge_errors %}
                                {% if errortype == 2 %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning">
                                        {{ error }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="middle-box text-center">
                                {% if errortype == 1 %}
                                    {{ _('There are changes in the descriptions of certain choice options. You can merge such changes at') }} <b style="color: red">{{ _('YOUR OWN RISK') }} {{ _('by trying again') }}</b>
                                {% endif %}
                                <form id="form_update_form" class="require_busy" role="form" method="post" enctype="multipart/form-data" action="{{ request.url }}">
                                    {% block merge_form %}
                                        {{ form.secure_form(request) }}
                                        {% if errortype == 1 %}
                                            <input type="hidden" name="valuestoignore" value="{{ valuestoignore }}">
                                        {% endif %}
                                        <div class="form-group">
                                            {% if has_submit_assistant %}
                                                <label class="text-danger">{{ _('Discard all testing data (Option is "No" by default)') }}</label>
                                                <input type="checkbox" name="discard_testing_data" class="js-switch"/>
                                                <span class="form-text m-b-none text-warning">{{ _('Change the switch if you DO NOT WANT to append the testing data into the repository') }}</span>
                                            {% else %}
                                                <input type="hidden" name="discard_testing_data"/>
                                                <label class="text-danger">{{ _("The form does not have an assistant that can submit data. If you proceed all testing data will get discarded!!!") }}</label>
                                            {% endif %}
                                        </div>
                                        {% if survey_columns|length > 0  %}
                                            <hr>
                                            <div class="form-group">
                                                <label>{{ _('Select the data columns that you want to merge from the survey sheet into the dictionary. (All by default)') }}</label>
                                                <select id="form_surveycolumns" data-module="autocomplete" name="survey_data_columns" multiple="multiple" style="width: 100%">
                                                    {% for a_column in survey_columns %}
                                                        <option value="{{ a_column }}" selected >{{ a_column }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                        {% if choices_columns|length > 0  %}
                                            <hr>
                                            <div class="form-group">
                                                <label>{{ _('Select the data columns that you want to merge from the choices sheet. (All by default)') }}</label>
                                                <select id="form_choicescolumns" data-module="autocomplete" name="choices_data_columns" multiple="multiple" style="width: 100%">
                                                    {% for a_column in choices_columns %}
                                                        <option value="{{ a_column }}" selected >{{ a_column }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                        <p style="color: red">{{ _('Note: Encryption and sensitivity are the ONLY properties in the dictionary that will propagate to the new version. For example, a field that was encrypted in') }} "{{ oldformData.name }}" {{ _('will remain encrypted in') }} "{{ formData.name }}" {{ _('even if its marked as') }} formshare_encrypted=no {{ _('in') }} "{{ formData.name }}". {{ _('The same for fields marked as sensitive.') }}</p>
                                        {% block merge_form_actions %}
                                            {% if errortype != 1 %}
                                                <button type="submit" style="margin-top: 10px" class="btn btn-primary">{{ _('Merge new version') }}</button>
                                            {% else %}
                                                <button type="submit" name="accept" style="margin-top: 10px" class="btn btn-primary">{{ _('Accept changes and merge new version') }}</button>
                                            {% endif %}
                                        {% endblock merge_form_actions %}
                                    {% endblock merge_form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            {% if has_submit_assistant %}
                var elem = document.querySelector('.js-switch');
                var switchery = new Switchery(elem, { color: '#1AB394' });
            {% endif %}
            $('#form_update_form').submit(function() {
                $(this).find("button[type='submit']").prop('disabled',true);
            });
            {% if survey_columns|length > 0 %}
                $("#form_surveycolumns").select2();
            {% endif %}
            {% if choices_columns|length > 0 %}
                $("#form_choicescolumns").select2();
            {% endif %}
        });
    </script>
{% endblock scripts %}