{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Creating repository for') }}{{ formDetails.form_name }}{% endblock titlesection %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/snippets/brdcrbs_frmdtls.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <h2>The repository exists</h2>
{% endblock mainsection %}