{% extends 'landing/page.jinja2' %}
{% block bodycontent %}
    {% block navbar %}
        <div class="navbar-wrapper">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">{{ _("Toggle navigation") }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block mainnavlink %}
                            <a class="navbar-brand" href="#">Login / register</a>
                        {% endblock mainnavlink %}
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% block mainnavbar %}
                                <li><a class="page-scroll" href="#page-top">Home</a></li>
                                <li><a class="page-scroll" href="#features">Features</a></li>
                                {#<li><a class="page-scroll" href="#team">Team</a></li>
                                <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                                <li><a class="page-scroll" href="#pricing">Pricing</a></li>#}
                                <li><a class="page-scroll" href="#contact">Contact</a></li>
                            {% endblock mainnavbar %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock navbar %}

    {% block slider %}
        {% snippet 'landing/snippets/slider.jinja2', request=request%}
    {% endblock slider %}
    {% block services %}
        {# Extend this section by adding the below snippet if you want to add a services section #}
        {# {% snippet 'landing/snippets/services.jinja2', request=request %}#}
    {% endblock services %}
    {% block features %}
        {% snippet 'landing/snippets/features.jinja2', request=request %}
    {% endblock features %}
    {% block team %}
        This team has 2 {{ request.h.pluralize('member',2) }} not 1 {{ request.h.pluralize('member',1) }}
        {# Extend this section by adding the below snippet if you want to add a team section #}
        {# {% snippet 'landing/snippets/team.jinja2', request=request %}#}
    {% endblock team %}
    {% block features2 %}
        {# Extend this section by adding the below snippet if you want to add a second section of feautures #}
        {# {% snippet 'landing/snippets/features2.jinja2', request=request %}#}
    {% endblock features2 %}
    {% block timeline %}
        {# Extend this section by adding the below snippet if you want to add a timeline section #}
        {# {% snippet 'landing/snippets/timeline.jinja2', request=request %}#}
    {% endblock timeline %}
    {% block testimonials %}
        {# Extend this section by adding the below snippet if you want to add a testimonial section #}
        {# {% snippet 'landing/snippets/testimonials.jinja2', request=request %}#}
    {% endblock testimonials %}
    {% block features3 %}
        {# Extend this section by adding the below snippet if you want to add a third section of features #}
        {# {% snippet 'landing/snippets/features3.jinja2', request=request %}#}
    {% endblock features3 %}
    {% block pricing %}
        {# Extend this section by adding the below snippet if you want to add a pricing section #}
        {# {% snippet 'landing/snippets/pricing.jinja2', request=request %}#}
    {% endblock pricing %}
    {% block contact %}
        {% snippet 'landing/snippets/contact.jinja2', request=request %}
    {% endblock contact %}
{% endblock bodycontent %}