<div class="post">
{#    <span class="label">{{ error_count }}</span>#}

    {% if error.lastentry.log_notes != None %}
        <textarea hidden id="notes-{{ error.log_short }}">{{ error.lastentry.log_notes }}</textarea>
    {% else %}
        <textarea hidden id="notes-{{ error.log_short }}"></textarea>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <span title="{{ error.log_id }}">...-{{ error.log_short }}</span> <button class="btn btn-white btn-bitbucket clipboard" data-clipboard-text="{{ error.log_id }}" title="{{ _('Copy submission to clipboard') }}"><i class="far fa-copy"></i></button><br/>{{ _('by') }} {{ error.enum_name }}<br/>
                {{ error.log_dtime }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                {% if error.error.maintable %}
                    {{ _('Duplicated value') }} "{{ error.error.duplicated_value }}" {{ _('for primary key') }} "{{ error.error.primary_key }}". {{ _('The value is already in use by submission') }} <a style="color: #0a6aa1" class="compare_survey" urn="{{ request.route_url('comparejsons',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" data-survey-id="{{ error.error.survey_id }}">{{ error.error.survey_id }}</a>
                {% else %}
                    {{ error.error.error }}
                {% endif %}
            </div>
        </div>
        {% set disregard = false %}
        {% if error.lastentry != None %}
            {% if error.lastentry.log_action == 4 %}
                {% set disregard = true %}
            {% endif %}
        {% endif %}
        <div class="col-md-3">
            <div class="text-center">
                {% if error.status == 1 %}
                    {% if disregard == false %}
                        <b style="color: red">Not fixed yet</b>
                    {% else %}
                        <b style="color: orange">Disregarded</b>
                    {% endif %}
                    {% if error.lastentry != None %}
                        {% if error.lastentry.log_action == 5 %}
                            <br/>{{ error.lastentry.enum_name }} {{ _('canceled check-out') }}<br/>
                            <span title="{{ _('Canceled date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                        {% endif %}
                        {% if error.lastentry.log_action == 6 %}
                            <br/> {{ error.lastentry.enum_name }} {{ _('canceled revision') }} <a href="{{ request.route_url('viewrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit) }}">{{ error.lastentry.log_commit }}</a><br/>
                            <span title="{{ _('Canceled date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                        {% endif %}
                        {% if error.lastentry.log_action == 7 %}
                            <br/> {{ error.lastentry.enum_name }} {{ _('pushed revision') }} <a href="{{ request.route_url('viewrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit,_query={'pushed': true}) }}">{{ error.lastentry.log_commit }}</a> but failed<br/>
                            <span title="{{ _('Failed date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                        {% endif %}
                        {% if error.lastentry.log_action == 8 %}
                            <br/>{{ error.lastentry.enum_name }} {{ _('canceled disregard') }}<br/>
                            <span title="{{ _('Canceled date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if error.status == 2 %}
                    {{ _('Checked out by') }} {{ error.lastentry.enum_name }}<br/>
                    <span title="{{ _('Check-out date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                {% endif %}
                {% if error.status == 3 %}
                    {{ error.lastentry.enum_name }} {{ _('checked in revision ID') }}: <a href="{{ request.route_url('viewrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit) }}">{{ error.lastentry.log_commit }}</a><span class="label label-important" title="{{ _('To be pushed to the repository') }}">{{ _('To be pushed') }}</span> <br/>
                    <span title="{{ _('Check-in date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                {% endif %}
                {% if error.status == 5 %}
                    {{ error.lastentry.enum_name }} {{ _('canceled check-out') }}<br/>
                    <span title="{{ _('Canceled date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                {% endif %}
                {% if error.lastentry.log_action == 4 %}
                    <b style="color: orange">{{ _('Disregarded') }}</b> {{ _('by') }} {{ error.lastentry.enum_name }}<br/>
                    <span title="{{ _('Disregarded date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                {% endif %}
                {% if error.status == 0 %}
                    <b style="color: green">{{ _('Fixed') }}</b> {{ _('by') }} {{ error.lastentry.enum_name }} {{ _('in revision') }} <a href="{{ request.route_url('viewrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit,_query={'pushed': true}) }}">{{ error.lastentry.log_commit }}</a><br/>
                    <span title="{{ _('Fixed date') }}" class="date" style="font-size: 10px; color: lightgray">{{ error.lastentry.log_dtime }}</span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                {% if canclean %}
                    {% if error.status != 0 %}
                        {% if error.error.maintable %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('get_submissions_media',userid=userid,projcode=projcode,formid=formid,submissiona=error.log_id,submissionb=error.error.survey_id) }}" title="{{ _('Download associated media') }}"><i class="fas fa-images"></i></a>
                        {% else %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('get_submissions_media',userid=userid,projcode=projcode,formid=formid,submissiona=error.log_id,submissionb='None') }}" title="{{ _('Download associated media') }}"><i class="fas fa-images"></i></a>
                        {% endif %}
                        {% if error.status == 1 and not disregard %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('comparejsons',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Compare submission') }}"><i style="color: orange" class="fa fa-random"></i></a>
                            <a class="btn btn-primary btn-sm action-buttons action-required" data-title="{{ _('Check-out revision') }}" data-message="{{ _('Are you sure that you want to check-out this submission?') }}" urn="{{ request.route_url('checkoutjson', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Check out file') }}"><i style="color: white" class="fa fa-arrow-right"></i></a>
                            <a class="btn btn-danger btn-sm action-buttons" href="{{ request.route_url('disregard',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Disregard error') }}"><i class="fa fa-ban"></i></a>
                            {% if error.lastentry != None %}
                                <a class="btn btn-default btn-sm action-buttons button-note" data-error="notes-{{ error.log_short }}" data-toggle="modal" data-target="#see_notes" onclick="ShowNotes('notes-');" title="{{ _('See notes') }}"><i class="fa fa-comment-o"></i></a>
                            {% endif %}
                        {% endif %}
                        {% if error.status == 2 %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('comparejsons',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Compare submission') }}"><i style="color: orange" class="fa fa-random"></i></a>
                            {% if error.lastentry.enum_id == activeAssistant.login %}
                                <a class="btn btn-warning btn-sm action-buttons" href="{{ request.route_url('checkinjson',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Check-in new version') }}"><i class="fa fa-arrow-left"></i></a>
                                <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('getsubmission', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Download current version') }}"><i class="fa fa-download"></i></a>
                                <a class="btn btn-primary btn-sm action-buttons" href="https://jsoneditoronline.org/" target="_blank" title="{{ _('Open JSON editor') }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-default btn-sm action-buttons action-required" data-title="{{ _('Cancel check-out') }}" data-message="{{ _('Are you sure that you want to cancel the check-out of this submission?') }}" urn="{{ request.route_url('cancelcheckout', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Cancel check-out') }}"><i style="color: red" class="fa fa-ban"></i></a>
                            {% endif %}
                        {% endif %}
                        {% if error.status == 3 %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('comparejsons',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Compare submission') }}"><i style="color: orange" class="fa fa-random"></i></a>
                            {% if error.lastentry.enum_id == activeAssistant.login %}
                                <a class="btn btn-primary btn-sm action-buttons action-required"  data-title="{{ _('Apply revision to the repository') }}" data-message="{{ _('Are you sure that you want to apply this revision?') }}" urn="{{ request.route_url('pushrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit) }}" title="{{ _('Apply revision') }}"><i style="color: white" class="fa fa-arrow-left"></i></a>
                                <a class="btn btn-default btn-sm action-buttons action-required" data-title="{{ _('Cancel revision') }}" data-message="{{ _('Are you sure that you want to cancel this revision?') }}" urn="{{ request.route_url('cancelrevision', userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id,revisionid=error.lastentry.log_commit) }}" title="{{ _('Cancel revision') }}" ><i style="color: red" class="fa fa-ban"></i></a>
                            {% endif %}
                        {% endif %}
                        {% if error.status == 4 %}
                            <a class="btn btn-default btn-sm action-buttons" href="{{ request.route_url('comparejsons',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}" title="{{ _('Compare submission') }}"><i style="color: orange" class="fa fa-random"></i></a>
                            <a class="btn btn-default btn-sm action-buttons" title="{{ _('Cancel disregard') }}" href="{{ request.route_url('canceldisregard',userid=userid,projcode=projcode,formid=formid,submissionid=error.log_id) }}"><i style="color: red" class="fa fa-ban"></i></a>
                            <a class="btn btn-default btn-sm action-buttons button-note" data-error="notes-{{ error.log_short }}" data-toggle="modal" data-target="#see_notes" onclick="ShowNotes('notes-');" title="{{ _('See notes') }}"><i class="fa fa-comment-o"></i></a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {{ _('You do not have permissions to clean data') }}
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</div>