{% extends 'dashboard/login.jinja2' %}

{% block title %}
    <title>{{ _("FormShare | Collaborator login") }}</title>
{% endblock title %}

{% block loginwelcome %}
    <h3>{{ _("Welcome to FormShare") }}</h3>
    <p>{{ _("If you have an collaborator login please sign in") }}</p>
{% endblock loginwelcome %}

{% block loginfooter %}

{% endblock loginfooter %}