<li>
    <a href="mailbox.html">
        <div>
            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>
<li>
    <div class="text-center link-block">
        <a href="notifications.html">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</li>