<div class="col-sm-12">
    <h2>{{ _('Partner list') }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <strong>{{ _('FormShare partners') }}</strong>
        </li>
    </ol>
</div>