{% block partner_password_form %}
    {% if partnerData.created_by == userid or activeUser.super == 1 %}
    <form class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
        {{ form.secure_form(request) }}     
        {% block partner_password_form_passwords %}
            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('New password') }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="partner_password">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Password confirmation') }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="partner_password2">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        {% endblock partner_password_form_passwords %}
        
        {% block partner_password_form_actions %}
            <div class="form-group row">
                <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-danger btn-sm" type="submit" name="changepass">{{ _('Change password') }}</button>
                </div>
            </div>
        {% endblock partner_password_form_actions %}
    </form>
    {% else %}
        <strong style="color: red">{{ _('This partner was created by ') }} <a href="mailto:{{ partnerData.by_details.user_email }}">{{ partnerData.by_details.user_name }}</a>. {{ _('Only') }} {{ partnerData.by_details.user_name }} {{ _('or an administrator can change its password.') }} </strong>
    {% endif %}
{% endblock partner_password_form %}