<div class="col-sm-12">
    <h2>{{ _('Clean') }} "{{ formData.form_name }}"</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("assistant_forms",userid=userid,projcode=projcode) }}">{{ _('My forms') }}</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>{{ _('Clean data') }} </strong>
        </li>
    </ol>
</div>