{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Add new assistant") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','switchery' %}
    {% cssresource request,'formshare','select2' %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','switchery' %}
    {% jsresource request,'formshare','select2' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/assistants/snippets/brdcrbs_assistadd.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="ibox">
        <div class="ibox-title">
            {% block assistant_add_title %}
                <h5>{{ _('Information for the new assistant') }}</h5>
                <div class="ibox-tools">
                    {% block assistant_add_tools %}
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    {% endblock assistant_add_tools %}
                </div>
            {% endblock assistant_add_title %}
        </div>
        <div class="ibox-content">
            {% block assistant_add_content %}
                {% block assistant_add_form_errors %}
                    {{ form.display_errors(errors) }}
                {% endblock assistant_add_form_errors %}
                {% include 'dashboard/projects/assistants/snippets/assistant_form.jinja2' %}
            {% endblock assistant_add_content %}
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {

            {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
                $("#coll_timezone").select2();
            {% endif %}

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });
        });
    </script>
{% endblock scripts %}