{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Assistants") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    <style>
        @media (max-width: 767px) {
            .action-buttons {
                margin-top: 10px;
            }
            .grid-header {
                display: none;
            }
        }
    </style>
{% endblock css %}


{% block breadcrumbs %}
    {% include 'dashboard/projects/assistants/snippets/brdcrbs_assistlist.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row">
        <div class="col-lg-12">
            {{ form.display_errors(errors) }}
            <div class="ibox">
                <div class="ibox-content">
                    {% block assistant_list_heading %}
                        <h2>{{ _('Assistants') }}</h2>
                        <p>
                            {{ _('Assistants help you collect and clean data.') }}
                        </p>
                        {#                    <div class="input-group">#}
                        {#                        <input type="text" placeholder="{{ _('Search assistants') }} " class="input form-control">#}
                        {#                        <span class="input-group-append"><button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> {{ _('Search') }}</button></span>#}
                        {#                    </div>#}
                        <div style="margin-top: 10px" class="row">
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-3">
                                <button  onclick="location.href='{{ request.route_url('assistant_add',userid=projectDetails.owner,projcode=projectDetails.project_code) }}';" class="btn btn-block btn-primary"> <i class="fa fa-plus"></i> {{ _('Add assistant') }}</button>
                            </div>
                        </div>
                    {% endblock assistant_list_heading %}
                    <hr class="hr-line-dashed">
                    {% block assistant_list_table %}
                        <div class="clients-list">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% block assistant_list_table_header %}
                                        <div class="grid-header">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="text-center">
                                                        {{ _('Name') }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="text-center">
                                                        {{ _('Email') }}
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="text-center">
                                                        {{ _('Telephone') }}
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="text-center">
                                                        {{ _('Status') }}
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="text-center">
                                                        {{ _('Actions') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="hr-line-solid">
                                        </div>
                                    {% endblock assistant_list_table_header %}
                                    {% block assistant_list_table_items %}
                                        {% for assistant in assistants %}
                                            {% set assistant_count = loop.index %}
                                            {% include 'dashboard/projects/assistants/snippets/assistant_item.jinja2' %}
                                        {% endfor %}
                                    {% endblock assistant_list_table_items %}
                                </div>
                            </div>
                        </div>
                    {% endblock assistant_list_table %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Change password') }}</h4>
                    <small id="password_who" class="font-bold">{{ _('Change the password of') }} Carlos Quiros</small>
                </div>
                <form class="m-t" id="change_form" role="form" method="post" action="">
                    {{ form.secure_form(request) }}
                    <input type="hidden" id="assistant_id" name="assistant_id" value="">
                    <div class="modal-body">
                        {% block assistant_list_form_fields %}
                            <div class="form-group">
                                <label class="col-sm-2 col-form-label">{{ _('Password') }}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="coll_password">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 col-form-label">{{ _('Confirmation') }}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="coll_password2">
                                </div>
                            </div>
                        {% endblock assistant_list_form_fields %}
                    </div>
                    {% block assistant_list_form_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" name="change_password" class="btn btn-primary">{{ _('Change password') }}</button>
                        </div>
                    {% endblock assistant_list_form_actions %}
                </form>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('.remove_assistant').click(function () {
                var action_url = $( this ).attr('urn');
                swal({
                        title: "{{ _('Are you sure?') }}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, remove it!') }}",
                        cancelButtonText: "{{ _('Oops!, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
            $('.change_password').click(function () {
                var assistant_name = $( this ).attr('data-assistant-name');
                var action_url = $( this ).attr('urn');
                var action_form = $( "#change_form" );
                action_form.prop( "action", action_url );
                $("#password_who").text("{{ _('Changing password for') }} " + assistant_name);
            });
        });
    </script>


{% endblock scripts %}