{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Edit project") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','bsmarkdown' %}
    {% cssresource request,'formshare','switchery' %}
    {% cssresource request,'formshare','colorpicker' %}
    {% cssresource request,'formshare','emoji' %}
    {% cssresource request,'formshare','select2' %}
    <style>
        .evo-palette {
            background-color: lightgrey;
        }
        .evo-pop {
            background-color: lightgrey;
        }
    </style>
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','markdown' %}
    {% jsresource request,'formshare','switchery' %}
    {% jsresource request,'formshare','select2' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/snippets/brdcrbs_prjedit.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ projectDetails.project_name }}</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            {% block form_errors %}
                {{ form.display_errors(errors) }}
            {% endblock form_errors %}
            {% include 'dashboard/projects/snippets/project_form_edit.jinja2' %}
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    {% jsresource request,'formshare','emoji' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    {% jsresource request,'formshare','colorpicker' %}
    <script>
        $(document).ready(function() {
            {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
                $("#project_timezone").select2();
            {% endif %}
            {% if projectDetails.total_forms == 0 %}
                var elem = document.querySelector('.js-switch');
                var switchery = new Switchery(elem, { color: '#1AB394' });
            {% endif %}

            var elem2 = document.querySelector('.js-switch2');
            var switchery2 = new Switchery(elem2, { color: '#1AB394' });

            $('#noIndColor').colorpicker({
                displayIndicator: false
            });

            $("#emojiarea").emojioneArea({
                pickerPosition: "bottom",
                filtersPosition: "bottom",
                tonesStyle: "checkbox"
            });

        });
    </script>
{% endblock scripts %}