{% extends 'dashboard/index.jinja2' %}


{% block titlesection %}{{ _("Projects") }} {% endblock titlesection %}

{% block css %}
    {% cssresource request,'formshare','style' %}
{% endblock css %}

{% block topScripts %}
    {% if viewingSelfAccount == False %}
        {% jsresource request,'formshare','markdown' %}
        {% jsresource request,'formshare','clipboard' %}
    {% else %}
        {% jsresource request,'formshare','sweetalert' %}
    {% endif %}
{% endblock topScripts %}

{% block dashheader %}
    {% block breadcrumbs %}
        {% if viewingSelfAccount %}
            <div class="row wrapper border-bottom white-bg page-heading">
                {% include 'dashboard/projects/snippets/brdcrbs_prjlist.jinja2' %}
            </div>
        {% endif %}
    {% endblock breadcrumbs %}
{% endblock dashheader %}

{% block maincontent %}
    {% if viewingSelfAccount %}
        {{ super() }}
    {% else %}
        {% include 'dashboard/profile/snippets/profile_head.jinja2' %}
        {% include 'dashboard/projects/snippets/project_tab.jinja2' %}
    {% endif %}

{% endblock maincontent %}

{% block mainsection %}
    {% if viewingSelfAccount %}
        {% if activeUser != None %}
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12" style="text-align: right">
                    <a href="{{ request.route_url('projects_add',userid=activeUser.login,_query={'next':request.route_url('projects',userid=activeUser.login)}) }}" class="btn btn-primary btn-xs" style="margin-right: 20px">{{ _('Create new project') }}</a>
                </div>
            </div>
        {% endif %}
        {% include 'dashboard/projects/snippets/project_tab_content.jinja2' %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock mainsection %}

{% block scripts %}
    {% jsresource request,'formshare','inspinia' %}
    {% set messageData = request.session.pop_flash() %}
    {% if messageData|length > 0 %}
        <script>
            $(document).ready(function() {
                messageData = '{{ messageData[0] }}';
                swal({
                    title: 'FormShare',
                    text: messageData,
                    type: "success"
                });
            });
        </script>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('.delete_project').click(function () {
                var action_url = $( this ).attr('urn');
                swal({
                        title: "{{ _('Are you sure?') }}",
                        text: "{{ _('All the data in this project will be deleted!') }}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, delete it!') }}",
                        cancelButtonText: "{{ _('Oops, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
            $('.set_active').click(function () {
                var action_url = $( this ).attr('urn');
                swal({
                        title: "{{ _('Changing active project') }}",
                        text: "{{ _('Are you sure that you want this project as active?') }}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, go ahead') }}",
                        cancelButtonText: "{{ _('Oops, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>

{% endblock scripts %}
