<div class="modal inmodal" id="set_as_sensible" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ _('Set field as sensitive') }}</h4>
            </div>
            {% block edit_field_desc_form %}
                <input type="hidden" id="sensitive_field_name" name="sensitive_field_name" value="">
                {% block edit_field_desc_form_fields %}
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">{{ _('Type of protection:') }}</label>
                        <div class="col-sm-12">
                            <select style="width: 100%" type="text" id="protection" name="protection">
                                <option value="exclude">Exclude it</option>
                                <option value="encrypt">Encrypt it</option>
                                <option value="recode">Recode it</option>
                            </select>
                        </div>
                    </div>
                {% endblock edit_field_desc_form_fields %}
                {% block edit_field_desc_form_fields_extra %}

                {% endblock edit_field_desc_form_fields_extra %}
                {% block edit_field_desc_form_fields_actions %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                        <button type="button" onclick="post_sensitive_change();" class="btn btn-primary">{{ _('Set as sensitive') }}</button>
                    </div>
                {% endblock edit_field_desc_form_fields_actions %}
            {% endblock edit_field_desc_form %}
        </div>
    </div>
</div>