<div class="feed-item col-md-3" data-groups='["{% if table.lookup == True %}lookup{% else %}{% if table.multi == True %}multi{% else %}data{% endif %}{% endif %}"]' data-title="{{ table.name }}-{{ table.desc }}-{{ table.sfields }}">
    <div class="feed-element" style="margin-top: 10px">
        <a class="float-left">
            <div class="rounded-circle" style="margin-right: 10px; background-color: {% if table.lookup == True %}#FFA500{% else %}{% if table.multi == True %}#008000{% else %}#0a6aa1{% endif %}{% endif %}; width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);"><i class="fas fa-table fa-2x"></i></span></div>
        </a>
        <div class="media-body ">
            {{ table.name }} - <span id="desc_{{ table.name }}">{{ table.desc }}</span><br>
            <p class="text-muted">{{ table.fields|length }} {{ request.h.pluralize(_('field'),table.fields|length,request.locale_name) }} - <span class="text-danger">{{ table.numsensitive }} {{ request.h.pluralize(_('sensitive'),table.numsensitive,request.locale_name) }}</span></p>
            <div class="actions">
                {% if access_type <= 3 %}
                    {% block table_modification_actions %}
                        <a data-table-name="{{ table.name }}" data-table-desc="{{  table.desc }}" data-toggle="modal" data-target="#edit_table_desc" class="btn btn-xs btn-white table-item"><i class="fas fa-pencil-alt"></i> {{ _('Edit description') }}</a>
                    {% endblock table_modification_actions %}
                {% endif %}
                {% block table_link_actions %}
                    <a href="{{ request.route_url("editDictFields",userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, tableid=table.name) }}" class="btn btn-xs btn-white"><i class="fas fa-columns"></i> {{ _('View / Edit fields') }} </a>
                {% endblock table_link_actions %}
            </div>
        </div>
    </div>

</div>