<div class="ibox">
    <div class="ibox-title">
        {% block table_item_title %}
            <h5>Table code - Table desc</h5>
            <div class="ibox-tools">
                {% block table_item_tools %}
                    {% if projectDetails.access_type < 4 %}
                        <a href="" style="margin-right: 10px">
                            <i class="fa fa-pencil text-warning" title="{{ _('Edit') }}"></i>
                        </a>
                    {% endif %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock table_item_tools %}
            </div>
        {% endblock table_item_title %}
    </div>
    <div class="ibox-content">
        {% block table_item_content %}
            <div class="feed-activity-list">
                {% include 'dashboard/projects/forms/dictionary/snippets/field_item.jinja2' %}
            </div>
        {% endblock table_item_content %}
    </div>
</div>