{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Add new group") }}{% endblock titlesection %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/assistant_groups/snippets/brdcrbs_groupadd.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ _('Information for the new group') }}</h5>
                    <div class="ibox-tools">
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% block form_errors %}
                        {{ form.display_errors(errors) }}
                    {% endblock form_errors %}
                    {% include 'dashboard/projects/assistant_groups/snippets/group_form.jinja2' %}
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}