{% extends 'dashboard/page.jinja2' %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','multiselect' %}
{% endblock topScripts %}

{% block bodycontent %}
    <div id="msel_content">
        {% block msel_content %}
            {{ table }} - {{ rowuuid }}
            <div class="row">
                <div class="col-sm-5">
                    <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                        <option value="1">Item 1</option>
                        <option value="2">Item 2</option>
                        <option value="3">Item 3</option>
                        <option value="4">Item 4</option>
                        <option value="5">Item 5</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>

                <div class="col-sm-5">
                    <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" id="multiselect_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" id="multiselect_move_down" class="btn btn-block col-sm-6"><i class="glyphicon glyphicon-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock msel_content %}
    </div>
{% endblock bodycontent %}

{% block scripts %}
    {{ super() }}
    <script>jQuery(document).ready(function($) {
        $('#multiselect').multiselect();
    });
    </script>
{% endblock scripts %}
