{% extends 'generic/login.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Assistant Sign in') }}{% endblock titlesection %}

{% block logingheadmsg %}
    <p style="color: red">{{ _('Assistant Sign in') }}</p>
{% endblock logingheadmsg %}

{% block loginform %}
    <div>
        {{ _('Language') }}:
        <select id="language">
            <option id="en" value="en">English</option>
            <option id="es" value="es">Español</option>
        </select>
    </div>
    <form class="m-t" role="form" method="post" action="{{ request.url }}">
        {{ form.secure_form(request) }}
        {% block loginform_fields %}
            <div class="form-group">
                <input type="text" name="login" class="form-control" placeholder="{{ _('Assistant ID') }}" required="">
            </div>
            <div class="form-group">
                <input type="password" name="passwd" class="form-control" placeholder="{{ _('Password') }}" required="">
            </div>
        {% endblock loginform_fields %}
        {% block loginform_actions %}
            <button type="submit" class="btn btn-primary block full-width m-b">{{ _('Sign in') }}</button>
        {% endblock loginform_actions %}
    </form>
{% endblock loginform %}

{% block login_tools %}

{% endblock login_tools %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var selectedLanguage = readCookie('_LOCALE_');
            if (selectedLanguage != null)
                $('#language').val(selectedLanguage);
            $("#language").bind('change', function() {
                //on change set cookie and...
                setCookie('_LOCALE_', this.value, 365);
                location.reload();
            });
        });

        function setCookie(cookieName, cookieValue, nDays) {
            var today = new Date();
            var expire = new Date();

            if (nDays==null || nDays==0)
                nDays=1;

            expire.setTime(today.getTime() + 3600000*24*nDays);
            document.cookie = cookieName+"="+escape(cookieValue) + ";expires="+expire.toGMTString() + ";path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>

{% endblock scripts %}