{% extends 'generic/login.jinja2' %}

{% block titlesection %}Collaborators Sign in{% endblock titlesection %}

{% block logingheadmsg %}
    <p>Collaborators sign in</p>
{% endblock logingheadmsg %}

{% block loginform %}
    <form class="m-t" role="form" action="index.html">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Collaborator ID" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Sign in</button>

        <a href="#"><small>Forgot password?</small></a>
    </form>
{% endblock loginform %}