{% extends 'generic/login.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Recover my password') }}{% endblock titlesection %}

{% block loginwelcome %}
    <h3>{{ _('Welcome to FormShare') }}</h3>
{% endblock loginwelcome %}

{% block logingheadmsg %}
    <p>{{ _('Recover my password') }}</p>
{% endblock logingheadmsg %}

{% block loginform %}
    <form id="recover" class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
        {{ form.secure_form(request) }}
        <div class="form-group">
            <input id="email" type="text" name="email" class="form-control" placeholder="{{ _('Username or email address') }}" required="">
            <input id="user" type="text" name="user" class="form-control" placeholder="{{ _('Username') }}">
        </div>
        {% block login_extra %}

        {% endblock login_extra %}
        <button type="submit" class="btn btn-primary block full-width m-b">{{ _('Recover') }}</button>
    </form>
{% endblock loginform %}

{% block login_tools %}
    <p class="text-muted text-center"><small>{{ _("We will send you an email with your password") }}</small></p>
{% endblock login_tools %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#user").css({top: -50, left: -50, position:'absolute'});
            $('#recover').submit(function() {
                $(this).find("button[type='submit']").prop('disabled',true);
            });
        });
    </script>
{% endblock scripts %}
