{% extends 'generic/login.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Reset my password') }}{% endblock titlesection %}

{% block loginwelcome %}
    <h3>{{ _('Welcome to FormShare') }}</h3>
{% endblock loginwelcome %}

{% block logingheadmsg %}
    <p>{{ _('Reset my password') }}</p>
{% endblock logingheadmsg %}

{% block login_errors %}
    {{ form.display_errors(errors) }}
{% endblock login_errors %}

{% block loginform %}
    <form id="reset" class="m-t require_busy" role="form" method="post" action="{{ request.url }}">
        {{ form.secure_form(request) }}
        <div class="form-group">
            <input id="email" type="text" name="email" class="form-control" placeholder="{{ _('Email address') }}" required="">
            <input id="token" type="text" name="token" class="form-control" placeholder="{{ _('Password reset token') }}" required="">
            <input id="password" type="password" name="password" class="form-control" placeholder="{{ _('New password') }}" required="">
            <input id="password2" type="password" name="password2" class="form-control" placeholder="{{ _('New password confirmation') }}" required="">
            <input id="user" type="text" name="user" class="form-control" placeholder="{{ _('Username') }}">
        </div>
        {% block login_extra %}

        {% endblock login_extra %}
        <button type="submit" class="btn btn-primary block full-width m-b">{{ _('Reset') }}</button>
    </form>
{% endblock loginform %}


{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#user").css({top: -50, left: -50, position:'absolute'});
            $('#reset').submit(function() {
                $(this).find("button[type='submit']").prop('disabled',true);
            });
        });
    </script>
{% endblock scripts %}
