{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _("Partner activity") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    <style>
        .timeline-header { width:100%; text-align:left; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
        .timeline-header span { background:#fff; padding:0 10px; }
    </style>
{% endblock css %}

{% block breadcrumbs %}
    {% include 'dashboard/partners/snippets/brdcrbs_partneract.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="ibox">
        <div class="ibox-title">
            {% block partner_activity_title %}
                <h5>{{ _('Activity') }}</h5>
                <div class="ibox-tools">
                    {% block partner_activity_tools %}
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    {% endblock partner_activity_tools %}
                </div>
            {% endblock partner_activity_title %}
        </div>
        <div class="ibox-content">
            {% block partner_activity_content %}
                <div class="row">
                    <div class="col-md-11">
                        {% for a_month in feeds %}
                            <h3 class="timeline-header"><span>{{ request.h.month_from_number(a_month.month, request.locale_name) }}</span></h3>
                            <div class="activity-stream" style="margin-left: 20px">
                                {% for an_activity in a_month.activities %}
                                    <div class="stream">
                                        <div class="stream-badge">
                                            {% if an_activity.type == "access" %}
                                                <i class="fas fa-book-reader"></i>
                                            {% endif %}
                                            {% if an_activity.type == "download" %}
                                                <i class="{{ an_activity.product.icon }} bg-warning"></i>
                                            {% endif %}
                                        </div>
                                        <div class="stream-panel">
                                            <div class="stream-info">
{#                                                <a href="#">#}
                                                    {% if an_activity.type == "access" %}
                                                        <span>{{ _('Form access') }}</span>
                                                    {% endif %}
                                                    {% if an_activity.type == "download" %}
                                                        <span>{{ _('Downloaded a') }} {{ an_activity.product_desc }}</span>
                                                    {% endif %}
                                                    <span class="date" title="{{ an_activity.published }}">{{ request.h.readble_date(an_activity.published,request.locale_name) }}</span>
{#                                                </a>#}
                                            </div>
                                            {% if an_activity.type == "access" %}
                                                {{ _('Accessed form') }} <a href="{{ request.route_url('form_details',userid=an_activity.user_id,projcode=an_activity.project_details.project_code,formid=an_activity.form_id) }}">"{{ an_activity.form_details.form_name }}"</a> {{ _('of project') }} <a href="{{ request.route_url('project_details',userid=an_activity.user_id,projcode=an_activity.project_details.project_code) }}">"{{ an_activity.project_details.project_name }}"</a>
                                            {% endif %}
                                            {% if an_activity.type == "download" %}
                                                {{ _('Downloaded the version with ID:') }} "{{ an_activity.output_id }}" {{ _('from the form') }} <a href="{{ request.route_url('form_details',userid=an_activity.user_id,projcode=an_activity.project_details.project_code,formid=an_activity.form_id) }}">"{{ an_activity.form_details.form_name }}"</a> {{ _('of project') }} <a href="{{ request.route_url('project_details',userid=an_activity.user_id,projcode=an_activity.project_details.project_code) }}">"{{ an_activity.project_details.project_name }}"</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-1">
                        {% for a_year in years %}
                            {% if year == None %}
                                {% if loop.index ==1 %}
                                    <button onclick="location.href='{{ request.route_url('partner_activity',userid=userid,partnerid=partnerid,_query={'year': a_year}) }}';" class="btn btn-block btn-primary">{{ a_year }}</button>
                                {% else %}
                                    <button onclick="location.href='{{ request.route_url('partner_activity',userid=userid,partnerid=partnerid,_query={'year': a_year}) }}';" class="btn btn-block btn-default">{{ a_year }}</button>
                                {% endif %}
                            {% else %}
                                {% if a_year == year %}
                                    <button onclick="location.href='{{ request.route_url('partner_activity',userid=userid,partnerid=partnerid,_query={'year': a_year}) }}';" class="btn btn-block btn-primary">{{ a_year }}</button>
                                {% else %}
                                    <button onclick="location.href='{{ request.route_url('partner_activity',userid=userid,partnerid=partnerid,_query={'year': a_year}) }}';" class="btn btn-block btn-default">{{ a_year }}</button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endblock partner_activity_content %}
        </div>
    </div>

{% endblock maincontent %}

{% block scripts %}
    {{ super() }}

{% endblock scripts %}