<div class="row">
    {% block summary_form_section %}
        <div class="col-lg-6 m-b-lg">
            {% block summary_section_forms %}
                {% if forms|length > 0 %}
                    {% set scroll_content = true %}
                    {% include 'dashboard/projects/snippets/project_forms.jinja2' %}
                {% else %}
                    {% include 'dashboard/projects/snippets/no_forms_tab.jinja2' %}
                {% endif %}
            {% endblock summary_section_forms %}
            {% block summary_section_forms_extra %}

            {% endblock summary_section_forms_extra %}
        </div>
    {% endblock summary_form_section %}
    {% block summary_map_section %}
        <div class="col-lg-6">
            {% include 'dashboard/projects/snippets/project_map.jinja2' %}
        </div>
    {% endblock summary_map_section %}
    {% block summary_activity_section %}
{#        <div class="col-lg-3 m-b-lg">#}
{#            {% set activity_tab_title = _('Activity') %}#}
{#            {% include 'dashboard/profile/snippets/timeline_tab.jinja2' %}#}
{#            {% block summary_activity_section_extra %}#}
{##}
{#            {% endblock summary_activity_section_extra %}#}
{#        </div>#}
    {% endblock summary_activity_section %}
</div>