<div class="col-sm-4">
    <h2>This is main title</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">This is</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>Breadcrumb</strong>
        </li>
    </ol>
</div>
<div class="col-sm-8">
    <div class="title-action">
        <a href="" class="btn btn-primary">This is action area</a>
    </div>
</div>