<div class="footer fixed">
    {% block footer %}
    <div class="float-right">
        <strong>{{ _('Version') }} {{ request.h.get_version() }}</strong>
    </div>
    <div>
        <strong>FormShare</strong> &copy; 2025 QLands Inc.
    </div>
    {% endblock footer %}
</div>