<div class="footer fixed">
    {% block footer %}
    <div class="float-right">
        <strong>{{ _('Version') }} 2.5.4 (20200326)</strong>
    </div>
    <div>
        <strong>FormShare</strong> &copy; 2020 QLands Technology Consultants
    </div>
    {% endblock footer %}
</div>