<div class="footer fixed">
    {% block footer %}
    <div class="float-right">
        <strong>{{ _('Version') }} {{ request.h.get_version() }}</strong>
    </div>
    <div>
        <strong>FormShare</strong> &copy; 2026 QLands Software Inc.
        <a href="#" id="cookie_settings_link" style="font-size:11px; margin-left:10px;">{{ _('Cookie Settings') }}</a>
    </div>
    {% endblock footer %}
</div>