<form role="search" class="navbar-form-custom require_busy" action="search_results.html">
    <div class="form-group">
        <input type="text" placeholder="Search FormShare" class="form-control" name="top-search" id="top-search">
    </div>
</form>