<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            {% block header_main_button %}
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            {% endblock header_main_button %}
            {% block header_search %}
                {% if activeUser != None %}
                    {% include 'dashboard/snippets/header_search.jinja2' %}
                {% endif %}
            {% endblock header_search %}
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {% block header_top_links %}
                {% block header_top_welcome %}
                    {% if showWelcome %}
                        <li style="padding: 20px">
                            <span class="m-r-sm text-muted welcome-message">{{ _('Welcome to FormShare') }}</span>
                        </li>
                    {% endif %}
                {% endblock header_top_welcome %}
                {% block header_messages %}
                    {% if activeUser != None %}
                        {% include 'dashboard/snippets/header_messages.jinja2' %}
                    {% endif %}
                {% endblock header_messages %}
                {% block header_notifications %}
                    {% if activeUser != None %}
                        {% include 'dashboard/snippets/header_notifications.jinja2' %}
                    {% endif %}
                {% endblock header_notifications %}
                {% block header_logout %}
                    {% if activeUser != None %}
                        <li>
                            <a href="{{ request.route_url('logout') }}">
                                <i class="fa fa-sign-out"></i> {{ _('Sign out') }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock header_logout %}
                {% block header_sidebar_button %}
                    {% if activeUser != None %}
                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endblock header_sidebar_button %}
            {% endblock header_top_links %}
        </ul>
    </nav>
</div>