<li class="dropdown">
    {% block header_messages_counter %}
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
    </a>
    {% endblock header_messages_counter %}
    {% block header_messages_list %}
    <ul class="dropdown-menu dropdown-messages dropdown-menu-right">
        {% snippet 'dashboard/snippets/header_message_item.jinja2', request=request %}
        {% block header_message_bottom %}
        <li>
            <div class="text-center link-block">
                <a href="mailbox.html" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                </a>
            </div>
        </li>
        {% endblock header_message_bottom %}
    </ul>
    {% endblock header_messages_list %}
</li>