<div class="row border-bottom {% if activeUser == None %}white-bg{% endif %}">
    {% if activeUser != None %}
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                {% block header_main_button %}
                    <a class="navbar-minimalize minimalize-styl-2" href="#"><img alt="image" src="{{ request.url_for_static('formshare-small-black.png') }}"/> Form<b>Share</b></a>
{#                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>#}
                {% endblock header_main_button %}
                {% block header_search %}
                    {% if activeUser != None %}
{#                        {% include 'dashboard/snippets/header_search.jinja2' %}#}
                    {% endif %}
                {% endblock header_search %}
            </div>
            <ul class="nav navbar-top-links navbar-right">
                {% block header_top_links %}
                    {% block header_top_welcome %}
                        {% if showWelcome %}
                            <li style="padding: 20px">
                                <span class="m-r-sm text-muted welcome-message">{{ _('Welcome to FormShare') }}</span>
                            </li>
                        {% endif %}
                    {% endblock header_top_welcome %}
                    {% block header_messages %}
                        {% if activeUser != None %}
{#                            {% include 'dashboard/snippets/header_messages.jinja2' %}#}
                        {% endif %}
                    {% endblock header_messages %}
                    {% block header_notifications %}
                        {% if activeUser != None %}
{#                            {% include 'dashboard/snippets/header_notifications.jinja2' %}#}
                        {% endif %}
                    {% endblock header_notifications %}
                    {% block header_logout %}
                        {% if activeUser != None %}
                            <li>
                                <a href="{{ request.route_url('logout') }}">
                                    <i class="fa fa-sign-out"></i> {{ _('Sign out') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endblock header_logout %}
                    {% block header_sidebar_button %}
                        {% if activeUser != None %}
{#                            <li>#}
{#                                <a class="right-sidebar-toggle">#}
{#                                    <i class="fa fa-tasks"></i>#}
{#                                </a>#}
{#                            </li>#}
                        {% endif %}
                    {% endblock header_sidebar_button %}
                {% endblock header_top_links %}
            </ul>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
            <a href="{{ request.route_url('home') }}" {% if in_landing %} style="margin-left: -16px" {% endif %} class="navbar-brand"><img alt="image" src="{{ request.url_for_static('formshare-small-black.png') }}"/> Form<b>Share</b></a>
{#            <form role="search" class="navbar-form-custom" style="display: block; !important;" action="#">#}
{#                <div class="form-group">#}
{#                    <input type="text" placeholder="Search FormShare" class="form-control" name="top-search" id="top-search">#}
{#                </div>#}
{#            </form>#}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-reorder"></i>
            </button>

            <!--</div>-->
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav mr-auto">
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" style="right: -130px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{##}
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{ request.route_url('login') }}">
                            <i class="fas fa-sign-in-alt"></i> {{ _('Sign in') }}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{ request.route_url('register') }}">
                            <i class="fas fa-user-plus"></i> {{ _('Sign up') }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
</div>