<li>
    <div class="dropdown-messages-box">
        <a class="dropdown-item float-left" href="profile.html">
            <img alt="image" class="rounded-circle" src="img/a7.jpg">
        </a>
        <div class="media-body">
            <small class="float-right">46h ago</small>
            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
        </div>
    </div>
</li>
<li class="dropdown-divider"></li>