<li>
    <a href="mailbox.html" class="dropdown-item">
        <div>
            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
            <span class="float-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<li class="dropdown-divider"></li>