<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            {% block nav_header%}
                <li class="nav-header" style="{% block nav_header_style %}{% endblock nav_header_style %}">
                    <div class="dropdown profile-element">
                        {% block nav_profile%}
                            {% if activeUser != None %}
                                <img alt="image" class="rounded-circle" src="{{ request.h.get_gravatar_url(request, activeUser.name) }}"/>
                            {% else %}
                                <img alt="image" class="rounded-circle" src="{{ request.url_for_static('guest.png') }}"/>
                            {% endif %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {% if activeUser != None %}
                                    <span class="block m-t-xs font-bold">{{ activeUser.name }} <b class="caret"></b></span>
                                {% else %}
                                    <span class="block m-t-xs font-bold">{{ _('Guest') }} <b class="caret"></b></span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                {% block nav_profile_links %}
                                    {% if activeUser != None %}
                                        <li><a class="dropdown-item" href="{{ request.route_url('profile',userid=activeUser.login) }}">{{ _('Profile') }}</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ request.route_url('login') }}">{{ _('Sign in') }}</a></li>
                                    {% endif %}
                                    {% block nav_profile_links_extra %}

                                    {% endblock nav_profile_links_extra %}
                                    {% if activeUser != None %}
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ request.route_url('logout') }}">{{ _('Logout') }}</a></li>
                                    {% endif %}
                                {% endblock nav_profile_links %}
                            </ul>
                        {% endblock nav_profile%}
                    </div>
                    <div class="logo-element">
                        {% block logo_element %}
                            <img alt="image" src="{{ request.url_for_static('formshare-small.png') }}"/>
                        {% endblock logo_element %}
                    </div>
                </li>
            {% endblock nav_header%}
            {% block nav_links%}
                {% if activeUser != None %}
                    <li {% if activeMenu == 'dashboard' %}class="active" {% endif %}>
                        <a href="{{ request.route_url('dashboard',userid=activeUser.login) }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ _('Dashboard') }}</span></a>
                    </li>
                    {% if activeUser.super == 1 and request.registry.settings.get("auth.register_users_via_web", "true") == "false" %}
                        <li {% if activeMenu == 'users' %}class="active" {% endif %}>
                            <a href="{{ request.route_url('manage_users',userid=activeUser.login) }}"><i class="fas fa-user-plus text-warning"></i> <span class="nav-label text-warning">{{ _('Manage users') }}</span></a>
                        </li>
                        {% block super_tools_extra %}

                        {% endblock super_tools_extra %}
                    {% endif %}
                    <li {% if activeMenu == 'projects' %}class="active" {% endif %}>
                        <a href="{{ request.route_url('projects',userid=activeUser.login) }}"><i class="fas fa-project-diagram"></i> <span class="nav-label">{{ _('Projects') }}</span></a>
                    </li>
                    {% if request.h.get_setting(request,"allow.partner.access","False") == "True" %}
                        <li {% if activeMenu == 'partners' %}class="active" {% endif %}>
                            <a href="{{ request.route_url("manage_partners",userid=activeUser.login) }}"><i class="fas fa-handshake"></i> <span class="nav-label">{{ _('Partners') }}</span></a>
                        </li>
                    {% endif %}
                    {% block user_menu_extra %}

                    {% endblock user_menu_extra %}
                    <li>
                        <hr style="height:2px;border-width:0;color:#19aa8d;background-color:#19aa8d; max-height: 2px; margin-top: 5px; margin-bottom: 5px">
                    </li>
                    {% if activeProject %}
                        <li class="special_link">
                            <a href="{{ request.route_url('project_details', userid=activeProject.owner, projcode=activeProject.project_code) }}"><i class="fas fa-star" style="color: goldenrod" title="{{ activeProject.project_name }} ({{ _('Active') }})"></i> <span class="nav-label" title="{{ _('Active') }}">{{ activeProject.project_name|truncate(15,true,'...') }}</span></a>
                        </li>
                        {% if activeProject.access_type <= 4 %}
                            {% if activeProject.access_type <= 2 %}
                                <li {% if activeMenu == 'collaborators' %}class="active" {% endif %}>
                                    <a href="{{ request.route_url('collaborators', userid=activeProject.owner,projcode=activeProject.project_code ) }}" ><i style="margin-left: 20px" class="fas fa-people-carry"></i> <span class="nav-label">{{ _('Collaborators') }}</span></a>
                                </li>
                            {% endif %}
                            <li {% if activeMenu == 'assistants' %}class="active" {% endif %}>
                                <a href="{{ request.route_url('assistants', userid=activeProject.owner,projcode=activeProject.project_code ) }}" ><i style="margin-left: 20px" class="fas fa-user-circle"></i> <span class="nav-label">{{ _('Assistants') }}</span></a>
                            </li>
                            <li {% if activeMenu == 'groups' %}class="active" {% endif %}>
                                <a href="{{ request.route_url('groups', userid=activeProject.owner,projcode=activeProject.project_code ) }}"><i style="margin-left: 20px" class="fas fa-users"></i> <span class="nav-label">{{ _('Assistant groups') }}</span></a>
                            </li>
{#                            <li>#}
{#                                <a href="#"><i style="margin-left: 10px" class="fab fa-wpforms"></i> <span class="nav-label">{{ _('Forms') }}</span></a>#}
{#                            </li>#}
                        {% endif %}
                    {% endif %}
                    {% block nav_links_extra %}

                    {% endblock nav_links_extra %}
                {% endif %}
            {% endblock nav_links%}
        </ul>

    </div>
</nav>