[client]
host     = {{ host }}
port     = {{ port }}
user     = {{ user }}
password = {{ password }}
default-character-set = utf8
ssl-mode = DISABLED
[mysqldump]
column-statistics=0
ssl-mode = DISABLED