{% extends 'assistant/page.jinja2' %}

{% block title %}
    <title>{{ _('Assistant forms') }}</title>
{% endblock title %}

{% block css %}
    {{ super() }}
    <style>
        @media (max-width: 767px) {
            .action-buttons {
                margin-top: 10px;
            }
            .grid-header {
                display: none;
            }
        }
    </style>
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','clipboard' %}
    {% jsresource request,'formshare','showdown' %}
    {% jsresource request,'formshare','ias' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'assistant/jsonlogs/snippets/brdcrbs_loglist.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    {{ form.display_errors(posterrors) }}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ _('Error logs ') }}</h5>
            <div class="ibox-tools">
                <a class="collapse-link" style="margin-right: 10px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <span>{{ _('Filter (Click to change)') }}:</span> <p class="btn-group" style="margin-top: 10px">
            <button class="btn btn-white" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'all'}) }}';" type="button">{% if status == "all" %}<b>{{ _('All') }}</b>{% else %}{{ _('All') }}{% endif %}</button>
            <button class="btn btn-primary" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'fixed'}) }}';" type="button">{% if status == "fixed" %}<b>{{ _('Fixed') }}</b>{% else %}{{ _('Fixed') }}{% endif %}</button>
            <button class="btn btn-danger" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'error'}) }}';" type="button">{% if status == "error" %}<b>{{ _('With error') }}</b>{% else %}{{ _('With error') }}{% endif %}</button>
            <button class="btn btn-warning" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'disregarded'}) }}';" type="button">{% if status == "disregarded" %}<b>{{ _('Disregarded') }}</b>{% else %}{{ _('Disregarded') }}{% endif %}</button>
            <button class="btn btn-info" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'checkout'}) }}';" type="button">{% if status == "checkout" %}<b>{{ _('Checked-out') }}</b>{% else %}{{ _('Checked-out') }}{% endif %}</button>
            <button class="btn" style="background: coral" onclick="location.href='{{ request.route_url('errorlist', userid=userid,projcode=projcode,formid=formid,_query={'status':'checkin'}) }}';" type="button">{% if status == "checkin" %}<b>{{ _('Checked-in') }}</b>{% else %}{{ _('Checked-in') }}{% endif %}</button>
            <p>
            <h3>
                {% if status == "all" %}
                    {{ _('Showing all records') }}
                {% endif %}
                {% if status == "fixed" %}
                    {{ _('Showing fixed records') }}
                {% endif %}
                {% if status == "error" %}
                    {{ _('Showing records with error') }}
                {% endif %}
                {% if status == "disregarded" %}
                    {{ _('Showing disregarded records') }}
                {% endif %}
                {% if status == "checkout" %}
                    {{ _('Showing records that are checked-out') }}
                {% endif %}
                {% if status == "checkin" %}
                    {{ _('Showing records that are checked-in') }}
                {% endif %}
            </h3>
            </p>
        </div>
            <div class="clients-list">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="text-center">
                                        {{ _('Submission') }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center">
                                        {{ _('Error') }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center">
                                        {{ _('Status') }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center">
                                        {{ _('Actions') }}
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-line-solid">
                        </div>
                        <div id="posts">
                            {% for error in errors %}
                                {% set error_count = loop.index %}
                                {% include 'assistant/jsonlogs/snippets/error_item.jinja2' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="pagination">
                    {% for page in allPages %}
                        {% if page.next == False %}
                            <a href="{{ page.url }}">{{ page.page }}</a>
                        {% else %}
                            <a href="{{ page.url }}" class="next">{{ page.page }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="see_notes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Notes') }}</h4>
                </div>
                <div class="modal-body" id="modal-notes">
                    The notes go here!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>

        var ias = jQuery.ias({
            container:  '#posts',
            item:       '.post',
            pagination: '#pagination',
            next:       '.next'
        });

        ias.extension(new IASSpinnerExtension());

        function ias_loaded(event) {
            $('.compare_survey').click(function () {
                var survey_id = $( this ).attr('data-survey-id');
                var action_url = $(this).attr('urn');

                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', action_url);
                form.style.display = 'hidden';

                var csrf = document.createElement("input"); //input element, text
                csrf.setAttribute('type', "text");
                csrf.setAttribute('name', "csrf_token");
                csrf.setAttribute('value', '{{ request.session.get_csrf_token() }}');
                form.appendChild(csrf);

                var survey_id_elem = document.createElement("input"); //input element, text
                survey_id_elem.setAttribute('type', "text");
                survey_id_elem.setAttribute('name', "submissionid");
                survey_id_elem.setAttribute('value', survey_id);
                form.appendChild(survey_id_elem);

                document.body.appendChild(form);
                form.submit();

            });
            $('.action-required').click(function () {
                var action_url = $( this ).attr('urn');
                var title = $( this ).attr('data-title');
                var message = $( this ).attr('data-message');
                swal({
                        title: title,
                        text: message,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, go ahead!') }}",
                        cancelButtonText: "{{ _('Oops, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });

            $('.button-note').click(function () {
                var id = $( this ).attr('data-error');
                var message = $('#' + id).val();
                var converter = new showdown.Converter();
                var html = converter.makeHtml(message);
                $('#modal-notes').html(html);
            });
        }
        ias.on('rendered', ias_loaded);

        // Add a link after page 2 which has to be clicked to load the next page
        //ias.extension(new IASTriggerExtension({offset: 2}));

        // Add a text when there are no more pages left to load
        ias.extension(new IASNoneLeftExtension({text: "{{ _('You reached the end') }}"}));

        $(document).ready(function() {
            new ClipboardJS('.clipboard');

            $('.compare_survey').click(function () {
                var survey_id = $( this ).attr('data-survey-id');
                var action_url = $(this).attr('urn');

                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', action_url);
                form.style.display = 'hidden';

                var csrf = document.createElement("input"); //input element, text
                csrf.setAttribute('type', "text");
                csrf.setAttribute('name', "csrf_token");
                csrf.setAttribute('value', '{{ request.session.get_csrf_token() }}');
                form.appendChild(csrf);

                var survey_id_elem = document.createElement("input"); //input element, text
                survey_id_elem.setAttribute('type', "text");
                survey_id_elem.setAttribute('name', "submissionid");
                survey_id_elem.setAttribute('value', survey_id);
                form.appendChild(survey_id_elem);

                document.body.appendChild(form);
                form.submit();

            });

            $('.action-required').click(function () {
                var action_url = $( this ).attr('urn');
                var title = $( this ).attr('data-title');
                var message = $( this ).attr('data-message');
                swal({
                        title: title,
                        text: message,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{{ _('Yes, go ahead!') }}",
                        cancelButtonText: "{{ _('Oops, cancel!') }}",
                        closeOnConfirm: true,
                        closeOnCancel: true },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = document.createElement('form');
                            form.setAttribute('method', 'post');
                            form.setAttribute('action', action_url);
                            form.style.display = 'hidden';

                            var i = document.createElement("input"); //input element, text
                            i.setAttribute('type',"text");
                            i.setAttribute('name',"csrf_token");
                            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                            form.appendChild(i);

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });

            $('.button-note').click(function () {
                var id = $( this ).attr('data-error');
                var message = $('#' + id).val();
                var converter = new showdown.Converter();
                var html = converter.makeHtml(message);
                $('#modal-notes').html(html);
            });

        });
    </script>
{% endblock scripts %}



