{% macro secure_form(request,auth_token) %}
  <input type="hidden" name="csrf_token" value="{{ request.h.get_csrf_token(request) }}">
  <input type="hidden" name="auth_token" value="{{ auth_token }}">
{% endmacro %}

{% macro display_errors(errors) %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ error }}.
        </div>
    {% endfor %}
{% endmacro %}