{% extends 'landing/page.jinja2' %}

{% block title %}
    <title>{{ _('Welcome to FormShare') }}</title>
{% endblock title %}

{% block topScripts %}
    {% jsresource request,'formshare','pace' %}
{% endblock topScripts %}

{% block bodyclass %} {{ super() }} landing-page no-skin-config {% endblock bodyclass %}

{% block pageheader %}
    {% set in_landing = True %}
    {% include 'dashboard/snippets/header.jinja2' %}
{% endblock pageheader %}

{% block maincontent %}

    {% block slider %}
        {% include 'landing/snippets/slider.jinja2' %}
    {% endblock slider %}

    {% block features %}
        {# Extend this block to add the features section #}
         {% include 'landing/snippets/features.jinja2' %}
    {% endblock features %}
    {% block features2 %}
        {# Extend this block to add the features second section #}
         {% include 'landing/snippets/features2.jinja2' %}
    {% endblock features2 %}
    {% block team %}
        {# Extend this block to add the team section #}
         {% include 'landing/snippets/team.jinja2' %}
    {% endblock team %}
    {% block features3 %}
        {# Extend this block to add the features third section #}
         {% include 'landing/snippets/features3.jinja2' %}
    {% endblock features3 %}
    {% block timeline %}
        {# Extend this block to add the timeline section #}
         {% include 'landing/snippets/timeline.jinja2' %}
    {% endblock timeline %}
    {% block testimonials %}
        {# Extend this block to add the testimonials section #}
         {% include 'landing/snippets/testimonials.jinja2' %}
    {% endblock testimonials %}
    {% block comments %}
        {# Extend this block to add the comments section #}
         {% include 'landing/snippets/comments.jinja2' %}
    {% endblock comments %}
    {% block features4 %}
        {# Extend this block to add four features section #}
         {% include 'landing/snippets/features4.jinja2' %}
    {% endblock features4 %}
    {% block pricing %}
        {# Extend this block to add pricing section #}
         {% include 'landing/snippets/pricing.jinja2' %}
    {% endblock pricing %}

    {% block contact %}
        {% include 'landing/snippets/contact.jinja2' %}
    {% endblock contact %}

{% endblock maincontent %}
