<div class="col-sm-12">
    <h2>{{ activeAssistant.fullName }}  {{ _('forms') }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <strong>{{ _('Home') }}</strong>
        </li>
    </ol>
</div>