<div class="row border-bottom white-bg">

        <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
            <a href="{{ request.route_url('assistant_forms', userid=userid,projcode=projcode) }}" class="navbar-brand"><img alt="image" src="{{ request.url_for_static('formshare-small-black.png') }}"/> Form<b>Share</b><span style="display: block; font-size: 50%; margin-left: 35px; line-height: 0px">{{ _('Assistant access') }}</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-reorder"></i>
            </button>


            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav mr-auto">
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ activeAssistant.fullName }}</a>
                        <ul role="menu" class="dropdown-menu" style="right: -130px">
                            <li><a data-toggle="modal" data-target="#myModal">{{ _('Change my password') }}</a></li>
                            <li><a data-toggle="modal" data-target="#myModalAPIKey">{{ _('Change my API key') }}</a></li>
                        </ul>
                    </li>
                    <li style="margin-top: 15px">
                        {{ _('Your are assisting in project ') }}: {{ activeProject.project_name }} {% if selected_timezone == 'project' and timezone != 'UTC'  %}<span class="badge badge-default" title=" {{ request.h.get_timezone_desc(request,timezone) }} ">UTC{{ request.h.get_timezone_offset(request,timezone) }}</span>{% endif %}
                    </li>
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item</a>#}
{#                        <ul role="menu" class="dropdown-menu" class="dropdown-menu" style="right: -135px">#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                            <li><a href="">Menu item</a></li>#}
{#                        </ul>#}
{#                    </li>#}

                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    {% block header_timezone %}
                        {% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
                            <li>
                                <div>
                                    {{ _('Time zone') }}:
                                    <select id="timezone" style="margin-right: 10px">
                                        {% block timezones_options %}
                                            <option id="formshare" value="formshare">{{ _("FormShare's") }}: {{ system_timezone }}{% if system_timezone != "UTC" %} (UTC{{ system_timezone_offset }}){% endif %}</option>
                                            <option id="user" value="user" title="{{ assistant_timezone.timezone_name }}">{{ _('Yours') }} (UTC{{ assistant_timezone.timezone_utc_offset }})</option>
                                            <option id="project" value="project">{{ _('By project') }}</option>
                                        {% endblock timezones_options %}
                                    </select>
                                </div>
                            </li>
                        {% endif %}
                    {% endblock header_timezone %}

                    {% block language_menu_item %}
                        <li>
                            <div>
                                {{ _('Language') }}:
                                <select id="language">
                                    {% block language_options %}
                                        <option id="en" value="en">English</option>
                                        <option id="es" value="es">Español</option>
                                        <option id="fr" value="fr">Français</option>
                                        <option id="pt" value="pt">Português</option>
                                    {% endblock language_options %}
                                </select>
                            </div>
                        </li>
                    {% endblock language_menu_item %}
                    <li>
                        <a href="{{ request.route_url('assistant_logout', userid=userid, projcode=projcode) }}">
                            <i class="fas fa-sign-out-alt"></i> {{ _('Sign out') }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
</div>