<div style="border-bottom: 0px;" class="feed-element">
    <a class="float-left">
        <div class="rounded-circle" style="margin-right: 10px; background-color: {{ form._xid_color }}; width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);">ODK</span></div>
    </a>
    <div class="media-body ">
        <div class="row">
            <div class="col-md-12">
                <span class="float-right">{{ _('Uploaded on') }} {{ request.h.readble_date(form.form_cdate) }}</span>
                <strong>{{ form.form_name }}</strong><br/>
                {% if form.last != None %}
                    <span class="text-muted">{{ _('Last submission') }}: {{ request.h.readble_date_with_time(form.last) }} {{ _('by') }} <a class="text-info">{{ form.bydetails.coll_name }}</a></span>
                {% else %}
                    <span class="text-muted">{{ _('Without submissions') }}</span>
                {% endif %}
                {% if form.form_target > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-warning" style="width: {{ form.submissions*100/form.form_target }}%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
                Total: {{ form.submissions }} {% if form.form_target > 0 %}of {{ form.form_target }} {% endif %} submissions.  {% if form.form_schema != None %}: <strong><a href="{{ request.route_url('clean',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-success">{{ form.indb }} in database.</a> <a href="{{ request.route_url('errorlist',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-warning">{{ form.inlogs }} in error logs.</a>  <a href="{{ request.route_url('errorlist',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-danger">{{ form.inerror }} with errors</a>  </strong>{% endif %}
                <br style="margin-top: 5px" />
                Mine: {{ form.assistant_data.submissions }} submissions. {% if form.form_schema != None %}: <strong><a href="{{ request.route_url('clean',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-success">{{ form.assistant_data.indb }} in database.</a> <a href="{{ request.route_url('errorlist',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-warning">{{ form.assistant_data.inlogs }} in error logs.</a>  <a href="{{ request.route_url('errorlist',userid=userid,projcode=projcode,formid=form.form_id) }}" class="text-danger">{{ form.assistant_data.inerror }} with errors</a>  </strong>{% endif %}
                <div class="actions">
                    <a data-toggle="modal" data-target="#qrcode" urn="{{ request.route_url('assistant_qr_code',userid=userid,projcode=projcode,formid=form.form_id) }}" class="btn btn-xs btn-white qrbutton"><i class="fas fa-qrcode"></i> {{ _('Show configuration QR') }} </a>
                    {% if form.submissions > 0 %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if form.haschildren == "False" %}
<hr class="hr-line-solid">
{% endif %}