<div class="feed-element" style="margin-left: 48px; border-bottom: 0px; margin-top: 1px">
    <div class="media-body ">
        <div class="row">
            <div class="col-md-12">
                <span class="float-right">Uploaded on {{ request.h.readble_date(form.form_cdate) }}</span>
                <strong><a href="#">{{ form.form_name }}</a></strong> <span class="badge badge-default"><i class="fa fa-code-fork"></i> Subversion</span> <span class="badge badge-success">Merged</span> <span class="label label-primary">Active</span><br>
                <span class="text-muted">Last submission: Yesterday 1:21 pm - 11.06.2014 by <a class="text-info">Katie</a></span><br/>
                5 submissions
                <div class="actions">
                    <a href=""  class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a href=""  class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-line-dashed" style="margin-bottom: 0px">
</div>