<div class="col-sm-12">
    <h2>{{ _('Collaborator list') }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">{{ _('Dashboard') }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">{{ _('Projects') }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Project XXX</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>{{ _('Collaborators') }}</strong>
        </li>
    </ol>
</div>