{% extends 'dashboard/page.jinja2' %}

{% block title %}
    <title>{{ _("404 Error") }}</title>
{% endblock %}

{% block css %}
    {% cssresource request,'dashboard','style' %}
{% endblock css %}

{% block bodyclass %}gray-bg{% endblock bodyclass %}

{% block bodycontent %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            Sorry, but the page you are looking for has not been found. Try checking the URL for errors.
            You can go back to main page: <br/><a href="{{ request.route_url('dashboard') }}" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>
{% endblock bodycontent %}

{% block mainscripts %}
    {% jsresource request,'dashboard','bootstrap' %}
{% endblock mainscripts %}
