<div class="modal inmodal" id="add_assistant" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ _('Adding assistant') }}</h4>
            </div>
            <form id="member_form" role="form" method="post" action="{{ request.route_url('form_add_assistant',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}">
                {{ form.secure_form(request) }}
                <input type="hidden" id="group_id" name="group_id" value="">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label">{{ _('Assistant') }}</label>
                    <div class="col-sm-10">
                        <select name="coll_id" style="width: 100%; !important;" class="collaborator-list form-control">
                            {% for project in assistants %}
                                <optgroup label="{{ project.project_desc }}">
                                    {% for assistant in project.assistants %}
                                        <option value="{{ assistant.code }}">{{ assistant.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label">{{ _('Privileges') }}</label>
                    <div class="col-sm-10">
                        <label><input type="radio" checked value="1" id="role_admin" name="privilege"> {{ _('Can submmit') }}</label><br/>
                        <label><input type="radio" value="2" id="role_editor" name="privilege"> {{ _('Can clean') }}</label><br/>
                        <label><input type="radio" value="3" id="role_member" name="privilege"> {{ _('Both') }}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                    <button type="submit" name="add_assistant" class="btn btn-primary">{{ _('Add assistant') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>