<div class="modal inmodal" id="add_assistant" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ _('Adding assistant') }}</h4>
            </div>
            <form id="member_form" class="require_busy" role="form" method="post" action="{{ request.route_url('form_add_assistant',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}">
                {% block add_assistant_form %}
                    {{ form.secure_form(request) }}
                    {% block add_assistant_form_fields %}
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">{{ _('Assistant') }}</label>
                            <div class="col-sm-10">
                                <select name="coll_id" style="width: 100%; !important;" class="collaborator-list form-control">
                                    {% for project in assistants %}
                                        <optgroup label="{{ project.project_desc }}">
                                            {% for assistant in project.assistants %}
                                                <option value="{{ assistant.code }}">{{ assistant.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">{{ _('Privileges') }}</label>
                            <div class="col-sm-10">
                                {% if projectDetails.project_formlist_auth == 1 %}
                                    <label><input type="checkbox" id="coll_can_submit" name="coll_can_submit"> {{ _('Can submit') }}</label><br/>
                                {% else %}
                                    <label class="text-danger"> {{ _('Anybody can submit') }}</label><br/>
                                {% endif %}
                                <label><input type="checkbox" id="coll_can_clean" name="coll_can_clean"> {{ _('Can clean') }}</label><br/>
                            </div>
                        </div>
                    {% endblock add_assistant_form_fields %}
                    {% block add_assistant_form_fields_extra %}

                    {% endblock add_assistant_form_fields_extra %}
                    {% block add_assistant_form_fields_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" name="add_assistant" class="btn btn-primary">{{ _('Add assistant') }}</button>
                        </div>
                    {% endblock add_assistant_form_fields_actions %}
                {% endblock add_assistant_form %}
            </form>
        </div>
    </div>
</div>