<div class="modal inmodal" id="edit_assistant" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block edit_assistant_header %}
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
                    <h4 class="modal-title">{{ _('Change privilege') }}</h4>
                    <small id="rolewho" class="font-bold">Changing privilege of Carlos Quiros</small>
                    <p style="color: red" id="assistant_readonly_note">{{ _('This assistant belongs to the project') }} "<spam id="assistant_project_name"></spam>" {{ _('in the account of') }} "<spam id="assistant_owner_name"></spam>" {{ _("but you don't have editor access to this project. Therefore, you cannot edit any details of the assistant for example, change its password or deactivate it.") }}</p>
                {% endblock edit_assistant_header %}
            </div>
            <form class="require_busy" id="edit_assistant_form" role="form" method="post" action="">
                {% block edit_assistant_form %}
                    {{ form.secure_form(request) }}
                    {% block edit_assistant_form_fields %}
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">{{ _('Privileges') }}</label>
                            <div class="col-sm-10">
                                {% if projectDetails.project_formlist_auth == 1 %}
                                    <label><input type="checkbox" id="role_submmit" name="coll_can_submit"> {{ _('Can submit') }}</label><br/>
                                {% else %}
                                    <label class="text-danger"> {{ _('Anybody can submit') }}</label><br/>
                                {% endif %}
                                <label><input type="checkbox" id="role_clean" name="coll_can_clean"> {{ _('Can clean') }}</label><br/>
                            </div>
                        </div>
                    {% endblock edit_assistant_form_fields %}
                    {% block edit_assistant_form_fields_extra %}

                    {% endblock edit_assistant_form_fields_extra %}
                    {% block edit_assistant_form_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" name="add_assistant" class="btn btn-primary">{{ _('Change privileges') }}</button>
                            <button type="button" id="edit_assistant_details" class="btn btn-white">{{ _('Edit assistant details') }}</button>
                        </div>
                    {% endblock edit_assistant_form_actions %}
                {% endblock edit_assistant_form %}
            </form>
        </div>
    </div>
</div>