<div class="modal inmodal" id="edit_group" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block edit_group_header %}
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Change privilege') }}</h4>
                    <small id="grprolewho" class="font-bold">Changing privilege of Carlos Quiros</small>
                {% endblock edit_group_header %}
            </div>
            <form class="require_busy" id="edit_group_form" role="form" method="post" action="">
                {% block edit_group_form %}
                    {{ form.secure_form(request) }}
                    {% block edit_group_form_fields %}
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">{{ _('Privileges') }}</label>
                            <div class="col-sm-10">
                                <label><input type="radio" checked value="1" id="grp_role_submmit" name="privilege"> {{ _('Can Submit') }}</label><br/>
                                <label><input type="radio" value="2" id="grp_role_clean" name="privilege"> {{ _('Can clean') }}</label><br/>
                                <label><input type="radio" value="3" id="grp_role_both" name="privilege"> {{ _('Both') }}</label>
                            </div>
                        </div>
                    {% endblock edit_group_form_fields %}
                    {% block edit_group_form_fields_extra %}

                    {% endblock edit_group_form_fields_extra %}
                    {% block edit_group_form_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary">{{ _('Change role') }}</button>
                        </div>
                    {% endblock edit_group_form_actions %}
                {% endblock edit_group_form %}
            </form>
        </div>
    </div>
</div>