<div class="ibox">
    <div class="ibox-title">
        {% block files_tab_title %}
            <h5>{{ _('Form files') }}</h5>
            <div class="ibox-tools">
                {% block files_tab_tools %}
                    <a id="add_file" data-toggle="modal" data-target="#upload_file" style="margin-right: 10px">
                        <i class="fa fa-plus-square text-success" title="{{ _('Add new file') }}"></i>
                    </a>
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock files_tab_tools %}
            </div>
        {% endblock files_tab_title %}
    </div>
    <div class="ibox-content">
        {% block files_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    {% if formFiles|length > 0 %}
                        <small>{{ _('Click/Tab and hold to remove') }}</small>
                    {% endif %}
                    <ul class="tag-list" style="padding: 0">
                        {% for file in formFiles %}
                            <li><a class="file-item" href="{{ request.route_url('form_stored_file', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, filename=file.file_name) }}" urn="{{ request.route_url('form_remove_file', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, filename=file.file_name) }}"><i class="{{ request.h.get_icon_from_mime_type(file.file_mimetype) }}"></i> {{ file.file_name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if missingFiles != "" %}
                        <br/>
                        <small class="text-danger">{{ _('You need to attach the following files: ') }} <b>{{ missingFiles }}.</b><br/> {{ _('Click on the + button to add them ') }}</small>
                    {% endif %}
                </div>
            </div>
        {% endblock files_tab_content %}
    </div>
</div>