{% set active_tab = request.params.get('tab',None) %}
<div class="ibox {% if active_tab != 'task' %}collapsed{% endif %}">
    <div class="ibox-title">
        {% block project_tasks_title %}
            <h5>{{ _('Products & tasks') }}</h5>
            <div class="ibox-tools">
                {% block project_tasks_tools %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock project_tasks_tools %}
            </div>
        {% endblock project_tasks_title %}
    </div>
    <div class="ibox-content">
        {% block project_tasks_content %}
            {% include 'dashboard/projects/forms/snippets/product_tabs.jinja2' %}
        {% endblock project_tasks_content %}
    </div>
</div>