<div class="row">
    <div class="col-lg-6">
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>{{ _('Created by') }}:</dt> </div>
            <div class="col-sm-8 text-sm-left"><dd class="mb-1">{{ formDetails.pubby.user_name }}</dd> </div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>{{ _('Created') }}:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ request.h.readble_date(formDetails.form_cdate) }}</dd></div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>{{ _('Last updated') }}:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ request.h.readble_date(formDetails.form_cdate) }}</dd></div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>{{ _('Assistants') }}:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> {{ formassistants|length }} </dd></div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right"><dt>{{ _('Assistant groups') }}:</dt> </div>
            <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> {{ formgroups|length }}</dd></div>
        </dl>
    </div>
    <div class="col-lg-6" id="cluster_info">
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right">
                <dt>Last Submission:</dt>
            </div>
            <div class="col-sm-8 text-sm-left">
                <dd class="mb-1">16.08.2014 12:15:57</dd>
            </div>
        </dl>
        <dl class="row mb-0">
            <div class="col-sm-4 text-sm-right">
                <dt>Submissions:</dt>
            </div>
            <div class="col-sm-8 text-sm-left">
                <dd class="mb-1">10</dd>
            </div>
        </dl>
        {% if formDetails.form_schema != None %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right">
                    <dt>In database:</dt>
                </div>
                <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1">7 <a>[Clean data]</a></dd>
                </div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right">
                    <dt>In error log:</dt>
                </div>
                <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1">3 <a>[Manage errors]</a></dd>
                </div>
            </dl>
        {% endif %}
    </div>
</div>