<div class="row">
    <div class="col-lg-6">
        {% block form_details_header %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Created by') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"><dd class="mb-1">{{ formDetails.pubby.user_name }}</dd> </div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Created') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ request.h.readble_date(formDetails.form_cdate) }}</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Last updated') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1">  {{ request.h.readble_date(formDetails.form_cdate) }}</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Assistants') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> {{ formassistants|length }} {% if formassistants|length == 0 and formgroups|length == 0 and projectDetails.access_type < 4 %} <span class="text-danger"><a data-toggle="modal" data-target="#add_assistant"> ({{ _('You need to add one') }}</a>  )</span>{% endif %}</dd></div>
            </dl>
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right"><dt>{{ _('Assistant groups') }}:</dt> </div>
                <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> {{ formgroups|length }}</dd></div>
            </dl>
        {% endblock form_details_header %}
    </div>
    <div class="col-lg-6" id="cluster_info">
        {% block form_details_submissions %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right">
                    <dt>{{ _('Last Submission') }}:</dt>
                </div>
                {% if formDetails.submissions > 0 %}
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">{{ request.h.readble_date_with_time(formDetails.last) }}</dd>
                    </div>
                {% else %}
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">{{ _('Without submissions') }}</dd>
                    </div>
                {% endif %}
            </dl>
            {% if formDetails.submissions > 0 %}
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt>{{ _('By') }}:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1"><a class="text-info">{{ formDetails.bydetails.coll_name }}</a></dd>
                    </div>
                </dl>
            {% endif %}
            <dl class="row mb-0">
                <div class="col-sm-4 text-sm-right">
                    <dt>{{ _('Submissions') }}:</dt>
                </div>
                <div class="col-sm-8 text-sm-left">
                    <dd class="mb-1">{{ formDetails.submissions }}</dd>
                </div>
            </dl>
        {% endblock form_details_submissions %}
        {% if formDetails.form_schema != None %}
            {% block form_details_submissions_db %}
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt>In database:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">{{ formDetails.indb }} {% if formDetails.indb > 0 %}<a target="_blank" href="{{ request.route_url('clean', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}">[Clean data]</a>{% endif %}</dd>
                    </div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt>In logs:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">{{ formDetails.inlogs }} {% if formDetails.inlogs > 0 %}<a target="_blank" href="{{ request.route_url('errorlist', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}">[View logs]</a>{% endif %}</dd>
                    </div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt>With errors:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1" {% if formDetails.inerror > 0 %}style="color: red"{% endif %}>{{ formDetails.inerror }} {% if formDetails.inerror > 0 %}<a style="color: red" target="_blank" href="{{ request.route_url('errorlist', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}">[Manage errors]</a>{% endif %}</dd>
                    </div>
                </dl>
            {% endblock form_details_submissions_db %}
        {% endif %}
    </div>
</div>

{% block form_details_nodb %}
    {% if formDetails.form_schema == None and formDetails.form_reptask == None and projectDetails.access_type < 4%}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center text-warning">{{ _('This form is in testing stage. This means that you can change it at all times and submissions are for testing purposes. ') }}</h4>
                <h4 class="text-center text-warning">{{ _('When you finished testing it you can')}} <a href="{{ request.route_url('createrepository',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" style="color: #026AA8 !important;">{{ _('create a repository for it') }}</a> {{ _('and start collecting "real" data.') }}</h4>
            </div>
        </div>
    {% endif %}
{% endblock form_details_nodb %}
{% block form_details_nodb_error %}
    {% if formDetails.form_schema == None and formDetails.form_reptask != None and taskdata.rescode > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center text-danger">{{ _('This form is still in testing stage. Your last attempt to generate its repository reported an error. You can report this as an issue at ') }} <a href="https://github.com/qlands/FormShare/issues" target="_blank">https://github.com/qlands/FormShare/issues</a>. {{ _('Access the error log ') }} <a href="#" target="_blank">{{ _('here') }}</a>. {{ _('Please remember to attach your ODK Form file and error log when creating an issue') }}</h4>
                <h4 class="text-center">{{ _('Correct the problem, upload the new version and')}} <a href="{{ request.route_url('createrepository',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" style="color: #026AA8 !important;">{{ _('try again') }}</a></h4>
            </div>
        </div>
    {% endif %}
{% endblock form_details_nodb_error %}


{% block form_details_generating %}
    {% if formDetails.form_schema == None and formDetails.form_reptask != None and taskdata.rescode == -1%}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center" style="color: lightgrey"><i class="fas fa-cog fa-5x fa-spin"></i></h1>
                <h4 class="text-center text-success">{{ _('FormShare is generating your repository.') }}</h4>
                <h3 class="text-center repository_message">{{ _('Scheduling....') }}</h3>
                <br/>
                <div class="text-center">
                    <button type="button" class="btn btn-w-m btn-danger cancel_repository" data-task-id="{{ formDetails.form_reptask }}">{{ _('Cancel') }}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock form_details_generating %}

