<div class="ibox">
    <div class="ibox-title">
        {% block info_tab_title %}
            <h5 style="color: {{ formDetails.form_hexcolor }}">{{ formDetails.form_name }}</h5>
            <div class="ibox-tools">
                {% block info_tab_tools %}
                    {% if projectDetails.access_type < 4 %}
                        <a href="{{ request.route_url('form_edit',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" style="margin-right: 10px">
                            <i class="fa fa-pencil text-warning" title="{{ _('Edit') }}"></i>
                        </a>
                    {% endif %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock info_tab_tools %}
            </div>
        {% endblock info_tab_title %}
    </div>
    <div class="ibox-content">
        {% block info_tab_content %}
            {% if formDetails.form_target > 0 %}
                {% block info_tab_content_with_target %}
                    {{ formDetails.submissions }} of {{ formDetails.form_target }} submissions
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated {% if formDetails.form_schema == None %}progress-bar-warning{% else %}progress-bar-success{% endif %}" style="width: {{ formDetails.submissions*100/formDetails.form_target }}%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endblock info_tab_content_with_target %}
            {% endif %}
            <p style="margin-top: 10px" class="small font-bold">
                {% block info_tab_content_badges %}
                    {% if formDetails.form_schema != None %}<span class="badge badge-primary">With repository</span>{% else %}{% if formDetails.form_reptask == None or (formDetails.form_reptask != None and taskdata.rescode > 0) %}<span class="badge badge-warning" title="{{ _('Data is not stored in a database') }}">{{ _('In testing') }}</span>{% else %}<span class="badge badge-info" title="{{ _('FormShare is generating your repository. Please wait....') }}">{{ _('Generating repository...') }}</span>{% endif %}{% endif %} {% if formDetails.form_accsub == 1 %}<span class="label label-primary" title="{{ _('Accept submissions') }}">{{ _('Active') }}</span>{% else %}<span class="label label-danger" title="{{ _('Does\'t accept submissions') }}">{{ _('Inactive') }}</span>{% endif %} {% if formDetails.form_geopoint != None %}<span class="label label-default">{{ _('Georeferenced') }}</span>{% endif %}
                {% endblock info_tab_content_badges %}
            </p>
            {% if projectDetails.access_type < 4 %}
                <div class="actions">
                    {% block info_tab_content_actions %}
                        {% if formDetails.form_schema == None %}
                            <a href="{{ request.route_url('createrepository',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" class="btn btn-xs btn-white"><i style="color: #1c84c6" class="fas fa-database"></i> {{ _('Create repository') }} </a>
                            <a id="update_form_btn" class="btn btn-xs btn-white" data-toggle="modal" data-target="#update_form"><i class="fas fa-file-upload"></i> {{ _('Update ODK form') }} </a>
                        {% endif %}
                        {% if projectDetails.access_type == 1 or formDetails.pubby.user_id == activeUser.id %}
                            <a urn="{{ request.route_url('delete_form', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" class="btn btn-xs btn-white remove_form"><i style="color: red" class="far fa-trash-alt"></i> {{ _('Delete') }}</a>
                        {% endif %}
                    {% endblock info_tab_content_actions %}
                </div>
            {% endif %}
        {% endblock info_tab_content %}
    </div>
</div>