<div class="ibox">
    <div class="ibox-title">
        {% block info_tab_title %}
            <h5 style="color: {{ formDetails.form_hexcolor }}">{{ formDetails.form_name }}</h5>
            <div class="ibox-tools">
                {% block info_tab_tools %}
                    {% if projectDetails.access_type < 4 %}
                        <a href="{{ request.route_url('form_edit',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" style="margin-right: 10px">
                            <i class="fa fa-pencil text-warning" title="{{ _('Edit metadata') }}"></i>
                        </a>
                    {% endif %}
                    <a class="collapse-link" style="margin-right: 10px">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock info_tab_tools %}
            </div>
        {% endblock info_tab_title %}
    </div>
    <div class="ibox-content">
        {% block info_tab_content %}
            {% if formDetails.form_target > 0 %}
                {% block info_tab_content_with_target %}
                    {{ formDetails.submissions }} of {{ formDetails.form_target }} submissions
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated {% if formDetails.form_schema == None %}progress-bar-warning{% else %}progress-bar-success{% endif %}" style="width: {{ formDetails.submissions*100/formDetails.form_target }}%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endblock info_tab_content_with_target %}
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="tag-list" style="padding: 0">
                        {% block info_tab_content_badges %}
                            {% if formDetails.form_schema != None %}
                                {% if formDetails.parent_form == None %}
                                    <li><a style="background-color: #1c84c6; color: white; border-radius: 25px" >{{ _('With repository') }}</a></li>
                                {% else %}
                                    <li title='{{ _("Merged into the repository of") }} "{{ formDetails.parent_form_data.form_name }}"'><a style="background-color: #1c84c6; color: white; border-radius: 25px" >{{ _('Merged') }}</a></li>
                                {% endif %}
                            {% else %}
                                {% if formDetails.form_reptask == None or (formDetails.form_reptask != None and taskdata.rescode > 0) %}
                                    {% if formDetails.form_mergetask == None or (formDetails.form_mergetask != None and mergetaskdata.rescode > 0) %}
                                        <li title="{{ _('Data is not stored in a database') }}"><a style="background-color: #c67d09; color: white; border-radius: 25px">{{ _('In testing') }}</a></li>
                                    {% else %}
                                        <li title="{{ _('FormShare is merging this form. Please wait....') }}"><a style="background-color: #c67d09; color: white; border-radius: 25px">{{ _('Merging form...') }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li title="{{ _('FormShare is generating your repository. Please wait....') }}"><a style="background-color: #c67d09; color: white; border-radius: 25px">{{ _('Generating repository...') }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if formDetails.form_accsub == 1 %}
                                <li title="{{ _('Accept submissions') }}"><a style="background-color: #1c84c6; color: white; border-radius: 25px"> {{ _('Active') }}</a></li>
                            {% else %}
                                <li title="{{ _('Doesn\'t accept submissions') }}"><a style="background-color: red; color: white; border-radius: 25px">{{ _('Inactive') }}</a></li>
                            {% endif %}
                            {% if formDetails.form_geopoint != None %}
                                <li><a style="border-radius: 25px">{{ _('Geo-referenced') }}</a></li>
                            {% endif %}
                            {% if formDetails.form_casetype == 1 %}
                                {% if formDetails.form_schema == None %}
                                    <li title="{{ _('This form will create cases once the repository is generated') }}"><a style="background-color: #c67d09; color: white; border-radius: 25px">{{ _('Case creator') }}</a></li>
                                {% else %}
                                    <li title="{{ _('This form creates cases') }}"><a style="border-radius: 25px">{{ _('Case creator') }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if formDetails.has_sub_version != None %}
                                <li title='"{{ formDetails.has_sub_version.child_data.form_name }}" {{ _("is the sub-version of this form.") }}'><a href="{{ request.route_url('form_details',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.has_sub_version.child_form) }}" style="border-radius: 25px; background-color: #6f42c1; color: white">{{ _('With sub-version') }}</a></li>
                            {% endif %}
                                {% if formDetails.parent_form != None %}
                                    <li title='{{ _('This is the sub-version of ') }}"{{ formDetails.parent_form_data.form_name }}".'><a href="{{ request.route_url('form_details',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.parent_form) }}" style="border-radius: 25px; background-color: #6f42c1; color: white">{{ _('Sub-version') }}</a></li>
                                    {% if formDetails.form_abletomerge == -1 %}
                                        <li title="{{ _('The merge check will start once all required files are uploaded') }}"><a style="border-radius: 25px; background-color: #f8ac59; color: black">{{ _('Merge check pending') }}</a></li>
                                    {% else %}
                                        {% if formDetails.form_abletomerge == 0 %}
                                            <li><a title='{{ _("This form cannot be merged into the repository of") }} "{{ formDetails.parent_form_data.form_name }}"' style="border-radius: 25px; background-color: red; color: white">{{ _('Unable to merge') }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
{#                            {% endif %}#}

                        {% endblock info_tab_content_badges %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="tag-list" style="padding: 0">
                        {% block info_tab_content_actions %}
                            {% if projectDetails.access_type < 4 %}
                                {% if formDetails.form_schema == None %}
                                    {% if formDetails.parent_form == None and (formassistants|length > 0 or formgroups|length > 0)%}
                                        {% if formDetails.form_repositorypossible == 1 %}
                                            <li><a href="{{ request.route_url('createrepository',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" class="btn btn-xs btn-white"><i style="color: #1c84c6" class="fas fa-database"></i> {{ _('Create repository') }} </a></li>
                                        {% endif %}
                                        {% if formDetails.form_repositorypossible == -1 %}
                                            <li title="{{ _('The repository check will start once all required files are uploaded') }}"><a style="border-radius: 25px; background-color: #f8ac59; color: black">{{ _('Repository check pending') }}</a></li>
                                        {% endif %}
                                        {% if formDetails.form_repositorypossible == 0 %}
                                            <li><a title='{{ _("This form has problems and cannot create a repository") }}' style="border-radius: 25px; background-color: red; color: white">{{ _('This form cannot create a repository') }}</a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if formDetails.form_abletomerge == 1 %}
                                            {% if formDetails.form_mergetask == None or (formDetails.form_mergetask != None and mergetaskdata.rescode > 0) and (formassistants|length > 0 or formgroups|length > 0)%}
                                                <li><a href="{{ request.route_url('merge_new_version',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id,oldformid=formDetails.parent_form) }}" class="btn btn-xs btn-white"><i style="color: #1c84c6" class="fas fa-code-branch"></i> {{ _('Merge repository') }} </a></li>
                                            {% endif %}
                                        {% else %}
                                            {% if formDetails.form_abletomerge == 0 %}
                                                <li><a data-toggle="modal" data-target="#merge_error_modal" ><i style="color: red" class="fas fa-exclamation-triangle"></i><span style="color: red"> {{ _('See merging errors') }}</span> </a></li>
                                                {% if merge_language_problem %}
                                                    <li><a href="{{ request.route_url('form_fix_merge_languages',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i style="color: red" class="fas fa-flag"></i><span style="color: red"> {{ _('Fix language') }}</span> </a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if activeUser.can_forms == 1 %}
                                        <li><a id="update_form_btn" class="btn btn-xs btn-white" data-toggle="modal" data-target="#update_form"><i class="fas fa-file-upload"></i> {{ _('Update ODK form') }} </a></li>
                                    {% endif %}
                                    {% set data_columns = False %}
                                    {% if form_survey_columns|length > 0 %}
                                        {% set data_columns = True %}
                                    {% endif %}
                                    {% if form_choices_columns|length > 0 %}
                                        {% set data_columns = True %}
                                    {% endif %}
                                    {% if form_invalid_columns|length > 0 %}
                                        {% set data_columns = True %}
                                    {% endif %}

                                    {% if data_columns == True %}
                                        <li><a {% if formDetails.form_invalidcolumns != None %}style="color: orange" {% endif %} id="extra_columns" class="btn btn-xs btn-white" data-toggle="modal" data-target="#show_extra_columns"><i class="fas fa-columns"></i> {{ _('See data columns') }} </a></li>
                                    {% endif %}
                                {% endif %}
                                {% if formDetails.parent_form != None %}
                                    {% if formDetails.form_schema != None %}
                                         <li><a href="{{ request.route_url('compare_forms', userid=projectDetails.owner, projcode=projectDetails.project_code,fromformid=formDetails.parent_form,toformid=formDetails.form_id) }}" class="btn btn-xs btn-white" title="{{ _('See structural changes made to this sub-version') }}" ><i class="fas fa-exchange-alt"></i> {{ _("What's new") }}</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if projectDetails.access_type <= 2 or formDetails.pubby.user_id == activeUser.id %}
                                    {% if formDetails.has_sub_version == None %}
                                        <li><a urn="{{ request.route_url('delete_form', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" class="btn btn-xs btn-white remove_form"><i style="color: red" class="far fa-trash-alt"></i> {{ _('Delete form') }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endblock info_tab_content_actions %}
                    </ul>
                </div>
            </div>
        {% endblock info_tab_content %}
    </div>
</div>