<div class="ibox">
    <div class="ibox-title">
        <h5>{{ _('Form links') }}</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
            </a>
            <a class="fullscreen-link">
                <i class="fa fa-expand"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-12">
                <small>{{ _('Click/Tab and hold to copy') }}</small>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="{{ request.route_url('form_download_xlsx',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa far fa-file-excel"></i> {{ _('Download ODK XLSX form') }}</a></li>
                    {% if formDetails.form_schema != None %}
                        <li><a href=""><i class="fa fa-rss"></i> OData endpoint</a></li>
                        <li><a href="{{ request.route_url('form_download_xlsx_data',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-download"></i> Download data in XLS form</a></li>
                        <li><a href="{{ request.route_url('form_download_media',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-images"></i> Download images</a></li>
                        {% if projectDetails.access_type != 4 %}
                            <li><a target="_blank" href="{{ request.route_url('clean', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-pencil"></i> Clean data</a></li>
                            <li><a target="_blank" href="{{ request.route_url('errorlist', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-bug"></i> Clean error logs</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ request.route_url('form_download_csv',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-download"></i> {{ _('Download data in CSV format') }}</a></li>
                        <li><a href="{{ request.route_url('form_download_media',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-images"></i> {{ _('Download submitted media') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>