<div class="ibox">
    <div class="ibox-title">
        {% block links_tab_title %}
            <h5>{% if formDetails.form_schema == None %}{{ _('Form links and downloads') }}{% else %}{{ _('Form links') }}{% endif %}</h5>
            <div class="ibox-tools">
                {% block links_tab_tools %}
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock links_tab_tools %}
            </div>
        {% endblock links_tab_title %}
    </div>
    <div class="ibox-content">
        {% block links_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    <small>{{ _('Click / Tap and hold to copy') }}</small>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href="{{ request.route_url('form_download_xlsx',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fab fa-wpforms"></i> {{ _('Download ODK form') }}</a></li>
                        {% if formDetails.form_schema != None %}
                            {% block form_links_rep %}
                                {% if formDetails.indb > 0 %}
                                    <li><a target="_blank" href="{{ request.route_url('clean', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-pencil"></i> {{ _('Clean data') }}</a></li>
                                {% endif %}
                                {% if formDetails.inlogs > 0 %}
                                    <li><a target="_blank" href="{{ request.route_url('errorlist', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-bug"></i> {{ _('Clean error logs') }}</a></li>
                                {% endif %}
                            {% endblock form_links_rep %}
                        {% else %}
                            {% block form_downloads_norep %}
                                <li><a href="{{ request.route_url('form_download_csv',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-download"></i> {{ _('Download data in CSV format') }}</a></li>
                                <li><a href="{{ request.route_url('form_download_media',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-images"></i> {{ _('Download submitted media') }}</a></li>
                            {% endblock form_downloads_norep %}
                        {% endif %}
                        {% block extra_links_tools %}

                        {% endblock extra_links_tools %}
                    </ul>
                </div>
            </div>
        {% endblock links_tab_content %}
        {% block links_qr_content %}
            <hr>
            <div style="text-align: center">
                <span class="text-center">{{ _('Use this QR to configure ODK Collect') }}</span><br/>
                <a title="{{ _('ODK settings') }}" href="{{ request.route_url('project_qr', userid=projectDetails.owner, projcode=projectDetails.project_code) }}"><img style="max-width: 150px" src="{{ request.route_url('project_qr', userid=projectDetails.owner, projcode=projectDetails.project_code) }}" class="img-fluid"></a>
            </div>
            ODK URL:<br/>
            <div class="input-group">
                <input type="text" readonly value="{{ request.route_url('project_details', userid=projectDetails.owner, projcode=projectDetails.project_code) }}" class="form-control"> <span class="input-group-append"> <a class="btn btn-white btn-bitbucket clipboard" data-clipboard-text="{{ request.route_url('project_details', userid=projectDetails.owner, projcode=projectDetails.project_code) }}" title="{{ _('Copy to clipboard') }}"><i class="far fa-copy"></i></a> </span>
            </div>
            {% if projectDetails.project_formlist_auth == 0 %}
                <br/><span title="{{ _('Anyone can submit data to this form. This project uses crowdsourcing') }}" class="label label-danger">{{ _('Crowdsourcing') }}</span>
            {% endif %}
        {% endblock links_qr_content %}
        {% block links_extra_content %}

        {% endblock links_extra_content %}
    </div>
</div>