<div class="ibox">
    <div class="ibox-title">
        {% block links_tab_title %}
            <h5>{{ _('Form links and downloads') }}</h5>
            <div class="ibox-tools">
                {% block links_tab_tools %}
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock links_tab_tools %}
            </div>
        {% endblock links_tab_title %}
    </div>
    <div class="ibox-content">
        {% block links_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    <small>{{ _('Click/Tab and hold to copy') }}</small>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href="{{ request.route_url('form_download_xlsx',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fab fa-wpforms"></i> {{ _('Download ODK form') }}</a></li>
                        {% if formDetails.form_schema != None %}
                            {% block form_links_rep %}
                                <li><a target="_blank" href="{{ request.route_url('clean', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-pencil"></i> {{ _('Clean data') }}</a></li>
                                <li><a target="_blank" href="{{ request.route_url('errorlist', userid=projectDetails.owner, projcode=projectDetails.project_code,formid=formDetails.form_id) }}"><i class="fa fa-bug"></i> {{ _('Clean error logs') }}</a></li>
                            {% endblock form_links_rep %}
                            {% block form_downloads_rep %}
                                <li><a style="line-height: 1.5;" href="{{ request.route_url('form_download_xlsx_data',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="far fa-file-excel"></i> {{ _('Download data in Excel format') }}</a></li>
                                <li><a style="line-height: 1.5;" href="{{ request.route_url('form_download_media',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fas fa-images"></i> {{ _('Download submitted media') }}</a></li>
                                {% if formDetails.submissions > 0 and formDetails.form_geopoint != None and withgps > 0 %}
                                    <li><a style="line-height: 1.5;" href="{{ request.route_url('form_download_kml',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fas fa-globe-americas"></i> {{ _('Download KML') }}</a></li>
                                {% endif %}
                            {% endblock form_downloads_rep %}
                        {% else %}
                            {% block form_downloads_norep %}
                                <li><a href="{{ request.route_url('form_download_csv',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-download"></i> {{ _('Download data in CSV format') }}</a></li>
                                <li><a href="{{ request.route_url('form_download_media',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fa fa-images"></i> {{ _('Download submitted media') }}</a></li>
                            {% endblock form_downloads_norep %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock links_tab_content %}
    </div>
</div>