(function () {
    var evtSource = new EventSource("/task_stream/{{ formDetails.form_mergetask }}");
    evtSource.onmessage = function (e) {
        if (e.data === "success" || e.data === "failure") {
            evtSource.close();
            location.reload();
        } else {
            $(".merge_message").text(e.data);
        }
    };
    evtSource.onerror = function () {
        evtSource.close();
    };
})();

function fadeInOut () {
    $("#merge_message").fadeIn(1500, function () {
        $("#merge_message").fadeOut(1500, function () {
            fadeInOut();
        });
    });
}
fadeInOut();
