client_merge = new Paho.MQTT.Client("{{ request.domain }}", Number(9001), "clientId");
client_merge.onMessageArrived = onMessageArrived_merge;
{% if request.host_port != "443" %}
    client_merge.connect({onSuccess:onConnect_merge, userName : "formshare_client", password : "read_only"});
{% else %}
    client_merge.connect({onSuccess:onConnect_merge, userName : "formshare_client", password : "read_only", useSSL : true});
{% endif %}
function onConnect_merge() {
    client_merge.subscribe("formshare/tasks/{{ formDetails.form_mergetask }}");
}
function onMessageArrived_merge(message) {
    if ((message.payloadString === "success") || (message.payloadString === "failure"))
    {
        location.reload();
    }
    else
    {
        $(".merge_message").text(message.payloadString);
    }
}

function fadeInOut () {
    $("#merge_message").fadeIn(1500, function () {
        $("#merge_message").fadeOut(1500, function () {
            fadeInOut();
        });
    });
}
fadeInOut();