{% if output.status == -1 %}
    {% block product_item_processing %}
        <div id="feed_element_{{ output.celery_taskid }}" class="feed-element">
            <a class="float-left">
                <div class="rounded-circle" style="margin-right: 10px; background-color: lightgrey; width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);"><i class="fas fa-cog fa-2x fa-spin"></i></span></div>
            </a>
            <div class="media-body ">
                {{ _('Process started by ') }} {{ output.created_by_name }}<br>
                <small class="text-muted">{{ request.h.readble_date_with_time(output.datetime_added) }} - {% if output.celery_taskid != formDetails.form_reptask %}<span id="sse_{{ output.celery_taskid }}" class="text-success sse-message"> {{ _('Processing...') }}</span>{% else %}<span class="text-success repository_message"> {{ _('Scheduling...') }}</span>{% endif %}</small>
                <div class="actions">
                    {% block product_item_processing_actions %}
                        {% if output.celery_taskid != formDetails.form_reptask %}
                            <a urn="{{ request.route_url('stop_task',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, taskid=output.celery_taskid) }}" class="btn btn-xs btn-white cancel-task"><i class="fas fa-ban" style="color: red;"></i> Cancel</a>
                        {% else %}
                            <a data-task-id="{{ output.celery_taskid }}" class="btn btn-xs btn-white cancel_repository"><i class="fas fa-ban" style="color: red;"></i> Cancel</a>
                        {% endif %}
                    {% endblock product_item_processing_actions %}
                </div>
            </div>
        </div>
    {% endblock product_item_processing %}
{% else %}
    {% block product_item_ready %}
        <div id="feed_element_{{ output.celery_taskid }}" class="feed-element">
            <a href="#" class="float-left">
                <div class="rounded-circle" style="margin-right: 10px; background-color: #026AA8; width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);"><i class="{{ product.icon }} fa-2x"></i></span></div>
            </a>
            <div class="media-body ">
                {% if output.published == 1 %}
                    <small class="float-right text-navy">{{ _('Published by') }} {{ output.published_by_name }} ({{ request.h.simple_date(output.date_published) }})</small>
                {% endif %}
                {% if output.output_file == None %}{{ _('Ran by') }}{% else %}{{ _('Created by') }}{% endif %} <strong>{{ output.created_by_name }}</strong> {% if output.published == 1 %}<span class="label" style="color: white; background: cornflowerblue" title="{{ _('Public Access') }}">{{ _('Public') }}</span>{% endif %} <br>
                <small class="text-muted">{{ request.h.readble_date_with_time(output.datetime_added) }} {% if output.output_file != None %}- <span class="text-success"> {{ output.downloads }} {{ request.h.pluralize(request,_('download'),output.downloads) }} (last: {{ request.h.simple_date(output.last_download) }})</span>{% endif %}</small>
                <div class="actions">
                    {% block product_item_ready_actions %}
                        {% if output.output_file != None %}
                            {% if output.published == 1 %}
                                <a href=""  class="btn btn-xs btn-white"><i class="fas fa-download"></i> Download </a>
                                <a href=""  class="btn btn-xs btn-white"><i class="fas fa-lock"></i> Unpublish</a>
                            {% else %}
                                <a href=""  class="btn btn-xs btn-white"><i class="fas fa-download"></i> Download </a>
                                <a href=""  class="btn btn-xs btn-white"><i class="fas fa-lock"></i> Publish</a>
                            {% endif %}
                            <a href=""  class="btn btn-xs btn-white"><i class="far fa-trash-alt"  style="color: red;"></i> Delete</a>
                        {% endif %}
                    {% endblock product_item_ready_actions %}
                </div>
            </div>
        </div>
    {% endblock product_item_ready %}
{% endif %}
