{% for product in products %}
    {% for output in product.outputs %}
        {% if output.status == -1 %}
            (function (celeryId) {
                var evtSource = new EventSource("/task_stream/" + celeryId);
                evtSource.onmessage = function (e) {
                    if (e.data === "success" || e.data === "failure") {
                        evtSource.close();
                        $('#feed_element_' + celeryId).load('{{ request.url }} #feed_element_' + celeryId, function(){
                            product_buttons()
                        });
                    } else {
                        $("#sse_" + celeryId).text(e.data);
                    }
                };
                evtSource.onerror = function () {
                    evtSource.close();
                };
            })("{{ output.celery_taskid }}");
        {% endif %}
    {% endfor %}
{% endfor %}


let $element2 = $('.sse-message');
function fadeInOut2 () {
    $element2.fadeIn(1000, function () {
        $element2.fadeOut(1500, function () {
            $element2.fadeIn(1500, function () {
                setTimeout(fadeInOut2, 500);
            });
        });
    });
}
fadeInOut2();

$('.cancel-task').click(function () {
    var action_url = $( this ).attr('urn');
    swal({
            title: "{{ _('Cancel the process') }}",
            text: "{{ _('Are you sure that you want to cancel this process') }}",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "{{ _('Yes, stop the process') }}",
            cancelButtonText: "{{ _('Oops!, cancel!') }}",
            closeOnConfirm: true,
            closeOnCancel: true },
        function (isConfirm) {
            if (isConfirm) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', action_url);
                form.style.display = 'hidden';

                var i = document.createElement("input"); //input element, text
                i.setAttribute('type',"text");
                i.setAttribute('name',"csrf_token");
                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                form.appendChild(i);

                document.body.appendChild(form);
                $("#busy").show();
                form.submit();
            }
        });
});
