{% if output.status == -1 %}
    {% block product_item_processing %}
        <div id="feed_element_{{ output.celery_taskid }}" class="feed-element">
            <a class="float-left">
                <div class="rounded-circle" style="margin-right: 10px; background-color: lightgrey; width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);"><i class="fas fa-cog fa-2x fa-spin"></i></span></div>
            </a>
            <div class="media-body ">
                {{ _('Process started by ') }} {{ output.created_by_name }}<br>
                <small class="text-muted">{{ request.h.readble_date_with_time(output.datetime_added, request.locale_name) }} - {% if output.celery_taskid != formDetails.form_reptask %}<span id="sse_{{ output.celery_taskid }}" class="text-success sse-message"> {{ _('Processing...') }}</span>{% else %}<span class="text-success repository_message"> {{ _('Scheduling...') }}</span>{% endif %}</small>
                <div class="actions">
                    {% block product_item_processing_actions %}
                        {% if output.celery_taskid != formDetails.form_reptask %}
                            <a urn="{{ request.route_url('stop_task',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, taskid=output.celery_taskid) }}" class="btn btn-xs btn-white cancel-task"><i class="fas fa-ban" style="color: red;"></i> {{ _('Cancel') }}</a>
                        {% else %}
                            <a data-task-id="{{ output.celery_taskid }}" class="btn btn-xs btn-white cancel_repository"><i class="fas fa-ban" style="color: red;"></i> {{ _('Cancel') }}</a>
                        {% endif %}
                    {% endblock product_item_processing_actions %}
                </div>
            </div>
        </div>
    {% endblock product_item_processing %}
{% else %}
    {% block product_item_ready %}
        <div id="feed_element_{{ output.celery_taskid }}" class="feed-element">
            <a href="#" class="float-left">
                <div class="rounded-circle" style="margin-right: 10px; {% if output.status == 0 %}background-color: #026AA8;{% else %}{% if output.status > 0 %}background-color:red;{% else %}background-color: orange;{% endif %}{% endif %} width: 38px; height: 38px; display: inline-block; vertical-align: middle" ><span style="color: white; position: relative; float: left; top: 50%; left: 50%; transform: translate(-50%, -50%);"><i class="{{ product.icon }} fa-2x"></i></span></div>
            </a>
            <div class="media-body ">
                {% block product_item_ready_head %}
                    {% if output.product_published == 1 %}
                        <small class="float-right text-navy">{{ _('Published by') }} {{ output.published_by_name }} ({{ request.h.simple_date(output.date_published) }})</small>
                    {% endif %}
                    {% if output.status == -2 %}
                        <small class="float-right text-danger">{{ _('Empty set') }}</small>
                    {% endif %}
                    {% if output.output_file == None %}{{ _('Ran by') }}{% else %}{{ _('Created by') }}{% endif %} <strong>{{ output.created_by_name }}</strong> {% if output.published == 1 %}<span class="label" style="color: white; background: cornflowerblue" title="{{ _('Public Access') }}">{{ _('Public') }}</span>{% endif %} <br>
                    {% if output.status > 0 %} <textarea style="display:none;" id="error_{{ output.celery_taskid }}"></textarea> {{ _('The process generated an error.') }}<br>{% endif %}
                    <small class="text-muted">{{ request.h.readble_date_with_time(output.datetime_added,request.locale_name) }} {% if output.status == 0 %} {% if output.output_file != None %}- <span class="text-success"> {{ output.downloads }} {{ request.h.pluralize(_('download'),output.downloads,request.locale_name) }} {% if output.last_download != None %}({{ _('last') }}: {{ request.h.simple_date(output.last_download) }}){% endif %}</span>{% endif %} {% endif %}</small>
                {% endblock product_item_ready_head %}
                <div class="actions">
                    {% block product_item_ready_actions %}
                        {% if output.output_file != None and output.status == 0 %}
                            {% if output.product_published == 1 %}
                                {% block product_item_ready_public_tools %}
                                    <a href="{{ request.route_url('download_public_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white"><i class="fas fa-download"></i> {{ _('Download') }} </a>
                                    {% if projectDetails.access_type < 4 %}
                                        <a urn="{{ request.route_url('unpublish_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white unpublish-product"><i class="fas fa-lock"></i> {{ _('Unpublish') }}</a>
                                    {% endif %}
                                {% endblock product_item_ready_public_tools %}
                            {% else %}
                                {% block product_item_ready_private_tools %}
                                    <a href="{{ request.route_url('download_private_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white"><i class="fas fa-download"></i> {{ _('Download') }} </a>
                                    <a href="{{ request.route_url('api_download_private_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id, _query={'apikey': activeUser.apikey}) }}"  class="btn btn-xs btn-white"><i class="fas fa-code"></i> {{ _('API Download') }} </a>
                                    {% if output.publishable == 1 %}
                                        {% if projectDetails.access_type < 4 %}
                                            <a urn="{{ request.route_url('publish_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white publish-product"><i class="fas fa-unlock"></i> {{ _('Publish') }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endblock product_item_ready_private_tools %}
                            {% endif %}
                            {% if projectDetails.access_type < 4 %}
                                <a urn="{{ request.route_url('delete_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white delete-product"><i class="far fa-trash-alt"  style="color: red;"></i> {{ _('Delete') }}</a>
                            {% endif %}
                        {% else %}
                            {% if projectDetails.access_type < 4 %}
                                {% if output.output_file != None %}
                                    <a urn="{{ request.route_url('delete_product', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id, productid=output.product_id, outputid=output.output_id) }}"  class="btn btn-xs btn-white delete-product"><i class="far fa-trash-alt"  style="color: red;"></i> {{ _('Delete') }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endblock product_item_ready_actions %}
                </div>
            </div>
        </div>
    {% endblock product_item_ready %}
{% endif %}
