<div class="ibox">
    <div class="ibox-title">
        {% block repo_tab_title %}
            <h5>{{ _('Repository tools') }}</h5>
            <div class="ibox-tools">
                {% block repo_tab_title_tools %}
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock repo_tab_title_tools %}
            </div>
        {% endblock repo_tab_title %}
    </div>
    <div class="ibox-content">
        {% block repo_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="tag-list" style="padding: 0">
                        {% block repo_tab_tools %}
                            <li><a title="{{ numsensitive }} {{ request.h.pluralize(_('field'),numsensitive,request.locale_name) }} {{ _('marked as sensible among ') }}{{ numtables }} {{ request.h.pluralize(_('table'),numtables,request.locale_name) }}" href="{{ request.route_url('editDictTables', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fas fa-eye-slash"></i><span style="color: red"> {{ _('Anonymize data') }}</span></a></li>
                            {% if formDetails.submissions > 0 %}
                                {% if projectDetails.access_type < 3 %}
                                    <li><a href="{{ request.route_url('manageSubmissions', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fas fa-tasks"></i> {{ _('Manage submissions') }}</a></li>
                                {% endif %}
                            {% endif %}
                            <li><a href="{{ request.route_url('import_data', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}" class="btn btn-xs btn-white"><i class="fas fa-file-import"></i> {{ _('Import external data') }} </a></li>
                            <li><a href="{{ request.route_url('viewAudit', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}"><i class="fas fa-shield-alt"></i> {{ _('Review the history of changes') }}</a></li>
                        {% endblock repo_tab_tools %}
                        {% block repo_tab_tools_extra %}

                        {% endblock repo_tab_tools_extra %}
                    </ul>
                </div>
            </div>
        {% endblock repo_tab_content %}
    </div>
</div>