<div class="ibox">
    <div class="ibox-title">
        {% block repo_tab_title %}
            <h5>{{ _('Repository tools') }}</h5>
            <div class="ibox-tools">
                {% block repo_tab_title_tools %}
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up" style="margin-right: 10px"></i>
                    </a>
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                {% endblock repo_tab_title_tools %}
            </div>
        {% endblock repo_tab_title %}
    </div>
    <div class="ibox-content">
        {% block repo_tab_content %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="tag-list" style="padding: 0">
                        {% block repo_tab_tools %}
                            <li><a href=""><i class="fas fa-book"></i> {{ _('Edit dictionary') }}</a></li>
                            <li><a href=""><i class="fas fa-trash text-danger"></i> {{ _('Delete all submited data') }}</a></li>
                        {% endblock repo_tab_tools %}
                        {% block repo_tab_tools_extra %}

                        {% endblock repo_tab_tools_extra %}
                    </ul>
                </div>
            </div>
        {% endblock repo_tab_content %}
    </div>
</div>