client_repository = new Paho.MQTT.Client("{{ request.server_name }}", Number(9001), "clientId");

function onConnect_repository() {
    client_repository.subscribe("formshare/{{ formDetails.form_reptask }}");
}
function onMessageArrived_repository(message) {
    if ((message.payloadString === "success") || (message.payloadString === "failure"))
    {
        location.reload();
    }
    else
    {
        $(".repository_message").text(message.payloadString);
    }
}

client_repository.onMessageArrived = onMessageArrived_repository;
client_repository.connect({onSuccess:onConnect_repository, userName : "formshare_client", password : "read_only"});

let $element = $('.repository_message, .sse-message');
function fadeInOut () {
    $element.fadeIn(1000, function () {
        $element.fadeOut(1500, function () {
            $element.fadeIn(1500, function () {
                setTimeout(fadeInOut, 500);
            });
        });
    });
}
fadeInOut();

$('.cancel-task').click(function () {
    var action_url = $( this ).attr('urn');
    swal({
            title: "{{ _('Cancel the process') }}",
            text: "{{ _('Are you sure that you want to cancel this process') }}",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "{{ _('Yes, stop the process') }}",
            cancelButtonText: "{{ _('Oops!, cancel!') }}",
            closeOnConfirm: true,
            closeOnCancel: true },
        function (isConfirm) {
            if (isConfirm) {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', action_url);
                form.style.display = 'hidden';

                var i = document.createElement("input"); //input element, text
                i.setAttribute('type',"text");
                i.setAttribute('name',"csrf_token");
                i.setAttribute('value','{{ request.session.get_csrf_token() }}');
                form.appendChild(i);

                document.body.appendChild(form);
                form.submit();
            }
        });
});