<span class="label">1</span>
<div class="row">
    {% block task_item_data %}
        {% block task_item_desc %}
            <div class="col-md-3">
                <div class="text-center">
                    Import data from FormShare 1.0
                </div>
            </div>
            <div class="col-md-1">
                <div class="text-center">
                    NA
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    Tuesday 5th of March, 2019. 09:46:12
                </div>
            </div>
        {% endblock task_item_desc %}
        {% block task_item_badges %}
            <div class="col-md-2">
                <div class="text-center">
                    <span class="badge badge-primary">{{ _('Completed') }}</span>
                    <span class="badge badge-primary">{{ _('Published') }}</span>
                    <span class="badge badge-primary">{{ _('Last') }}</span>
                </div>
            </div>
        {% endblock task_item_badges %}
        {% block task_item_actions %}
            <div class="col-md-3">
                <div class="text-center">
                    <a class="btn btn-white btn-sm action-buttons"><i class="fas fa-pencil-alt text-warning"></i> {{ _('Publish') }} </a>
                    <a class="btn btn-white btn-sm action-buttons"><i class="fas fa-pencil-alt text-warning"></i> {{ _('See error') }} </a>
                    <a class="btn btn-white btn-sm action-buttons"><i class="fas fa-trash text-danger"></i> {{ _('Clear') }} </a>
                </div>
            </div>
        {% endblock task_item_actions %}
    {% endblock task_item_data %}
</div>
<hr>