<div class="modal inmodal" id="update_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block update_form_header %}
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Upload new version') }}</h4>
                {% endblock update_form_header %}
            </div>
            <div class="row">
                {% block update_form_warning_message %}
                    <div class="col-md-12">
                        <h5 class="text-center text-warning">{{ _('Warning: Uploading a new version will remove any test data') }}</h5>
                    </div>
                {% endblock update_form_warning_message %}
            </div>
            <form id="form_update_form" role="form" class="require_busy" method="post" enctype="multipart/form-data" action="{{ request.route_url('update_form',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formid) }}">
                {% block update_form_form %}
                    {{ form.secure_form(request) }}
                    {% block update_form_form_fields %}
                        <div class="modal-body">
                            <div style="margin-top: 10px" class="form-group">
                                <label><b>{{ _('Survey file (xls / xlsx)') }}</b></label>
                                <div class="custom-file">
                                    <input type="file" name="xlsx" class="custom-file-input">
                                    <label class="custom-file-label" for="inputGroupFile01">{{ _('Select the ODK Form that you want to upload into FormShare') }}</label>
                                </div>
                            </div>
                            {% if formDetails.parent_form == None %}
                                {% if projectDetails.project_case == 0 %}
                                    <hr>
                                    <div style="margin-top: 10px" class="form-group">
                                        <label><b>{{ _('In the ODK Form that you are uploading into FormShare, which variable will be used to control duplicate submissions?') }}</b></label>
                                        <input type="text" name="form_pkey" {% if formDetails.form_pkey != None %}value="{{ formDetails.form_pkey }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to control duplicate submissions') }}')"  oninput="setCustomValidity('')">
                                        <span class="form-text m-b-none text-success">{{ _('To control duplicate submissions, you need to select a variable from your ODK Form whose values will be UNIQUE across all the submissions that you expect to have. If you need to join two or more variables to become UNIQUE, then use an ODK Calculate to merge them into one variable. This variable will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterward.') }}</span>
                                    </div>
                                {% else %}
                                    {% if formDetails.form_casetype == 1 %}
                                        <input type="hidden" name="form_casetype" value="{{ formDetails.form_casetype }}">
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to identify each case?') }}</b></label>
                                            <input type="text" name="form_pkey" {% if formDetails.form_pkey != None %}value="{{ formDetails.form_pkey }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to identify each case') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Each case must be UNIQUE. You need to select a variable from your ODK Form whose values will be UNIQUE across all the cases that you expect to have. If you need to join two or more variables to become UNIQUE, then use an ODK Calculate to merge them into one variable. This variable will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterward.') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to label each case?') }}</b></label>
                                            <input type="text" name="form_caselabel" {% if formDetails.form_caselabel != None %}value="{{ formDetails.form_caselabel }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to label each case') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Each case needs to have a label. You need to select a variable from your ODK Form to label each case. Follow-up forms will use this variable to search and select each case. If you need to join two or more variables to create a label, then use an ODK Calculate to merge them into one variable.') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to record the date of a case?') }}</b></label>
                                            <input type="text" name="form_casedatetime" {% if formDetails.form_casedatetime != None %}value="{{ formDetails.form_casedatetime }}"{% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the case datetime variable') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Each case must be registered in a date. This variable MUST BE either "date" or "datetime".') }}</span>
                                        </div>
                                    {% else %}
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('Type of case form') }}</b></label>
                                            <label><input type="radio" {% if formDetails.form_caselabel == 2 %}checked{% endif %} value="2" id="case_followup" name="form_casetype"> {{ _('Simple follow-up form') }}</label><br/>
                                            <label><input type="radio" {% if formDetails.form_caselabel == 3 %}checked{% endif %} value="3" id="case_deactivate" name="form_casetype"> {{ _('Follow-up and deactivate case form') }}</label><br/>
                                            <label><input type="radio" {% if formDetails.form_caselabel == 4 %}checked{% endif %} value="4" id="case_activate" name="form_casetype"> {{ _('Follow-up and activate case form') }}</label>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In the ODK Form that you are uploading into FormShare, which variable will be used to search and select a case?') }}</b></label>
                                            <input type="text" name="form_caseselector" {% if formDetails.form_caseselector != None %}value="{{ formDetails.form_caseselector }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to search and select cases') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('This variable MUST BE either a "select_one_from_file" (The file MUST BE CSV) or a "barcode".') }}<br/>{{ _('Download an example the CSV file ') }} <a style="color: orange" href="" target="_blank">{{ _('here') }}</a></span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In the ODK Form that you are uploading into FormShare, which variable will be used to record the date or the date and time of a new data point attached to a case?') }}</b></label>
                                            <input type="text" name="form_casedatetime" {% if formDetails.form_casedatetime != None %}value="{{ formDetails.form_casedatetime }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to record date or date and time.') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Follow-up case forms attach data to a case. Each case can have different data at different points in time. Each data point must have a date. This variable MUST BE either "date" or "datetime".') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In the ODK Form that you are uploading into FormShare, which variable will be used to control duplicate cases?') }}</b></label>
                                            <input type="text" name="form_pkey" {% if formDetails.form_pkey != None %}value="{{ formDetails.form_pkey }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to control duplicate cases') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('To control duplicate cases, you need to join two or more variables to become UNIQUE. For example, use an ODK Calculate to join the variable that you selected above to search and select a case with the variable that you selected above to record the date of new data point attached to a case. This ODK Calculate will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterwards.') }}</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if projectDetails.project_case == 0 %}
                                    <input type="hidden" name="form_pkey" value="{{ formDetails.parent_form_data.form_pkey }}">
                                {% else %}
                                    <input type="hidden" name="form_pkey" value="{{ formDetails.parent_form_data.form_pkey }}">
                                    <input type="hidden" name="form_casetype" value="{{ formDetails.parent_form_data.form_casetype }}">
                                    <input type="hidden" name="form_casedatetime" value="{{ formDetails.parent_form_data.form_casedatetime }}">
                                    {% if formDetails.parent_form_data.form_casetype == 1 %}
                                        <input type="hidden" name="form_caselabel" value="{{ formDetails.parent_form_data.form_caselabel }}">
                                    {% else %}
                                        <input type="hidden" name="form_caseselector" value="{{ formDetails.parent_form_data.form_caseselector }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock update_form_form_fields %}
                    {% block update_form_form_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary">{{ _('Upload new version') }}</button>
                        </div>
                    {% endblock update_form_form_actions %}
                {% endblock update_form_form %}
            </form>
        </div>
    </div>
</div>