<div class="modal inmodal" id="update_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ _('Upload new version') }}</h4>
            </div>
            <form role="form" method="post" enctype="multipart/form-data" action="{{ request.route_url('update_form',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formid) }}">
                {{ form.secure_form(request) }}
                <div class="modal-body">
                    <div class="custom-file">
                        <input id="xlsx" accept="*.xlsx" name="xlsx" type="file" class="custom-file-input">
                        <label for="xlsx" class="custom-file-label">{{ _('Choose file...') }}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                    <button type="submit" class="btn btn-primary">{{ _('Upload new version') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>