<div class="modal inmodal" id="update_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block update_form_header %}
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Upload new version') }}</h4>
                {% endblock update_form_header %}
            </div>
            <div class="row">
                {% block update_form_warning_message %}
                    <div class="col-md-12">
                        <h5 class="text-center text-warning">{{ _('Warning: Uploading a new version will remove any test data') }}</h5>
                    </div>
                {% endblock update_form_warning_message %}
            </div>
            <form id="form_update_form" role="form" method="post" enctype="multipart/form-data" action="{{ request.route_url('update_form',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formid) }}">
                {% block update_form_form %}
                    {{ form.secure_form(request) }}
                    {% block update_form_form_fields %}
                        <div class="modal-body">
                            <div style="margin-top: 10px" class="form-group">
                                <label><b>{{ _('Survey file (xls / xlsx)') }}</b></label>
                                <div class="custom-file">
                                    <input type="file" name="xlsx" class="custom-file-input">
                                    <label class="custom-file-label" for="inputGroupFile01">{{ _('Choose file') }}</label>
                                </div>
                            </div>
                            <div style="margin-top: 10px" class="form-group">
                                <label><b>{{ _('Which variable will be used to control dupplicate submissions?') }}</b></label>
                                <input type="text" name="form_pkey" {% if formDetails.form_pkey != None %}value="{{ formDetails.form_pkey }}" {% endif %} class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the Primary Key') }}')"  oninput="setCustomValidity('')">
                                <span class="form-text m-b-none text-success">{{ _('This will become the Primary Key of the repository. If you have more than one variable then use a calculate to join them.') }}</span>
                            </div>
                        </div>
                    {% endblock update_form_form_fields %}
                    {% block update_form_form_actions %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary">{{ _('Upload new version') }}</button>
                        </div>
                    {% endblock update_form_form_actions %}
                {% endblock update_form_form %}
            </form>
        </div>
    </div>
</div>