<div class="modal inmodal" id="upload_form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block upload_form_header %}
                    <button id="cross_upload_form_button" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {% if not upload_for_merging %}
                        {% if projectDetails.project_case == 0 %}
                            <h4 class="modal-title">{{ _('Upload form') }}</h4>
                        {% else %}
                            <h4 class="modal-title">{{ _('Upload case form') }}</h4>
                        {% endif %}
                    {% else %}
                        {% if projectDetails.project_case == 0 %}
                            <h4 class="modal-title">{{ _('Upload form for merging') }}</h4>
                        {% else %}
                            <h4 class="modal-title">{{ _('Upload case form for merging') }}</h4>
                        {% endif %}
                    {% endif %}
                {% endblock upload_form_header %}
            </div>
            {% if not upload_for_merging %}
                <form id="form_upload_form" role="form" method="post" class="require_busy" enctype="multipart/form-data" action="{{ action_url }}">
            {% else %}
                <form id="form_upload_form" role="form" method="post" class="require_busy" enctype="multipart/form-data" action="{{ request.route_url('form_merge', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}">
            {% endif %}
                {% block upload_form_form %}
                    {{ form.secure_form(request) }}
                    <div class="modal-body">
                        {% block upload_form_fields %}
                            <div style="margin-top: 10px" class="form-group">
                                <label><b>{{ _('Survey file (xls / xlsx)') }}</b></label>
                                <div class="custom-file">
                                    <input id="xlsx" accept="*.xlsx" name="xlsx" type="file" class="custom-file-input">
                                    <label for="xlsx" class="custom-file-label">{{ _('Select the ODK Form that you want to upload into FormShare') }}</label>
                                </div>
                            </div>
                            {% if not upload_for_merging %}
                                {% if projectDetails.project_case == 0 %}
                                    <hr>
                                    <div style="margin-top: 10px" class="form-group">
                                        <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to control duplicate submissions?') }}</b></label>
                                        <input type="text" name="form_pkey" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to control duplicate data') }}')"  oninput="setCustomValidity('')">
                                        <span class="form-text m-b-none text-success">{{ _('To control duplicate submissions, you need to select a variable from your ODK Form whose values will be UNIQUE across all the submissions that you expect to have. If you need to join two or more variables to become UNIQUE, then use an ODK Calculate to merge them into one variable. This variable will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterward.') }}</span>
                                    </div>
                                    <hr>
                                    <div style="margin-top: 10px" class="form-group">
                                        <label><b>{{ _('How many submissions to do expect to have?') }}</b></label>
                                        <input type="number" name="form_target" value="0" class="form-control">
                                        <span class="form-text m-b-none">{{ _('Leave blank or indicate 0 if there is no target ') }}</span>
                                    </div>
                                {% else %}
                                    {% if projectDetails.total_forms == 0 %}
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to identify each case?') }}</b></label>
                                            <input type="text" name="form_pkey" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to identify each case') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Each case must be UNIQUE. You need to select a variable from your ODK Form whose values will be UNIQUE across all the cases that you expect to have. If you need to join two or more variables to become UNIQUE, then use an ODK Calculate to merge them into one variable. This variable will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterward.') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to label each case?') }}</b></label>
                                            <input type="text" name="form_caselabel" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the case label variable') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Each case needs to have a label. You need to select a variable from your ODK Form to label each case. Follow-up forms will use this variable to search and select each case. If you need to join two or more variables to create a label, then use an ODK Calculate to merge them into one variable.') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('How many cases do you expect to have?') }}</b></label>
                                            <input type="number" name="form_target" value="0" class="form-control">
                                            <span class="form-text m-b-none">{{ _('Leave blank or indicate 0 if there is no target ') }}</span>
                                        </div>
                                    {% else %}
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('Type of case form') }}</b></label><br/>
                                            <label><input type="radio" checked value="2" id="case_followup" name="form_casetype"> {{ _('Simple follow-up') }}</label> <i id="info_follow_up" class="fas fa-info-circle"></i> |
                                            <label><input type="radio" value="3" id="case_deactivate" name="form_casetype"> {{ _('Follow-up and deactivate') }}</label> <i id="info_deactivate" class="fas fa-info-circle"></i> |
                                            <label><input type="radio" value="4" id="case_activate" name="form_casetype"> {{ _('Follow-up and activate') }}</label> <i id="info_activate" class="fas fa-info-circle"></i>
{#                                            <span class="form-text m-b-none text-success">{{ _('Click on eac') }}</span>#}
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to search and select a case?') }}</b></label>
                                            <input type="text" name="form_caseselector" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the case selector variable') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('This variable MUST BE either a "select_one_from_file" (The file MUST BE CSV) or a "barcode".') }}<br/>{{ _('Download an example the CSV file ') }} <a style="color: orange" href="" target="_blank">{{ _('here') }}</a></span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to record the date of a new data point attached to a case?') }}</b></label>
                                            <input type="text" name="form_casedatetime" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the case datetime variable') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Follow-up forms attach data to a case. Each case can have different data at different points in time. Each data point must have a date. This variable MUST BE either "date" or "datetime".') }}</span>
                                        </div>
                                        <hr>
                                        <div style="margin-top: 10px" class="form-group">
                                            <label><b>{{ _('In this ODK Form that you are uploading into FormShare, which variable will be used to control duplicate data?') }}</b></label>
                                            <input type="text" name="form_pkey" class="form-control" required oninvalid="this.setCustomValidity('{{ _('You need to indicate the variable to control duplicate cases') }}')"  oninput="setCustomValidity('')">
                                            <span class="form-text m-b-none text-success">{{ _('Follow-up forms attach information to a case at different points in time. Therefore, the ID of the case + the date/datetime should be UNIQUE across time. You just indicated above: a) The variable used to search and select a case and b) The variable to record the date. In your ODK form join these two variables into a "calculate" variable and paste its name here. This variable will become the Primary Key of your ODK Form and CANNOT BE CHANGED afterwards.') }}</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <input type="hidden" name="for_merging">
                                <input type="hidden" name="parent_project" value="{{ parent_project }}">
                                <input type="hidden" name="parent_form" value="{{ parent_form }}">
                            {% endif %}
                        {% endblock upload_form_fields %}
                    </div>
                    <div class="modal-footer">
                        {% block upload_form_actions %}
                            <button id="cancel_upload_form_button" type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button id="upload_form_button" type="submit" class="btn btn-primary">{{ _('Upload') }}</button>
                        {% endblock upload_form_actions %}
                    </div>
                {% endblock upload_form_form %}
            </form>
        </div>
    </div>
</div>