<div class="modal inmodal" id="upload_file" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                {% block upload_file_header %}
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('Upload file') }}</h4>
                {% endblock upload_file_header %}
            </div>
            <form role="form" method="post" enctype="multipart/form-data" action="{{ request.route_url('form_upload',userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formid) }}">
                {% block upload_file_form %}
                    {{ form.secure_form(request) }}
                    <div class="modal-body">
                        {% block upload_file_form_fields %}
                            <div class="custom-file">
                                <input type="file" name="filetoupload" multiple class="custom-file-input">
                                <label class="custom-file-label" for="inputGroupFile01">{{ _('Choose files') }}</label>
                            </div>
                            <div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row"><label class="col-sm-2 col-form-label">{{ _('Overwrite') }}</label>
                                    <div class="col-sm-10"><input type="checkbox" id="overwrite" name="overwrite" class="js-switch"/><span class="form-text m-b-none">{{ _('Overwrite any existent file') }}</span></div>
                                </div>
                            </div>
                        {% endblock upload_file_form_fields %}
                    </div>
                    <div class="modal-footer">
                        {% block upload_file_form_actions %}
                            <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Cancel') }}</button>
                            <button type="submit" class="btn btn-primary">{{ _('Upload') }}</button>
                        {% endblock upload_file_form_actions %}
                    </div>
                {% endblock upload_file_form %}
            </form>
        </div>
    </div>
</div>