{% extends 'dashboard/page.jinja2' %}


{% block titlesection %}{{ _("Dashboard") }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% if viewingSelfAccount == False %}
        {% cssresource request,'formshare','bsmarkdown' %}
    {% else %}
        {% cssresource request,'formshare','leaflet' %}
    {% endif %}
{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% if viewingSelfAccount == False %}
        {% jsresource request,'formshare','markdown' %}
        {% jsresource request,'formshare','clipboard' %}
    {% else %}
        {% jsresource request,'formshare','leaflet' %}
    {% endif %}
{% endblock topScripts %}

{% block dashheader %}
    {% if viewingSelfAccount %}
        {% if userProjects|length > 0 %}
            <div class="row border-bottom dashboard-header" style="background-color: #676a6c">
                {% block project_list_section %}
                    <div class="col-md-12">
                        {% if activeUser != None  %}
                            {% if viewingSelfAccount %}
                                <h2 style="color: white">{{ _('Welcome') }}</h2>
                            {% else %}
                                <h2>{{ _('Your are viewing others account') }}</h2>
                            {% endif %}
                        {% endif %}
                        <h3 style="color:white;">{{ _('Recent activity in project') }} "<a style="color: white" href="{{ request.route_url('project_details', userid=activeUser.login, projcode=activeProject.project_code) }}" >{{ activeProject.project_name }}</a>"</h3>
                        {% include 'dashboard/snippets/active_project_summary.jinja2' %}
                    </div>
                {% endblock project_list_section %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block maincontent %}
    {% if viewingSelfAccount %}
        {{ super() }}
    {% else %}
        {% include 'dashboard/profile/snippets/profile_head.jinja2' %}
        {% include 'dashboard/profile/snippets/profile_details.jinja2' %}
    {% endif %}

{% endblock maincontent %}

{% block mainsection %}
    {% if viewingSelfAccount %}
        {% if userProjects|length > 0 %}
            <div>
                <h3>{{ _('Account summary') }}</h3>
            </div>
            {% include 'dashboard/snippets/account_summary.jinja2' %}
        {% else %}
            <div class="middle-box text-center animated fadeInDown">
                <h1><i class="fas fa-folder-plus"></i></h1>
                <h3 class="font-bold">{{ _('It seems that you are new here!') }}</h3>
                <div class="error-desc">

                    <button type="button" onclick="location.href='{{ request.route_url('projects_add',userid=activeUser.login,_query={'next':request.route_url('dashboard',userid=activeUser.login)}) }}';" class="btn btn-w-m btn-success">{{ _('Create a new project') }}</button>
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    {% if viewingSelfAccount == False %}
        <script>
            $(document).ready(function() {
                $('.scroll_content2').slimscroll();
                new ClipboardJS('.clipboard');
            });
        </script>

        {% if userDetails.user_about != None %}
            <script>
                $(document).ready(function() {
                    var val = $("#bio_hidden").val();
                    document.getElementById('profile_bio').innerHTML = markdown.toHTML(val);

                    $('.scroll_content').slimscroll();
                });
            </script>
        {% endif %}
    {% else %}
        <script>
            var mymap = L.map('projmap').setView([51.505, -0.09], 13);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoicWxhbmRzIiwiYSI6ImNqZHB1ZDh4YzEwZHEyeG1rcjc0NmFsNzIifQ.i3YebmNDByns1c1ixZE0bA'
            }).addTo(mymap);

            var element = document.getElementById('mapbox');
            var full_screen = false;
            var normal_height = $("#projmap").height();
            new ResizeSensor(element, function() {
                var window_width = $(window).width();
                var element_width =  element.clientWidth;
                if ((element_width / window_width) >= 0.80)
                {
                    $("#projmap").height($(window).height()-80);
                    mymap.invalidateSize();
                    //console.log('Changed to ' + element.clientWidth);
                    full_screen = true;
                }
                else
                {
                    if (full_screen)
                    {
                        $("#projmap").height(normal_height);
                        mymap.invalidateSize();
                        //console.log('Back to ' + normal_height);
                        //console.log('Changed to ' + element.clientWidth);
                        full_screen = false;
                    }
                }
            });

            $('.scroll_content').slimscroll({
                height: '300px'
            })

        </script>
    {% endif %}
{% endblock scripts %}

