{% extends 'dashboard/base.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block title %}
    <title>{{ _("FormShare | Register") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'dashboard','style' %}
{% endblock css %}

{% block bodyclass %}gray-bg{% endblock bodyclass %}

{% block body %}
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                {% block reglogo %}
                    <h1 class="logo-name">FS</h1>
                {% endblock reglogo %}
            </div>
            {% block regwelcome %}
                <h3>{{ _("Join FormShare") }}</h3>
                <p>{{ _("The best way to aggregate data using ODK.") }}</p>
            {% endblock regwelcome %}
            {{ form.display_errors(errors) }}
            <form class="m-t" role="form" method="post" action="{{ request.path }}">
                {{ form.csrf_token(request) }}
                {% block regform %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="user_id" placeholder="{{ _("Username") }}" required="" value="{{ data.user_id }}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="user_name" placeholder="{{ _("Full name") }}" required="" value="{{ data.user_name }}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="user_email" placeholder="{{ _("Email") }}" required="" value="{{ data.user_email }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="user_password" class="form-control" placeholder="{{ _("Password") }}" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" name="user_password2" class="form-control" placeholder="{{ _("Retype password") }}" required="">
                    </div>
                    {% block formextra %}
                        {# Extend this block to add new fields to the form #}
                    {% endblock formextra %}
                    <button type="submit" class="btn btn-primary block full-width m-b">{{ _("Register") }}</button>
                {% endblock regform %}
            </form>
        </div>
        {% block registerfooter %}
            <p class="text-muted text-center"><small>{{ _("Already have an account?") }}</small></p>
            <a class="btn btn-sm btn-success btn-block" href="{{ request.route_url('login') }}">{{ _("Login") }}</a>
            {# Extend this section if you need to add policy and terms of service #}
        {% endblock registerfooter %}
    </div>

    {% block scripts %}
        {% jsresource request,'dashboard','bootstrap' %}
    {% endblock scripts %}
{% endblock body %}