<section id="contact" class="gray-section contact" {% block contact_css_style %} {% endblock contact_css_style %}>
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{ _('Contact us') }}</h1>
                <p>{{ _('If you have questions, please drop us an email or a Github issue') }}.</p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    {% block address %}
                        <strong><span class="navy">QLands Technology Consultants.</span></strong><br/>
                        San Antonio de Belen<br/>
                        Heredia, Costa Rica<br/>
                        <abbr title="{{ _('Telephone') }}">{{ _('P') }}:</abbr> +506 62365878
                    {% endblock address %}
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    {% block terms %}
                    {{ _('This service is free for now however this could change in the future and you might need to pay a fee and accept a Terms of Service and Privacy policy') }}.
                    {% endblock terms %}
                </p>
            </div>
        </div>
        <div class="row">
            {% block contact_and_social %}
            <div class="col-lg-12 text-center">
                <a href="mailto:info@qlands.com" class="btn btn-primary">{{ _('Send us an email') }}</a>
                <p class="m-t-sm">
                    {{ _('Or follow us on social media') }}
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="https://twitter.com/QlandsS" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://github.com/qlands/FormShare" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
            {% endblock contact_and_social %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <strong>{{ _('Version') }} {{ request.h.get_version() }}</strong>
                <p><strong>&copy; 2020 QLands Technology Consultants</strong></p>
                {% block version_extra %}

                {% endblock version_extra %}
            </div>
        </div>
    </div>
</section>