<section  style="background: white; margin-top: 10px" class="container features" >
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="blue-line"></div>
            <h1><span style="color: #026AA8">Centralize</span> data –  <span style="color: #026AA8">Decentralize</span> knowledge</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i style="color: #026AA8" class="fas fa-database features-icon"></i>
                <h2>Centralize data</h2>
                <p>Store your data in a consistent way inside a relational database without duplicates or inconsistencies.</p>
            </div>
            <div class="m-t-lg" style="margin-top: 100px">
                <i style="color: #026AA8" class="fa fa-mobile features-icon"></i>
                <h2>Complete mobile support</h2>
                <p>ForShare supports data collection technologies like <a href="https://opendatakit.org/" target="_blank"> OpenData Kit (ODK)</a> and <a target="_blank" href="https://www.census.gov/data/software/cspro.html">CSPro</a>.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="{{ request.url_for_static('mainlogo.png') }}" alt="dashboard" class="img-fluid">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i style="color: #026AA8" class="fab fa-hornbill features-icon"></i>
                <h2>Decentralize knowledge</h2>
                <p>Create collaborations around data and allow access everywhere using common tools like Excel, STATA or R </p>
            </div>
            <div class="m-t-lg" style="margin-top: 100px">
                <i style="color: #026AA8" class="fas fa-bolt features-icon"></i>
                <h2>Fast!</h2>
                <p>FormShare will cater for you whether you store few submissions for your master thesis or millions for your national census.</p>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-12 text-center">#}
{#            <div class="navy-line"></div>#}
{#            <h1>Discover great feautres</h1>#}
{#            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>#}
{#        </div>#}
{#    </div>#}
    <div class="row features-block">
{#        <div class="col-lg-6 features-text wow fadeInLeft">#}
{#            <small>INSPINIA</small>#}
{#            <h2>Perfectly designed </h2>#}
{#            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>#}
{#            <a href="" class="btn btn-primary">Learn more</a>#}
{#        </div>#}
{#        <div class="col-lg-6 text-right wow fadeInRight">#}
{#            <img src="img/landing/dashboard.png" alt="dashboard" class="img-fluid float-right">#}
{#        </div>#}
{#    </div>#}
    </div>
</section>