<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            {% block navmainbutton %}
                <a class="navbar-brand" href="{{ request.route_url('login') }}">Sign in</a>
            {% endblock navmainbutton %}
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    {% block navcollapseicon %}
                        <i class="fa fa-bars"></i>
                    {% endblock navcollapseicon %}
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% block navitems %}
                        <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                        {#                    <li><a class="nav-link page-scroll" href="#features">Features</a></li>#}
                        {#                    <li><a class="nav-link page-scroll" href="#team">Team</a></li>#}
                        {#                    <li><a class="nav-link page-scroll" href="#testimonials">Testimonials</a></li>#}
                        {#                    <li><a class="nav-link page-scroll" href="#pricing">Pricing</a></li>#}
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                    {% endblock navitems %}
                </ul>
            </div>
        </div>
    </nav>
</div>