<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Pricing</h1>
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>#}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
{#                <ul class="pricing-plan list-unstyled">#}
{#                    <li class="pricing-title">#}
{#                        Basic#}
{#                    </li>#}
{#                    <li class="pricing-desc">#}
{#                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.#}
{#                    </li>#}
{#                    <li class="pricing-price">#}
{#                        <span>$16</span> / month#}
{#                    </li>#}
{#                    <li>#}
{#                        Dashboards#}
{#                    </li>#}
{#                    <li>#}
{#                        Projects view#}
{#                    </li>#}
{#                    <li>#}
{#                        Contacts#}
{#                    </li>#}
{#                    <li>#}
{#                        Calendar#}
{#                    </li>#}
{#                    <li>#}
{#                        AngularJs#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="btn btn-primary btn-xs" href="#">Signup</a>#}
{#                    </li>#}
{#                </ul>#}
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Tryout version
                    </li>
                    <li class="pricing-desc">
                        The current version is a tryout while we sort some legal aspects and policies and costing.
                    </li>
                    <li class="pricing-price">
                        <span>Free</span>
                    </li>
                    <li>
                        Unlimited projects
                    </li>
                    <li>
                        Unlimited ODK forms
                    </li>
                    <li>
                        RDMS repository
                    </li>
                    <li>
                        Web data cleaning
                    </li>
                    <li>
                        OData access
                    </li>
                    <li>
                        <strong>Support via Github issues</strong>
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" href="{{ request.route_url('register') }}">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
{#                <ul class="pricing-plan list-unstyled">#}
{#                    <li class="pricing-title">#}
{#                        Premium#}
{#                    </li>#}
{#                    <li class="pricing-desc">#}
{#                        Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.#}
{#                    </li>#}
{#                    <li class="pricing-price">#}
{#                        <span>$160</span> / month#}
{#                    </li>#}
{#                    <li>#}
{#                        Dashboards#}
{#                    </li>#}
{#                    <li>#}
{#                        Projects view#}
{#                    </li>#}
{#                    <li>#}
{#                        Contacts#}
{#                    </li>#}
{#                    <li>#}
{#                        Calendar#}
{#                    </li>#}
{#                    <li>#}
{#                        AngularJs#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="btn btn-primary btn-xs" href="#">Signup</a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-12 text-center m-t-lg">
                <p>*The tryout version is for testing purposes only and not for production. Data might be erased at any time.</p>
            </div>
        </div>
    </div>
</section>