<div id="inSlider" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption" style="margin-left: 60px; top: 20px;">
                    <h1>Welcome to </br>FormShare</h1>
                    <p>Professional mobile data collection</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background-image:url({{request.url_for_static('header_three.jpg')}});"></div>

        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="carousel-caption blank" style="margin-left: 60px; top: 20px;">
                    <h1>Built with<br/>Open source</h1>
                    <p>FormShare combines in a professional way technologies like <br/>Open Data Kit (ODK), Telegram and OData <br/> to give you the best experience collecting mobile data</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background-image:url({{request.url_for_static('header_five.jpg')}});"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#inSlider" style="width: 50px" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" style="width: 50px;" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{#<div id="carouselExampleBigIndicators" class="carousel slide" data-ride="carousel">#}
{#    <ol class="carousel-indicators">#}
{#        <li data-target="#carouselExampleBigIndicators" data-slide-to="0" class="active"></li>#}
{#        <li data-target="#carouselExampleBigIndicators" data-slide-to="1"></li>#}
{#        <li data-target="#carouselExampleBigIndicators" data-slide-to="2"></li>#}
{#    </ol>#}
{#    <div class="carousel-inner">#}
{#        <div class="carousel-item active">#}
{#            <img class="d-block w-100" src="{{request.url_for_static('header_three.jpg')}}" alt="First slide">#}
{#        </div>#}
{#        <div class="carousel-item">#}
{#            <img class="d-block w-100" src="{{request.url_for_static('header_five.jpg')}}" alt="Second slide">#}
{#        </div>#}
{#        <div class="carousel-item">#}
{#            <img class="d-block w-100" src="{{request.url_for_static('header_five.jpg')}}" alt="Third slide">#}
{#        </div>#}
{#    </div>#}
{#    <a class="carousel-control-prev" href="#carouselExampleBigIndicators" role="button" data-slide="prev">#}
{#        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Previous</span>#}
{#    </a>#}
{#    <a class="carousel-control-next" href="#carouselExampleBigIndicators" role="button" data-slide="next">#}
{#        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Next</span>#}
{#    </a>#}
{#</div>#}