{% extends 'dashboard/page.jinja2' %}
{% import 'dashboard/macros/form.jinja2' as form %}

{% block titlesection %}{{ _('Manage submissions') }}{% endblock titlesection %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','jqgrid_bootstrap' %}

{% endblock css %}

{% block topScripts %}
    {{ super() }}
    {% jsresource request,'formshare','jqgrid' %}
{% endblock topScripts %}

{% block breadcrumbs %}
    {% include 'dashboard/projects/forms/submissions/snippets/brdcrbs_audit.jinja2' %}
{% endblock breadcrumbs %}

{% block mainsection %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>{{ _('History of changes made to the data of ') }} "{{ formDetails.form_name }}"</h2>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table style="max-width: 500px" id="jqGrid"></table>
                                <div id="jqGridPager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                url: "{{ request.route_url('getFormAudit', userid=projectDetails.owner, projcode=projectDetails.project_code, formid=formDetails.form_id) }}",
                mtype: "POST",
                postData: {csrf_token: '{{ request.session.get_csrf_token() }}'},
                styleUI : 'Bootstrap4',
                iconSet: 'fontAwesome',
                datatype: "jsonp",
                colModel: [
                    {% for field in fields %}
                        {label: '{{ field.desc }}', name: '{{ field.name }}' {% if field.name == 'audit_id' %}, key: true{% endif %}, editable: false},
                    {% endfor %}
                ],
                viewrecords: true,
                height: 'auto',
                rowNum: 10,
                pager: "#jqGridPager",
                shrinkToFit: false,
                autowidth: true,
            });


            $('#jqGrid').navGrid('#jqGridPager',
                // the buttons to appear on the toolbar of the grid
                { edit: false, add: false, del: false, search: true, refresh: false, view: false, position: "left", cloneToTop: false},
                {},
                {},
                {},
                {
                    caption: "{{ _('Search') }}",
                    sopt: ['like','notlike'],
                    odata: [{ oper:'like', text:"{{ _('like') }}"}, { oper:'notlike', text:"{{ _('not like') }}"}],
                });
        });

    </script>
{% endblock scripts %}