{% extends 'dashboard/page.jinja2' %}

{% block css %}
    {{ super() }}
    {% cssresource request,'formshare','blueimp' %}
{% endblock css %}

{% block bodycontent %}
    <div id="submission_content">
        {% block submission_content %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            {% block marker_info_head %}
                                <h2>{{ _('Submission ID') }}: {{ submissionID }}</h2>
                            {% endblock marker_info_head %}
                            <div class="clients-list">
                                <ul class="nav nav-tabs">
                                    {% block marker_info_tabs %}
                                        <li><a class="nav-link active" data-toggle="tab" href="#tab_submission_data"><i class="fas fa-table"></i> {{ _('Summary data') }}</a></li>
                                        {% if mediaFiles|length > 0 %}
                                            <li><a class="nav-link" data-toggle="tab" href="#tab_submission_media"><i class="fas fa-images"></i> {{ _('Submission media') }}</a></li>
                                        {% endif %}
                                    {% endblock marker_info_tabs %}
                                </ul>
                                <div class="tab-content">
                                    {% block marker_info_content %}
                                        <div id="tab_submission_data" class="tab-pane active" style="max-height: 425px">
                                            {% block marker_info_data %}
                                                <div id="maker_table_id" class="full-height-scroll">
                                                    <div class="table-responsive" style="max-height: 420px">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th><b>{{ _('Variable name') }}</b></th>
                                                                <th><b>{{ _('Variable description') }}</b></th>
                                                                <th><b>{{ _('Value') }}</b></th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            {% for a_variable in submissionData %}
                                                                {% if a_variable.pkey == true %}
                                                                    <tr>
                                                                        <td><b>{{ a_variable.key }}</b></td>
                                                                        <td><b>{{ a_variable.desc }}</b></td>
                                                                        <td><b>{{ a_variable.value }}</b></td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for a_variable in submissionData %}
                                                                {% if a_variable.pkey == false %}
                                                                    <tr>
                                                                        <td>{{ a_variable.key }}</td>
                                                                        <td>{{ a_variable.desc }}</td>
                                                                        <td>{{ a_variable.value }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endblock marker_info_data %}
                                        </div>
                                        {% if mediaFiles|length > 0 %}
                                            <div id="tab_submission_media" class="tab-pane" style="max-height: 425px">
                                                {% block marker_info_media_tab %}
                                                    {% if hasImages %}
                                                        {% block marker_info_image_box %}
                                                            <div class="ibox ">
                                                                <div class="ibox-title">
                                                                    {% block marker_info_image_title %}
                                                                        <h5>{{ _('Images') }}</h5>
                                                                    {% endblock marker_info_image_title %}
                                                                </div>
                                                                <div class="ibox-content">
                                                                    {% block marker_info_image_content %}
                                                                        <div class="lightBoxGallery">
                                                                            {% for a_file in mediaFiles %}
                                                                                {% if a_file.image %}
                                                                                    <a href="{{ request.route_url('get_submission_media_file', userid=userid,projcode=projcode,formid=formid,submissionid=submissionid,filename=a_file.file) }}" data-gallery=""><img src="{{ request.route_url('get_submission_media_file', userid=userid,projcode=projcode,formid=formid,submissionid=submissionid,filename=a_file.file,_query={'thumbnail':'True'}) }}"></a>
                                                                                {% endif %}
                                                                            {% endfor %}

                                                                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                                                            <div id="blueimp-gallery" class="blueimp-gallery">
                                                                                <div class="slides"></div>
                                                                                <h3 class="title"></h3>
                                                                                <a class="prev">‹</a>
                                                                                <a class="next">›</a>
                                                                                <a class="close">×</a>
                                                                                <a class="play-pause"></a>
                                                                                <ol class="indicator"></ol>
                                                                            </div>
                                                                        </div>
                                                                    {% endblock marker_info_image_content %}
                                                                </div>
                                                            </div>
                                                        {% endblock marker_info_image_box %}
                                                    {% endif %}
                                                    {% if hasOtherMedia %}
                                                        {% block marker_info_other_media_box %}
                                                            <div class="ibox ">
                                                                <div class="ibox-title">
                                                                    {% block marker_info_other_media_title %}
                                                                        <h5>{{ _('Other media') }}</h5>
                                                                    {% endblock marker_info_other_media_title %}
                                                                </div>
                                                                <div class="ibox-content">
                                                                    {% block marker_info_other_media_content %}
                                                                        <ul class="tag-list" style="padding: 0">
                                                                            {% for a_file in mediaFiles %}
                                                                                {% if a_file.image == false %}
                                                                                    <li><a href="{{ request.route_url('get_submission_media_file', userid=userid,projcode=projcode,formid=formid,submissionid=submissionid,filename=a_file.file) }}"> {{ a_file.file }}</a></li>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endblock marker_info_other_media_content %}
                                                                </div>
                                                            </div>
                                                        {% endblock marker_info_other_media_box %}
                                                    {% endif %}
                                                {% endblock marker_info_media_tab %}
                                            </div>
                                        {% endif %}
                                    {% endblock marker_info_content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock submission_content %}
    </div>
{% endblock bodycontent %}

{% block scripts %}
    {{ super() }}
    {% jsresource request,'formshare','blueimp' %}
{% endblock scripts %}
