{% extends 'assistant/page.jinja2' %}

{% block title %}
    <title>{{ _('Assistant forms') }}</title>
{% endblock title %}

{% block breadcrumbs %}
    {% include 'assistant/snippets/brdcrbs_home.jinja2' %}
{% endblock breadcrumbs %}

{% block maincontent %}
    {{ form.display_errors(posterrors) }}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ _('Forms you assists with in project ') }} "{{ projectDetails.project_name }}" </h5>
            <div class="ibox-tools">
                <a class="collapse-link" style="margin-right: 10px">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="feed-activity-list">
                {% for form in forms %}
{#                    {% if form.form_incversion == 0 %}#}
                        {% include 'assistant/snippets/project_form_odk_item.jinja2' %}
{#                    {% else %}#}
{#                        {% include 'dashboard/projects/snippets/project_subversion_item.jinja2' %}#}
{#                    {% endif %}#}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="qrcode" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ _('QR Code') }}</h4>
                    <small class="font-bold">Use this QR Code to configure ODK collect</small>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img style="max-width: 150px" id="qrimage" alt="QR Code" src="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('.qrbutton').click(function () {
                var qr_url = $( this ).attr('urn');
                $("#qrimage").attr("src",qr_url);
            });
        });
    </script>
{% endblock %}