<div class="col-sm-12">
    <h2>{{ _('Partner access for') }} {{ activePartner.fullName }}</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <strong>{{ _('Home') }}</strong>
        </li>
    </ol>
</div>