<div class="col-sm-12">
    <h2>Partner outputs in Form "{{ formDetails.form_name }}" of project "{{ projectDetails.project_name }}"</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ request.route_url("partner_forms") }}">{{ _('Dashboard') }}</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>{{ _('Form Details') }}</strong>
        </li>
    </ol>
</div>