{% if request.h.get_setting(request,'use_timezones','False') == 'True' %}
    {% if selected_timezone == 'formshare' %}
        {% set timezone = system_timezone %}
    {% else %}
        {% if selected_timezone == 'user' %}
            {% set timezone = partner_timezone.partner_timezone %}
        {% else %}
            {% set timezone = a_project.project_timezone %}
        {% endif %}
    {% endif %}
{% else %}
    {% set timezone = None %}
{% endif %}

{% if a_project.time_bound == 0 or (a_project.time_bound == 1 and (a_project.access_from <= today and today <= a_project.access_to)) %}
    <div class="feed-item col-md-3" data-groups='[""]' data-title="{{ a_project.project_name }}-{%- for form in a_project.project_forms %}{{ form.form_name }}-{%- endfor %}">
        <div class="feed-element" style="margin-top: 10px">
            <div class="ibox">
                <div class="ibox-title" style="padding-right: 10px">
{#                    This will be enable once we have project level outputs #}
{#                    {% if a_project.project_access %}#}
{#                        <span class="label label-primary float-right"><a>{{ _('View project level outputs') }}</a></span>#}
{#                    {% endif %}#}
                    <h5>{{ a_project.project_name }} {% if selected_timezone == 'project' and timezone != 'UTC'  %}<span class="badge badge-default" title=" {{ request.h.get_timezone_desc(request,a_project.project_timezone) }} ">UTC{{ request.h.get_timezone_offset(request,a_project.project_timezone) }}</span>{% endif %}</h5>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">
                        {% for form in a_project.project_forms %}
                            {% include 'partner/snippets/odk_form_item.jinja2' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}